/* accessibility.css */
/* Contains classes used by the accessibility menu. */

/* ==========================================================================
   Font Size Styles
   ========================================================================== */

/* Smallest */
#main.accessibility_font_size_smallest {
  font-size: 0.5em;
}

#main.homescreen.accessibility_font_size_smallest #desktop .setup_container #setup_toolbar #reload_exhibit,
#main.homescreen.accessibility_font_size_smallest #desktop .setup_container #setup_toolbar #exhibit_disclaimer {
  line-height: 40px!important;
}

#main.homescreen.accessibility_font_size_smallest #desktop #add_activity {
  line-height: 55px !important;
}

#main.accessibility_font_size_smallest .menu_button {
  font-size: 1.25em !important;
  line-height: 25px !important;
}

/* Smaller */
#main.accessibility_font_size_smaller {
  font-size: 0.75em;
}

#main.homescreen.accessibility_font_size_smaller #desktop .setup_container #setup_toolbar #reload_exhibit,
#main.homescreen.accessibility_font_size_smaller #desktop .setup_container #setup_toolbar #exhibit_disclaimer {
  line-height: 40px!important;
}

#main.homescreen.accessibility_font_size_smaller #desktop #add_activity {
  line-height: 55px !important;
}

#main.accessibility_font_size_smaller .menu_button {
  font-size: 1.25em !important;
  line-height: 25px !important;
}

/* Default */
#main.accessibility_font_size_default {
  font-size: 1.0em;
}

/* Larger */
#main.accessibility_font_size_larger {
  font-size: 1.25em;
}

#main.accessibility_font_size_larger .menu_button {
  font-size: 0.95em !important;
  line-height: 25px !important;
}

#main.accessibility_font_size_larger #activity_sort .activity_view {
  padding: 5px 0 !important;
}

#main.accessibility_font_size_larger #activity_sort .activity_options {
  padding: 5px 0 !important;
}

#main.accessibility_font_size_larger .view_details .activity .content .info, 
#main.accessibility_font_size_larger #activities.view_details .activity .content .info {
  font-size: 0.75em !important;
}

/* Largest */
#main.accessibility_font_size_largest {
  font-size: 1.5em;
}

#main.accessibility_font_size_largest .menu_button {
  font-size: 0.9em !important;
  line-height: 25px !important;
}

#main.accessibility_font_size_largest #page_title {
  font-size: 0.95em !important;
}

#main.accessibility_font_size_largest #accessibility_menu .accessibility .accessibility_controls .large_button {
  line-height: 40px !important;
}

#main.accessibility_font_size_largest #info_menu .help_header .title {
  font-size: 0.85em !important;
}

#main.accessibility_font_size_largest #activity_sort .activity_view {
  padding: 5px 0 !important;
}

#main.accessibility_font_size_largest #activity_sort .activity_options {
  padding: 5px 0 !important;
}

#main.accessibility_font_size_largest .view_details .activity .content .info, 
#main.accessibility_font_size_largest #activities.view_details .activity .content .info {
  font-size: 0.7em !important;
}

#main.accessibility_font_size_largest  .view_details .activity .content .activity_description, 
#main.accessibility_font_size_largest #activities.view_details .activity .content .activity_description {
  font-size: 0.9em !important;
}

#main.accessibility_font_size_largest  .view_details .activity .content .activity_header .grouping .group, 
#main.accessibility_font_size_largest #activities.view_details .activity .content .activity_header .grouping .group {
  font-size: 0.95em !important;
}

#main.accessibility_font_size_largest .view_details .activity .content .activity_header .title, 
#main.accessibility_font_size_largest #activities.view_details .activity .content .activity_header .title,
#main.accessibility_font_size_largest .view_list .activity .content .activity_header .title, 
#main.accessibility_font_size_largest #activities.view_list .activity .content .activity_header .title  {
  line-height: 60px !important;
}

#main.homescreen.accessibility_font_size_largest #desktop .setup_container #setup_toolbar #reload_exhibit,
#main.homescreen.accessibility_font_size_largest #desktop .setup_container #setup_toolbar #exhibit_disclaimer {
  font-size: 1em !important;
}

#main.accessibility_font_size_largest  #facilitation_menu .facilitation_header .title {
  font-size: 0.95em !important;
}

#main.accessibility_font_size_largest #header {
  font-size: 0.75em !important;
}

#main.accessibility_font_size_largest #activity_close {
  font-size: 0.85em !important;
}

#main.accessibility_font_size_largest #message .header {
  font-size: 0.95em !important;
}

/* ==========================================================================
   Font Face Styles
   ========================================================================== */

#main.accessibility_font_face_default {
  font-family: 'Open Sans';
}

#main.accessibility_font_face_serif {
  font-family: 'Lora';
}

#main.accessibility_font_face_sansserif {
  font-family: 'Roboto';
}

#main.accessibility_font_face_opendyslexic {
  font-family: 'OpenDyslexic';
}

#main.accessibility_font_face_comicneue {
  font-family: 'Comic Neue';
}

#main.accessibility_font_face_monospace {
  font-family: 'Roboto Monospace';
}
/* ==========================================================================
   Paragraph Alignment Styles
   ========================================================================== */

#main.accessibility_paragraph_alignment_left {
  text-align: left;
}

#main.accessibility_paragraph_alignment_justify {
  text-align: justify;
}

/* ==========================================================================
   Paragraph Spacing Styles
   ========================================================================== */

#main.accessibility_paragraph_spacing_more {
  line-height: 2.0em;
}

#main.accessibility_paragraph_spacing_default {
  line-height: 1.5em;
}

#main.accessibility_paragraph_spacing_less {
  line-height: 1.25em;
}