/* activities.css */
/* Contains classes used by each activity type. */

/* ==========================================================================
   Activity Configuration Options
   ========================================================================== */

/* When the accessibility button is hidden, move over the add button. */
body.hide_accessibility #menu {
	display: none !important;
}

body.hide_accessibility #facilitator_add {
	right: 0 !important;
}

/* ==========================================================================
   Lightbox Configuration
   ========================================================================== */

/* When the user has zoomed in on an image, hide some interface elements to focus on the image. */
.fancybox-container.fancybox-can-pan .fancybox-caption {
	display: none;
}

.fancybox-container.fancybox-can-pan .fancybox-navigation {
	display: none;
}

.fancybox-container.fancybox-can-pan .fancybox-infobar {
	display: none;
}

.fancybox-container.fancybox-can-pan .fancybox-button--play {
	display: none;
}