/* content.css */
/* Contains general classes for page layout. */

/* ==========================================================================
   Loading Screen Styles
   ========================================================================== */

#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 999;
}

#loading .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 70px;
  text-align: center;
}

#loading .spinner > div {
  width: 18px;
  height: 18px;
  background-color: rgba(255,255,255,0.35);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#loading .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

#loading .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}


#small_loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.35);
}


/* ==========================================================================
   Homescreen Styles
   ========================================================================== */

/* The header space used for activities that is hidden beneath the menu. */
body.homescreen #header .title_bar .title {
  display: none;
}

/* Homescreen "desktop" where all the interactable elements are placed. */
body.homescreen #desktop {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  z-index: 2;
  background-repeat: no-repeat;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Container for where facilitators can select activities for their exhibit. */
body.homescreen #desktop .setup_container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

/* Title of the currently loaded program that is displayed on the Exhibit menu. */
body.homescreen #desktop .setup_container #setup_header {
  height: 100px;
  line-height: 95px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  flex-shrink: 0;
}

/* Toolbar that contains options for the exhibit. */
body.homescreen #desktop .setup_container #setup_toolbar {
  height: 45px;
  width: calc(100% - 10px);
  text-align: center;
  display: flex;
  margin: 5px;
}

body.homescreen #desktop .setup_container #setup_toolbar #clear_exhibit {
  height: 45px;
  width: 150px;
  font-weight: 500;
  font-size: 1.0em;
  background-color: rgba(0,0,0,0.15);
  line-height: 45px;
  outline: 0;
  border: 0;
  background-image: url('../img/black/interact/delete_all.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 5px center;
  border-radius: 5px;
  margin: 0 5px 0 0;
}

body.homescreen #desktop .setup_container #setup_toolbar #reload_exhibit {
  height: 45px;
  width: 150px;
  font-weight: 500;
  font-size: 1.0em;
  background-color: rgba(0,0,0,0.15);
  line-height: 45px;
  outline: 0;
  border: 0;
  background-image: url('../img/black/interact/restore.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 5px center;
  border-radius: 5px;
}



body.homescreen #desktop #add_activity {
  height: 45px;
  width: 150px;
  font-weight: 500;
  outline: 0;
  border: 0;
  font-size: 1.0em;
  background-color: rgba(0,0,0,0.15);
  line-height: 45px;
  margin: 0 5px;
  background-image: url('../img/black/interact/add.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 5px center;
  border-radius: 5px;
}

/* Transparency for uninteractable elements. */
body.homescreen #desktop .setup_container.empty #exhibit_disclaimer {
  opacity: 0.25;
}

body.homescreen #desktop .setup_container.empty #setup_toolbar #clear_exhibit {
  opacity: 0.25;
}

/* Add Activity button at the bottom of the screen. */
body.homescreen #desktop #exhibit_disclaimer {
  width: calc(100% - 10px);
  margin: 5px;
  height: 50px;
  background-color: rgba(0,0,0,0.15);
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  background-image: url('../img/black/media/play.svg');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 5px;
}

/* Container for activities that are selected by the facilitator to display in their exhibit. */
body.homescreen #desktop .setup_container #activities {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 5px;
  height: calc(100vh - 275px);
}

body.homescreen #desktop .setup_container.populated #activities {
  height: calc(100vh - 175px);
}

body.homescreen #desktop .setup_container #activities .selected_activities {
  width: 100%;
  flex: 1;
}

/* Display options for when there are no activities selected. We will display a warning. */ 
body.homescreen #desktop .setup_container.empty #activities .selected_activities {
  display: none;
}

body.homescreen #desktop .setup_container.empty #activities span.empty_warning {
  display: block;
  font-size: 1.25em;
  text-align: center;
  height: calc(100vh - 275px);
  width: 100%;
  line-height: calc(100vh - 275px);
}

/* Display options for when there are activities selected. */
body.homescreen #desktop .setup_container.populated #setup_header {
  display: none;
}

body.homescreen #desktop .setup_container.populated #activities span.empty_warning {
  display: none;
}

/* ==========================================================================
   Facilitator Mode Styles
   ========================================================================== */

/* Button displayed on activities when in facilitator mode. */
body.facilitator #facilitator_add,
body.kiosk #facilitator_add {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-size: 35px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 60px;
  cursor: pointer;
  z-index: 100;
}

body.facilitator #facilitator_add.unselected,
body.kiosk #facilitator_add.unselected {
  background-image: url('../img/white/interact/add_circle.svg');
  background-color: black;
}

body.facilitator #facilitator_add.selected,
body.kiosk #facilitator_add.selected {
  background-image: url('../img/white/interact/check-box.svg');
  background-color: black;
  background-size: 50px;
}

/* Hide these when in facilitator mode. */
body.facilitator #exhibit {
  display: none !important;
}

/* ==========================================================================
   Exhibit Mode Styles
   ========================================================================== */

/* Hide these when in Exhibit mode. */
body.user #desktop {
  display: none !important;
}

body.user #header {
  display: none;
}

body.user.homescreen #menu {
  display: none;
}

/* Show these while in Exhibit Mode. */
body.user #content_wrapper {
  max-height: 100%;
}

/* Exhibit Carousel styles */
body.user #exhibit {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

/* Header displayed at the top of the exhibit. */
body.user #exhibit .exhibit_header {
  width: 100vw;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: 900;
  font-size: 2em;
}

/* Styles for the carousel that displays the activities selected by the facilitator. */
body.user #exhibit .owl-carousel {
  height: calc(100vh - 100px) !important;
}

body.user #exhibit .owl-carousel .owl-nav .owl-next {
  height: 50px;
  width: 50px;
  top: calc(50% - 30px);
  right: 5px;
}

body.user #exhibit .owl-carousel .owl-nav .owl-prev {
  height: 50px;
  width: 50px;
  top: calc(50% - 30px);
  left: 5px;
}

/* Styles for each card within the carousel. */
body.user #exhibit .owl-carousel .activity_card {
  height: calc(100vh - 150px);
  width: calc(100vw - 120px);
  background-color: white;
  margin: 0 0 0 60px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
}

body.user #exhibit .owl-carousel .activity_card .touch {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../img/white/interact/touch.svg');
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
}

body.user #exhibit .owl-carousel .activity_card .image {
  flex: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  overflow: hidden;
}

body.user #exhibit .owl-carousel .activity_card .image.closed .overlay {
  display: none;
}
body.user #exhibit .owl-carousel .activity_card .image.open .overlay {
  width: 100%;
  height: 100%;
}

body.user #exhibit .owl-carousel .activity_card .image .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
}

body.user #exhibit .owl-carousel .activity_card .image .overlay span {
 padding: 0 20px;
 line-height: 1.25em;
 }

body.user #exhibit .owl-carousel .activity_card .details {
  height: 80px;
  background-color: darkgray;
  position: relative;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

body.user #exhibit .owl-carousel .activity_card .details .title {
  font-size: 2.5em;
  font-weight: 900;
  line-height: 90px;
  margin: 0 0 0 20px;
  border-radius: 5px;
}

body.user #exhibit .owl-carousel .activity_card .details .info {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 5px;
  top: 50%;
  margin: -25px 0 0 0;
  background-size: 35px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../img/white/menu/info.svg');
}

body.user #exhibit #facilitator_access_wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  z-index: 9999;
}
body.user #exhibit #facilitator_access {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background-size: 35px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../img/white/menu/settings.svg');
  z-index: 9999;
}

/* ==========================================================================
   Header Styles
   ========================================================================== */

#header {
  width: 100%;
  height: 60px;
  min-height: 60px;
  overflow: hidden;
  z-index: 90;
}

#header .title_bar {
  width: 100%;
  height: 60px;
  font-weight: 900;
}

#header .title_bar .title {
  height: 60px;
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
}

#header .title_bar .home {
  text-align: center;
}

#header .title_bar .title span {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top:0;
  left:0; 
  user-select: none; 
}

/* ==========================================================================
   Activity Styles
   ========================================================================== */

/* Display the header while in an activity. */
body.user.activity #header {
  display: block;
}

/* Activity subheader styles. */
#content_subheader {
  height: 40px;
  width: 100%;
  background-color: darkgray;
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  position: relative;
}

/* Menu options */
body.activity #return_home {
  height: 60px;
  width: 60px;
  background-image: url('../img/white/menu/home.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 35px;
  background-color: black;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}

body.activity #return_home.meta {
  width: 60px;
  left: 60px;
}

#activity_info {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-size: 35px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 60px;
  z-index: 100;
  background-image: url(../img/white/menu/info.svg);
  background-color: black;
  cursor: pointer;
}

#activity_info.video {
  background-image: url(../img/white/media/play.svg) !important;
}

#activityinfo_container.video #activity_details {
  display: none !important;
}

#activityinfo_container.details #activity_video {
  display: none !important;
}



/* ==========================================================================
   Content Styles
   ========================================================================== */

/* General Layout */
#content_wrapper {
  width: 100%;
  max-height: calc(100% - 50px);
  background-color: #ffffff;
  display: flex;
  flex: 1;
}

#content_wrapper #content {
  display: flex;
  flex: 1;
  flex-direction: column;  
}

#content #activity_content {
  width: 100%;
  flex: 1;
}






#pinpad form {
  width: 390px;
  text-align: center;
  border-radius: 5px;
}

#pinpad input[type="text"] {
  padding: 10px 40px;
  border-radius: 5px;
  width: 350px;
  border: 1px solid white;
  outline: none;
  font-size: 1.5em;
  color: black;
  text-align: center;
}

#pinpad input:focus {
  outline: none;
}

#password {
  transition: all 1s;
  margin: 0 0 20px 0;
}

#password.incorrect {
  background-color: #F6BDC0;
}

#pinpad .pinButton {
    border: solid white 1px;
  background: none;
  font-size: 1.25em;
  border-radius: 50%;
  height: 50px;
  font-weight: 500;
  width: 50px;
  color: white;
  margin: 7px 20px;
}


#pinpad .pinButton:hover {
    border: solid white 1px;

}
#pinpad .pinButton:active {
  background: rgba(255,255,255,0.25);
  border: solid white 1px;
  color: #fff;
}
