/* main.css */
/* Contains classes that are loaded on every page. */

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  user-select: none;
}

body {
  display: flex;
  min-height: 100vh;
  color: black;
  flex-direction: column;
}

/* ==========================================================================
   Default Font Styles
   ========================================================================== */

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../font/open-sans-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
       url('../font/open-sans-v18-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../font/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../font/open-sans-v18-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../font/open-sans-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
       url('../font/open-sans-v18-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../font/open-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('../font/open-sans-v18-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('../font/open-sans-v18-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
       url('../font/open-sans-v18-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ==========================================================================
   Rich Text Styles
   ========================================================================== */

/* Headers */
#main h1 {
	font-weight: 900;
	font-size: 3.0em;
	line-height: 1em;
	margin: 40px 0 20px 0;
}

#main h2 {
	line-height: 1.5em;
	font-size: 2.0em;
	font-weight: 900;
  margin: 30px 0 15px 0;
}

#main h3 {
	font-size: 1.5em;
	font-weight: 900;
	margin: 20px 0 10px 0;
	user-select: none;
}

#main h4 {
	font-size: 1.25em;
	font-weight: 700;
	padding: 10px 0 0 0;
	user-select: none;
  margin: 10px 0 5px 0;
}

#main h5 {
	font-size: 1.25em;
	font-weight: 500;
	user-select: none;
}

/* Paragraphs */
#main p {
	font-size: 1em;
	user-select: none;
  clear: both;
}

#main blockquote {
  margin: 10px 30px;
  padding: 10px;
  border-style: solid;
  border-width: 0 0 0 10px;
  text-indent: 0;
}

/* Lists */
#main ul li {
  margin: 0 0 15px 0;
}

#main ul li ul {
  margin: 10px 0 0 0;
}

#main ul li ul li {
  margin: 0 0 10px 0;
}

#main ul li ul li ul li {
  margin: 0 0 5px 0;
}

/* Highlight Box */
#main .highlight_box {
  margin: 0 0 5px 0;
  padding: 20px;
  background-color: rgba(0,0,0,0.15);
  user-select: none;
  border-radius: 5px;
  width: 695px;
}

#main .highlight_box .highlight_title {
    user-select: none;
    font-size: 1.75em;
    font-weight: 900;
    line-height: 1em;
    height: 0.75em;
    display: block;
}

#main .highlight_box .highlight_content {
  user-select: none;
}

#main .highlight_box .highlight_content p {
  margin: 0;
}


/* ==========================================================================
   Activity Link
   ========================================================================== */

/* Activity button styles */
#menu_content_wrapper .activity,
#activities .activity,
#activity_content .activity {
    background-color: rgba(0,0,0,0.15); 
    border-color: #555555;
}

#menu_content_wrapper .activity .activity_link,
#activities .activity .activity_link,
#activity_content .activity .activity_link {
    background-color:  rgba(0,0,0,0.25);
    background-image: url('../img/black/arrow/right.svg');
}

/* Details View */
#main .view_details .activity,
#activities.view_details .activity {
  width: calc(100% - 10px);
  min-height: 155px;
  position: relative;
  margin: 0 0 5px 0;
  padding: 0 5px;
  user-select: none;
  display: flex;
  max-width: 790px;
  border-radius: 5px;
}

#main .view_details .activity:last-child,
#activities.view_details .activity:last-child{
  margin: 0;
}
  
#main .view_details .activity .content,
#activities.view_details .activity .content{
  flex: 1;
  padding: 0 0 0 10px;
  margin: 0 50px 0 0;
}

#main .view_details .activity .controls,
#activities.view_details .activity .controls {
  width: 60px;
}

#main .view_details .activity .controls .checkbox,
#activities.view_details .activity .controls .checkbox {
  background-position: center center;
  background-repeat: no-repeat;
}

#main .view_details .activity .controls .checkbox.unselected,
#activities.view_details .activity .controls .checkbox.unselected {
  background-image: url('../img/black/interact/add.svg');
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  background-color: rgba(0,0,0,0.15);
  background-size: 35px;
  border-radius: 25px;
}

#main .view_details .activity .controls .checkbox.selected,
#activities.view_details .activity .controls .checkbox.selected {
  background-image: url('../img/black/interact/check-box.svg');
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  background-color: rgba(0,0,0,0.15);
  background-size: 130%;
}

#main .view_details .activity .content .activity_header,
#activities.view_details .activity .content .activity_header {
  width: 100%;
  height: 80px;
  padding: 10px 0;
  user-select: none;
  cursor: pointer;
}

#main .view_details .activity .content .activity_header .title,
#activities.view_details .activity .content .activity_header .title {
  font-size: 1.5em;
  font-weight: 900;
  height: 50px;
  width: 100%;
  line-height: 55px;
}

#main .view_details .activity .content .activity_header .grouping,
#activities.view_details .activity .content .activity_header .grouping {
  height: 30px;
  width: calc(100% - 30px);
  font-size: 1em;
  font-weight: 500;
  line-height: 35px;
  font-weight: 900;
  border-color: black;
    border-style: solid;
    border-width: 1px 0 0 0;
}

#main .view_details .activity .content .activity_header .grouping .group,
#activities.view_details .activity .content .activity_header .grouping .group {
  float: left;
}

#main .view_details .activity .content .activity_header .grouping .arrow,
#activities.view_details .activity .content .activity_header .grouping .arrow {
  height: 30px;
  width: 15px;
  float: left;
  background-image: url('../img/black/chevron/right.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
}

#main .view_details .activity .content .activity_description,
#activities.view_details .activity .content .activity_description {
  width: 100%;
  padding: 10px 0;
  user-select: none;
}

#main .view_details .activity .content .info,
#activities.view_details .activity .content .info {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0 0 5px 0;
  user-select: none;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main .view_details .activity .content .info .help,
#activities.view_details .activity .content .info .help {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin: 0 20px 0 5px;
  background-image: url('../img/black/menu/about.svg');
  background-size: 25px;
  background-position: center center;
}


#main .view_details .activity .activity_link,
#activities.view_details .activity .activity_link {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('../img/black/arrow/right.svg');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#main .view_details .activity .activity_link a,
#activities.view_details .activity .activity_link a {
  width: 50px;
  height: 100%;
  display: block;
}

/* List View */
#main .view_list .activity {
  width: calc(100% - 10px);
  position: relative;
  margin: 0 0 5px 0;
  padding: 0 5px;
  user-select: none;
  display: flex;
  max-width: 790px;
  border-radius: 5px;
}

#main .view_list .activity:last-child {
  margin: 0;
}
  
#main .view_list .activity .content {
  flex: 1;
  padding: 0 0 0 10px;
  margin: 0 50px 0 0;
}

#main .view_list .activity .controls {
  width: 60px;
}

#main .view_list .activity .controls .checkbox {
  background-position: center center;
  background-repeat: no-repeat;
}

#main .view_list .activity .controls .checkbox.unselected {
  background-image: url('../img/black/interact/add.svg');
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  background-color: rgba(0,0,0,0.15);
  background-size: 35px;
  border-radius: 25px;
}

#main .view_list .activity .controls .checkbox.selected {
  background-image: url('../img/black/interact/check-box.svg');
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  background-color: rgba(0,0,0,0.15);
  background-size: 130%;
}

#main .view_list .activity .content .activity_header {
  width: 100%;
  height: 50px;
  padding: 10px 0;
  user-select: none;
  cursor: pointer;
}

#main .view_list .activity .content .activity_header .title {
      font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    width: 100%;
    line-height: 55px;
}

#main .view_list .activity .content .activity_header .grouping {
  display: none;
}

#main .view_list .activity .content .activity_description {
  display: none;
}

#main .view_list .activity .content .info {
  display: none;
}

#main .view_list .activity .activity_link {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('../img/black/arrow/right.svg');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#main .view_list .activity .activity_link a {
  width: 50px;
  height: 100%;
  display: block;
}


/* ==========================================================================
   Alternate UI Modes - For Web Use
   ========================================================================== */

/* Embedded Exhibit */
body.embedded #menu #home_button,
body.embedded #menu #facilitation_button, 
body.embedded #menu #settings_button,
body.embedded #menu #about_button {
  display: none;
}   



body.embedded #program_menu .activity .controls {
  display: none;
}

body.embedded #facilitator_add {
  display: none;
}

/* Standalone Activity */
body.standalone #facilitator_add {
  display: none;
}

body.standalone #return_home {
  display: none;
}

body.standalone #activity_info {
  left: 0 !important;
  display: block !important;
}

body.standalone.child_activity #activity_info {
  left: 60px !important;
  display: block !important;
}

/* Kiosk Mode */
body.kiosk.user #facilitator_add {
  display: none;
}


/* Facilitor Mode */
body.facilitator #facilitation_button {
  display: none !important;
}

/* Screensaver Mode */
body.noscreensaver #exhibit_screensaver {
  display: none !important;
}

/* ==========================================================================
   Informational Pop-Up Styles
   ========================================================================== */

#message {
	width: 100%;
	height: 100%;
	color: white;
	background-color: black;
	overflow: none;
}

#message .response {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

}

#message .header {
	height: 50px;
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    line-height: 50px;
}

#message .text {
	flex: 1;
    height: calc(100% - 50px);
    width: 100%;
}

#message .text.center {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#message .text.big {
	font-size: 1.25em;
}

#message .interaction {
	display: flex;
	height: 50px;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
}

#exhibit_cancel {
	background-image: url(../img/black/interact/cancel.svg);
	background-color: #D2222D;
	width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    border: 0;
    line-height: 75px;
}

#confirm_exhibit {
	background-image: url(../img/black/arrow/right.svg);
	background-color: #238823;
	width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

#cancel_facilitator {
  background-image: url(../img/black/interact/cancel.svg);
  background-color: #D2222D;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    border: 0;
    line-height: 75px;
}

#confirm_facilitator {
  background-image: url(../img/black/arrow/right.svg);
  background-color: #238823;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

#power_cancel {
  background-image: url(../img/black/interact/cancel.svg);
  background-color: #238823;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    border: 0;
    line-height: 75px;
}

#confirm_poweroff {
  background-image: url(../img/black/settings/power_settings.svg);
  background-color: #D2222D;
  width: 100px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

#confirm_restart {
  background-image: url(../img/black/settings/restart.svg);
  background-color: #D2222D;
  width: 100px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

#confirm_development {
  background-image: url(../img/black/arrow/right.svg);
  background-color: #238823;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

#confirm_production {
  background-image: url(../img/black/arrow/right.svg);
  background-color: #238823;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

#cancel_development {
  background-image: url(../img/black/interact/cancel.svg);
  background-color: #D2222D;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    border: 0;
    line-height: 75px;
}

#confirm_program {
  background-image: url(../img/black/arrow/right.svg);
  background-color: #238823;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

#confirm_rotate {
  background-image: url(../img/black/arrow/right.svg);
  background-color: #D2222D;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

#cancel_program {
  background-image: url(../img/black/interact/cancel.svg);
  background-color: #D2222D;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    border: 0;
    line-height: 75px;
}

#message button#activity_close {
	background-image: url(../img/black/interact/check.svg);
	background-color: #238823;
	width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 10px);
    background-repeat: no-repeat;
    border: 0;
    line-height: 75px;
}

#message button:focus {
	outline: 0;
}

/* ==========================================================================
   Look Closer Pop Up Styles
   ========================================================================== */

.lookcloser {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black !important;
  overflow: none;
}

.lookcloser.fancybox-content {
  overflow: hidden;
}

.lookcloser .response {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.lookcloser .header {
  height: 50px;
  width: 100%;
  font-weight: 900;
  font-size: 1.5em;
  margin: 0 0 5px 0;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lookcloser .header_style {
  border-radius: 50px;
  padding: 0 25px;
}

.lookcloser .header_style.success {
  background-color: #238823 !important;
  color: black;
}

.lookcloser .header_style.warning {
  background-color: #FFCC00 !important;
  color: black;
}

.lookcloser .header_style.error {
  background-color: #D2222D !important;
  color: black;
}

.lookcloser .video-js.vjs-fluid {
  padding: 0 !important;
}

.lookcloser .video-js .vjs-control-bar {
  position: fixed;
  bottom: 70px;  
  max-width: 600px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgba(0,0,0,0.5);
}

.lookcloser .video-js .vjs-play-control {
  margin: 0 0 0 10px;
}

.lookcloser .video-js .vjs-subs-caps-button {
  margin: 0 10px 0 0;
}

.lookcloser .video-js .vjs-control-bar .vjs-button > .vjs-icon-placeholder:before {
  font-size: 30px;
  line-height: 50px;
}

.lookcloser .video-js .vjs-time-control {
  line-height: 50px;
  font-size: 1.5em;
}

.lookcloser .video-js .vjs-time-tooltip {
  display: none !important;
}

.lookcloser .video-js .vjs-mouse-display {
  display: none !important;
}

.lookcloser .video-js .vjs-control-bar .vjs-fullscreen-control {
  display: none;
}

.lookcloser .video-js .vjs-control-bar .vjs-picture-in-picture-control {
  display: none;
}

.lookcloser #lookcloser_content {
  height: calc(100vh - 125px);
  padding: 0 5px;
  line-height: 2em;
  margin:  0 auto;
  max-width: 1000px;
}

.lookcloser #lookcloser_content #activityinfo_container {
  height: 100%;
}

.lookcloser #lookcloser_content video {
  height: calc(100vh - 125px);
  width: 100%;
}

.lookcloser #lookcloser_content .video-js .vjs-big-play-button {
  position: relative;
  top: 100px;
  left: 50%;
  height: 150px;
  width: 150px;
  margin: 0 0 0 -75px;
  border-width: 0;
  background-color: rgba(0,0,0,0.25);
  background-image: url("../img/white/media/play-nocircle.svg");
  background-position: center center;
  background-size: 75%;
  background-repeat: no-repeat;
}

.lookcloser #lookcloser_content .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    font-size: 75px;
    line-height: 150px;
    color: white;
    content: "";
}

.lookcloser #lookcloser_content .video-js  .vjs-playback-rate .vjs-playback-rate-value {
  line-height: 50px;
}

.lookcloser .interaction {
  display: flex;
  height: 50px;
    align-items: center;
    justify-content: center;
    margin: 5px 0 0 0;
}

.lookcloser button {

  margin: 0 5px;
}

.lookcloser button.lookcloser_acknowledge {
  background-image: url(../img/black/interact/check.svg);
  background-color: #238823;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 10px);
    background-repeat: no-repeat;
    border: 0;
    line-height: 75px;
}

.lookcloser button.lookcloser_deny {
  margin: 0 10px 0 0;
  background-image: url(../img/black/interact/cancel.svg);
  background-color: #D2222D;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    border: 0;
    line-height: 75px;
}

.lookcloser button.lookcloser_confirm {
  background-image: url(../img/black/interact/check.svg);
  background-color: #238823;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

.lookcloser button.lookcloser_done {
  background-image: url(../img/black/interact/check.svg);
  background-color: gray;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

.lookcloser button.lookcloser_info {
  background-image: url(../img/black/menu/info.svg);
  background-color: white;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

.lookcloser button.lookcloser_info.selected {
  background-image: url(../img/black/media/play.svg);
  background-color: gray;
}

.lookcloser button.lookcloser_next {
  background-image: url(../img/black/arrow/right.svg);
  background-color: #238823;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

.lookcloser button.lookcloser_tryagain {
  background-image: url(../img/black/media/replay.svg);
  background-color: #D2222D;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 8px);
    background-repeat: no-repeat;
    
    border: 0;
    line-height: 75px;
}

.lookcloser button.lookcloser_reset {
  background-image: url(../img/black/media/replay.svg);
  background-color: gray;
  width: 70px;
    height: 50px;
    border-radius: 5px;
    background-size: 25px;
    background-position: center calc(50% - 10px);
    background-repeat: no-repeat;
    border: 0;
    line-height: 75px;
}

.lookcloser button:focus {
  outline: 0;
}

/* ==========================================================================
   Homescreen Styles
   ========================================================================== */

#exhibit_disclaimer {
	text-align: center;
}

#exhibit_disclaimer .text {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ==========================================================================
   Animations
   ========================================================================== */

/* Exhibit menu and Exhibit Mode */
.heartbeat {
  display: block !important;
  -webkit-animation: heartbeat 5s ease-in-out infinite forwards;
          animation: heartbeat 5s ease-in-out infinite forwards;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  
  10% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
            opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
            opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  35% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
            opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  
  10% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
            opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
            opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  35% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
            opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 5s ease-in-out infinite both;
          animation: pulsate-fwd 5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}



.lds-dual-ring {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 15px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#touch_overlay {
  display: none;
}

#touch_overlay .touch {
  width: 150px;
  height: 150px;
  background-image: url('../img/white/interact/touch.svg');
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 900;
  display: none;
}

body.user #touch_overlay {
  display: block;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}