/* menu.css */
/* Contains classes used by the general menu system. */

body {
  height: 100%;
  overflow: hidden;
}

/* ==========================================================================
   Menu Bar Styles
   ========================================================================== */
#menu {
  width: 100%;
  height: 60px;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 110;
}

#menu .bumper {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: black;
  text-align: center;
  display: flex;
}

#menu .bumper .menu_button {
  height: 90px;
  margin: 5px;
  opacity: 1;
}

/* ==========================================================================
   Menu Bar Configurations
   ========================================================================== */
/* Menu is currently open.  This is any time the user is not on the Exhibit menu tab, which effectively behaves as the homescreen. */
#menu.full_menu {
  height:100%;
}

/* Menu is showing only the necessary buttons.  This is used when a user is currently in an activity.*/
#menu.collapsed {
  width: 60px;
}

#menu.collapsed #home_button,
#menu.collapsed #facilitation_button,
#menu.collapsed #program_button,
#menu.collapsed #settings_button,
#menu.collapsed #about_button,
#menu.collapsed #accessibility_button,
#menu.collapsed .menu_spacer {
  display: none;
}

/* Menu is showing only the accessibility buttons.  This is used when a user is currently in an activity and accesssing the accessibility menu.*/
#menu.minimal #home_button,
#menu.minimal #facilitation_button,
#menu.minimal #program_button,
#menu.minimal #settings_button,
#menu.minimal #about_button,
#menu.minimal #accessibility_button,
#menu.minimal .menu_spacer {
  display: none;
}

/* Minimal and Collapsed share styles for the Accessibility button. */

#menu.minimal #accessibility_button,
#menu.collapsed #accessibility_button {
  position: absolute;
  right: 0;
  width: 50px;
  background-size: 35px;
  background-position: center center;
}

#menu.collapsed #accessibility_button span,
#menu.minimal #accessibility_button span {
  display: none;
}

/* ==========================================================================
   Menu Buttons
   ========================================================================== */

/* General menu button styles*/
#menu .bumper .menu_button {
  height: 50px;
  width: 100px;
  margin: 5px;
  background-position: center calc(50% - 5px);
  background-repeat: no-repeat;
  display: inline-block;
  opacity: 1;
  cursor: pointer;
  background-size: 30px;
  flex: 1;
  border-radius: 5px;
}

#menu .bumper .menu_button.hidden {
  display: none;
}

#menu .bumper .menu_button span {
  color: white;
  font-size: 0.7em;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  top: 30px;
}

#menu .bumper .menu_button.selected span {
  color: black;
}

#menu .bumper .menu_button.hidden span {
  display: none;
}

/* Menu Button Hover styles.  When the Exhibit menu (home_button) is open, the menu is functionally closed so the Exhibit menu button must be styled seperately. */
#menu #home_button,
#menu #settings_button.selected,
#menu #accessibility_button.selected,
#menu #lessons_button.selected,
#menu #about_button.selected,
#menu #program_button.selected,
#menu #facilitation_button.selected
 {
  background-color: white;
}

/* Menu Home Button (Exhibit menu). */
#menu #home_button {
  background-image: url('../img/black/menu/exhibit_mode.svg');
}

#menu.closed #home_button span {
  color: black;
}

#menu.full_menu #home_button {
  background-color: black !important;
  background-image: url('../img/white/menu/exhibit_mode.svg');
}

#menu.full_menu #home_button span {
  color: white;
}

/* Settings Menu Button Icons - Unselected and Selected */
#menu #settings_button {
  background-image: url('../img/white/menu/settings.svg');
}

#menu #settings_button.selected
 {
  background-image: url('../img/black/menu/settings.svg');
}

/* Accessibility Menu Button Icons - Unselected and Selected */
#menu #accessibility_button {
  background-image: url('../img/white/menu/accessibility.svg');
}

#menu #accessibility_button.selected
 {
  background-image: url('../img/black/menu/accessibility.svg');
}

/* Facilitation Menu Button Icons - Unselected and Selected */
#menu #facilitation_button {
  background-image: url('../img/white/menu/facilitation.svg');
}

#menu #facilitation_button.selected {
  background-image: url('../img/black/menu/facilitation.svg');
}

/* Activities Menu Button Icons - Unselected and Selected */
#menu #program_button {
  background-image: url('../img/white/menu/activities.svg');
}

#menu #program_button.selected
 {
  background-image: url('../img/black/menu/activities.svg');
}

/* Help Menu Button Icons - Unselected and Selected */
#menu #about_button {
  background-image: url('../img/white/menu/about.svg');
}

#menu #about_button.selected {
  background-image: url('../img/black/menu/about.svg');
}

/* ==========================================================================
   Menu Content
   ========================================================================== */

/* Wrapper that contains all the menu sections. */
#menu_content_wrapper {
  width: 100%;
  height: 0;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #F2F2F2;
  z-index: 998;
  overflow: hidden;
}

#menu_content_wrapper.open {
  height: calc(100% - 60px);
  padding: 0;
}

#menu_content_wrapper .menu_content {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  padding: 5px 0;
  margin: 0 5px;
}

#menu_content_wrapper.menu_discussion .menu_content,
#menu_content_wrapper.menu_setup .menu_content,
#menu_content_wrapper.menu_information .menu_content {
  height: calc(100% - 50px) !important;
}

/* Individual menu sections contained within the wrapper. */
.menu_section.open {
  display: block;
}

.menu_section.close {
  display: none;
}

/* Manually style each menu sections container */
#settings_menu,
#accessibility_menu,
#program_menu,
#info_menu,
#facilitation_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/* ==========================================================================
   Menu Page Header Styles
   ========================================================================== */

/* This is a black bar that will appear below the menu with the page title.  It is used for subpages to display a title and back button.*/
#menu_header {
	width: 100%;
	height: 40px;
	background-color: black;
	margin: 0;
  user-select: none;
}

/* Main menu pages can have their page title hidden because there is no back navigation required. */
#menu_content_wrapper.menu_facilitation #menu_header,
#menu_content_wrapper.menu_settings #menu_header,
#menu_content_wrapper.menu_about #menu_header,
#menu_content_wrapper.menu_accessibility #menu_header,
#menu_content_wrapper.menu_program #menu_header    {
  display: none;
}

/* Page title that appears below the menu when navigating to a submenu page. */
#menu_header #page_title {
  width: calc(100% - 60px);
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
  line-height: 40px;
  font-size: 1.5em;
  margin: 0 60px 0 0;
  font-weight: 500;
}

/* ==========================================================================
   Menu Breadcrumbs Styles
   ========================================================================== */

/* The breadcrumb bar is to the left of the page title and is used for the back button. */
/* Originally, it would generate a trail of sub menus to navigate, but there are no nested menus currently. */
#menu_breadcrumbs {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  user-select: none;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  font-size: 1.5em;
}

#menu_breadcrumbs.closed {
	width: 50px !important;
}

#menu_breadcrumbs.closed .close {
  display: none;
}

#menu_breadcrumbs.closed .breadcrumbs {
  display: none;
}

#menu_breadcrumbs .close {
  height: 40px;
  width: 50px;
  background-image:url('../img/white/interact/cancel.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 35px;
  cursor: pointer;
}

#menu_breadcrumbs .button {
  height: 40px;
  width: 50px;
  background-image: url('../img/white/arrow/left.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 35px;
  cursor: pointer;
}

#menu_breadcrumbs .breadcrumbs {
position: absolute;
  top: 0;
  left: 50px;
}

/* ==========================================================================
   Activity Menu Styles
   ========================================================================== */

/* Option bar to sort the Activities */
#activity_sort {
  width: 100%;
    height: 55px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    margin: 0 0 5px 0;
    display: flex;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

#activity_sort .activity_view {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
  border-color: black;
  border-style: solid;
padding: 5px 0 5px 25px;
}

#activity_sort .activity_options {
  padding: 5px 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#activity_sort .activity_view .sort_button {
  width: 45px;
  height: 45px;
  margin: 0 0 0 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 35px;
}

#activity_sort .activity_view .sort_button.selected {
  background-color: rgba(0,0,0,0.15);
  border-radius: 5px;
}

#activity_list {
  background-image: url('../img/black/interact/list.svg');
}

#activity_details {
  background-image: url('../img/black/interact/details.svg');
}

#activity_sort .activity_options .option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#activity_sort .activity_options .option .option_title {
  font-weight: 900;
  margin: 0 5px 0 0;
}

#activity_sort .activity_options .option .option_select {
  
}

/* ==========================================================================
   Accessibility Menu Styles
   ========================================================================== */

#accessibility_menu .accessibility {
  width: calc(100% - 10px);
  min-height: 100px;
  position: relative;
  margin: 0 0 5px 0;
  padding: 0 5px;
  user-select: none;
  display: flex;
  background-color: rgba(0,0,0,0.15);
  max-width: 790px;
  border-radius: 5px;
}

#accessibility_menu .accessibility:last-child {
  margin: 0;
  }

#accessibility_menu .accessibility .icon {
  width: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 10px 0 0;
}

#accessibility_menu .accessibility .icon .image {
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  background-color: rgba(0,0,0,0.15);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 25px;
}

#accessibility_menu .accessibility .content {
  flex-grow: 1;
}

#accessibility_menu .accessibility .content .accessibility_header {
  width: 100%;
  height: 50px;
  padding: 10px 0;
  user-select: none;
  cursor: pointer;
}

#accessibility_menu .accessibility .content .accessibility_header .title {
    font-size: 1.5em;
  font-weight: 900;
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
}

#accessibility_menu .accessibility .accessibility_description {
  width: 100%;
  padding: 0 0 10px 0;
  user-select: none;
}

#accessibility_menu .accessibility .accessibility_controls {
  padding: 0 0 10px 0;
}

#accessibility_menu .accessibility .accessibility_controls .small_button {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: rgba(0,0,0,0.15);
  font-weight: 900;
}

#accessibility_menu .accessibility .accessibility_controls .small_button.notext {
  text-indent: -9999px
}

#accessibility_menu .accessibility .accessibility_controls .large_button {
  width: 400px;
  height: 35px;
  line-height: 35px;
  background-color: rgba(0,0,0,0.15);
  font-weight: 900;
  text-align: center;
  outline: 0;
  border: 0;
  padding: 0;
  border-radius: 5px;
}

#accessibility_menu .accessibility .accessibility_controls button:focus,
#accessibility_menu .accessibility .accessibility_controls button:active {
  outline: 0;
  border: 0;
}

#accessibility_menu .accessibility .setting_controls {
  padding: 0 0 10px 0;
}

#accessibility_menu .accessibility .setting_controls .small_button {
  width: 35px;
  height: 35px;
  line-height: 40px;
  border-radius: 5px;
  font-weight: 900;
  padding: 0;
  border: 0;
  outline: 0;
}

#accessibility_menu .accessibility .setting_controls .small_button.unselected {
  background-color: rgba(0,0,0,0.15);
  }

  #accessibility_menu .accessibility .setting_controls .small_button.selected {
  background-color: rgba(0,0,0,0.85);
  color: white;
  }

#accessibility_menu .accessibility .setting_controls .small_button.notext {
  text-indent: -9999px
}

#accessibility_menu .accessibility .setting_controls .large_button {
  width: 400px;
  height: 35px;
  line-height: 35px;
  background-color: rgba(0,0,0,0.15);
  font-weight: 900;
  text-align: center;
  outline: 0;
  border: 0;

}

#accessibility_menu .accessibility .setting_controls button:focus,
#accessibility_menu .accessibility .setting_controls button:active {
  outline: 0;
  border: 0;
  padding: 0;
}

/* ==========================================================================
   Settings Menu Styles
   ========================================================================== */

#settings_menu .setting {
  width: calc(100% - 10px);
  min-height: 100px;
  position: relative;
  margin: 0 0 5px 0;
  padding: 0 5px;
  user-select: none;
  display: flex;
  background-color: rgba(0,0,0,0.15);
  max-width: 790px;
  border-radius: 5px;
  min-width: 725px;
}

#settings_menu .setting:last-child {
  margin: 0;
  }

#settings_menu .setting .icon {
  width: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 10px 0 0;
}


#settings_menu .setting .icon .image {
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  background-color: rgba(0,0,0,0.15);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 25px;
}

#settings_menu .setting .content  {
  flex-grow: 1;
}


#settings_menu .setting .content .setting_header {
  width: 100%;
  height: 50px;
  padding: 10px 0;
  user-select: none;
  cursor: pointer;
}

#settings_menu .setting .content .setting_header .title {
  font-size: 1.5em;
  font-weight: 900;
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
}

#settings_menu .setting .setting_description {
  width: 100%;
  padding: 0 0 10px 0;
  user-select: none;
}

#settings_menu .setting .setting_controls {
  padding: 0 0 10px 0;
}

#settings_menu .setting .setting_controls .setting_control_section {
  margin: 5px 0 0 0;
  background-color: rgba(0,0,0,0.05);
  border-radius: 5px;
}

#settings_menu .setting .setting_controls .setting_control_section .title {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px 10px 5px 10px;
}

#settings_menu .setting .setting_controls .setting_control_section .description {
  padding: 5px 10px 15px 10px;
}

#settings_menu .setting .setting_controls .setting_control_section .controls {
  margin: 0 0 10px 20px;
  padding: 0 0 10px 0;
}

#settings_menu .setting .setting_controls .small_button {
  width: 35px;
  height: 35px;
  line-height: 40px;
  border-radius: 5px;
  font-weight: 900;
  padding: 0;
  border: 0;
  outline: 0;
}

#settings_menu .setting .setting_controls .small_button.unselected {
  background-color: rgba(0,0,0,0.15);
  }

  #settings_menu .setting .setting_controls .small_button.selected {
  background-color: rgba(0,0,0,0.85);
  color: white;
  }

#settings_menu .setting .setting_controls .small_button.notext {
  text-indent: -9999px
}

#settings_menu .setting .setting_controls .large_button {
  width: 400px;
  height: 35px;
  line-height: 35px;
  background-color: rgba(0,0,0,0.15);
  font-weight: 900;
  text-align: center;
  outline: 0;
  border: 0;
  border-radius: 5px;
}

#settings_menu .setting .setting_controls .medium_button {
  width: 200px;
  height: 35px;
  line-height: 35px;
  background-color: rgba(0,0,0,0.15);
  font-weight: 900;
  text-align: center;
  outline: 0;
  border: 0;
  border-radius: 5px;
}

#settings_menu #kiosk_poweroff {
  margin: 0 0 10px 0;
  background-color: rgba(210,32,45,0.35);
}

#settings_menu #kiosk_restart {
  background-color: rgba(210,32,45,0.35);
}


#settings_menu .setting .setting_controls button:focus,
#settings_menu .setting .setting_controls button:active {
  outline: 0;
  border: 0;
  padding: 0;
}

#settings_menu #kiosk_temperature {
  font-weight: 700;
  margin: 0 0 10px 0;
}

#settings_menu #kiosk_temperature span {
  font-weight: 500;
  margin: 0 10px;
}

#settings_menu #kiosk_temperature #temperature_update {
  height: 35px;
  width: 35px;
  background-color: rgba(0,0,0,0.15);
  border: 0;
  border-radius: 999px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/black/settings/refresh.svg');
  text-indent: -9999px;
  cursor: pointer;
}

#settings_menu #kiosk_throttle {
  font-weight: 700;
  margin: 0 0 10px 0;
}

#settings_menu #kiosk_throttle span {
  font-weight: 500;
  margin: 0 10px;
}

#settings_menu #kiosk_throttle #throttle_update {
  height: 35px;
  width: 35px;
  background-color: rgba(0,0,0,0.15);
  border: 0;
  border-radius: 999px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/black/settings/refresh.svg');
  text-indent: -9999px;
  cursor: pointer;
}

#settings_menu #kiosk_model {
  font-weight: 700;
  height: 35px;
  line-height: 35px;
  margin: 0 0 10px 0;
}

#settings_menu #kiosk_model span {
  font-weight: 500;
  margin: 0 10px;
}

#settings_menu #kiosk_production {
  margin: 0 0 10px 0;
  background-color: rgba(210,32,45,0.35);
}

#settings_menu #kiosk_development {
  margin: 0 0 10px 0;
  background-color: rgba(210,32,45,0.35);
}

/* ==========================================================================
   Help Menu Styles
   ========================================================================== */

#info_menu .help_section {
  width: calc(100% - 10px);
  min-height: 100px;
  position: relative;
  margin: 0 0 5px 0;
  padding: 0 5px;
  user-select: none;
  display: flex;
  background-color: rgba(0,0,0,0.15);
  max-width: 760px;
  border-radius: 5px;
}

#info_menu .help_section .content {
  width: calc(100% - 110px);
}

#info_menu .help_section .icon {
  width: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 10px 0 0;
}

#info_menu .help_section .icon .image {
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  background-color: rgba(0,0,0,0.15);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 25px;
}

#info_menu .help_section .content .about_header {
  width: 100%;
  height: 50px;
  padding: 10px 0;
  user-select: none;
  cursor: pointer;
}

#info_menu .help_section .content .about_header .title {
  font-size: 1.25em;
  font-weight: 900;
  height: 50px;
  width: 100%;
  line-height: 55px;
}

#info_menu .help_section .about_description {
  width: calc(100% - 5px);
  padding: 0 0 10px 0;
  user-select: none;
}

#info_menu .help_section .about_link {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('../img/black/arrow/right.svg');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: rgba(0,0,0,0.25);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#info_menu ol li:before {
  background-color: rgba(0,0,0,0.25);
  display: block;
  width: 50px;
  height: 50px;
}

#info_menu .help_header {
    background-color: rgba(0,0,0,0.15);
    height: 50px;
    width: 100%;
    line-height: 55px;
    font-size: 2.0em;
    font-weight: 900;
    user-select: none;
    margin: 0 0 5px 0;
    border-radius: 5px;
    max-width: 800px;
}


#info_menu .help_header .arrow {
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,0.25);
  float: left;
  background-image: url('../img/black/chevron/right.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 35px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#info_menu .help_header.open .arrow {
  background-image: url('../img/black/chevron/down.svg') !important;
}

#info_menu .help_header .title {
  width: calc(100% - 60px);
  height: 50px;
  padding: 0 0 0 10px;
  float: left;
}

#info_menu .info_section {
  flex-direction: column;
  width: calc(100% - 50px);
  min-height: 100px;
  position: relative;
  margin: 0 5px 5px 5px;
  padding: 10px 20px;
  user-select: none;
  display: flex;
  background-color: rgba(0,0,0,0.15);
  max-width: 750px;
  border-radius: 5px;
}

#info_menu .info_section:last-child {
  margin: 0;
}

#info_menu .info_section p {
  margin: 0.5em 0;
}




#info_menu .info_subsection {
  width: calc(100% - 10px);
  min-height: 100px;
  position: relative;
  margin: 0 0 5px 0;
  padding: 0 5px;
  user-select: none;
  display: flex;
  max-width: 800px;
  border-radius: 5px;
}


#info_menu .info_subsection .icon {
  width: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 10px 0 0;
}

#info_menu .info_subsection .icon .image {
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  background-color: rgba(0,0,0,0.15);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 25px;
}

#info_menu .info_subsection .content .info_subheader {
  width: 100%;
  height: 50px;
  padding: 10px 0 0 0;
  user-select: none;
  cursor: pointer;
}

#info_menu .info_subsection .content .info_subheader .title {
  font-size: 1.25em;
  font-weight: 900;
  height: 50px;
  width: 100%;
  line-height: 55px;
}

#info_menu .info_subsection .subsection_content {
  width: 100%;
  padding: 0 0 10px 0;
  user-select: none;
}


/* ==========================================================================
   Facilitation Menu Styles
   ========================================================================== */


#facilitation_content {
    width: 735px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#facilitation_title {
  height: 50px;
  line-height: 55px;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
}

#facilitation_menu .discussion {
  width: calc(100% - 10px);
  min-height: 100px;
  position: relative;
  margin: 0 0 5px 0;
  padding: 0 5px;
  user-select: none;
  display: flex;
  background-color: rgba(0,0,0,0.15);
  border-radius: 5px;
}

#facilitation_menu .discussion:last-child {
  margin: 0;
}

#facilitation_menu .discussion .icon {
  width: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 10px 0 0;

}

#facilitation_menu .discussion .icon .image {
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  background-color: rgba(0,0,0,0.15);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/black/interact/discussion.svg');
  border-radius: 25px;
}

#facilitation_menu .discussion .content {
  flex: 1;
  width: calc(100% - 50px);
}

#facilitation_menu .discussion .content .discussion_header {
  width: 100%;
  height: 50px;
  padding: 10px 0;
  user-select: none;
  cursor: pointer;
}

#facilitation_menu .discussion .content .discussion_header .title {
  font-size: 1.25em;
  font-weight: 900;
  height: 50px;
  width: 100%;
  line-height: 55px;
}

#facilitation_menu .discussion .discussion_description {
  width: calc(100% - 50px);
  padding: 0 0 10px 0;
  user-select: none;
}

#facilitation_menu .discussion .discussion_link {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('../img/black/arrow/right.svg');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: rgba(0,0,0,0.25);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#facilitation_menu .facilitation_header {
    background-color: rgba(0,0,0,0.15);
    height: 50px;
    width: 100%;
    line-height: 55px;
    font-size: 2.0em;
    font-weight: 900;
    user-select: none;
    margin: 0 0 5px 0;
    border-radius: 5px;
}

#facilitation_menu .facilitation_header .arrow {
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,0.25);
  float: left;
  background-image: url('../img/black/chevron/right.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 35px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#facilitation_menu .facilitation_header.open .arrow {
  background-image: url('../img/black/chevron/down.svg') !important;
}

#facilitation_menu .facilitation_header .title {
  width: calc(100% - 60px);
  height: 50px;
  padding: 0 0 0 10px;
  float: left;
}

#facilitation_menu .facilitation_section {
  flex-direction: column;
    width: calc(100% - 50px);
    min-height: 100px;
    position: relative;
    margin: 0 0 5px 0;
    padding: 10px 20px;
    user-select: none;
    display: flex;
    background-color: rgba(0,0,0,0.15);
    max-width: 800px;
    border-radius: 5px;
}

#discussion_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




#facilitation_menu .facilitation_subsection {
  width: calc(100% - 10px);
  min-height: 100px;
  position: relative;
  margin: 0 0 5px 0;
  padding: 0 5px;
  user-select: none;
  display: flex;
  max-width: 800px;
  border-radius: 5px;
}

#facilitation_menu .facilitation_subsection:last-child {
  margin: 0;
  }

#facilitation_menu .facilitation_subsection .icon {
  width: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 10px 0 0;
}

#facilitation_menu .facilitation_subsection .icon .image {
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  background-color: rgba(0,0,0,0.15);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 25px;
}

#facilitation_menu .facilitation_subsection .content .facilitation_subheader {
  width: 100%;
  height: 50px;
  padding: 10px 0 0 0;
  user-select: none;
  cursor: pointer;
}

#facilitation_menu .facilitation_subsection .content .facilitation_subheader .title {
  font-size: 1.25em;
  font-weight: 900;
  height: 50px;
  width: 100%;
  line-height: 55px;
}

#facilitation_menu .facilitation_subsection .subsection_content {
  width: 100%;
  padding: 0 0 10px 0;
  user-select: none;
}

/* ==========================================================================
   Activity Menu
   ========================================================================== */

body #activity_menu_button {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-color: black;
  background-repeat: no-repeat;
  background-image: url('../img/white/menu/menu.svg');
  position: absolute;
  top: 0;
  right: 0px;
  cursor: pointer;
  z-index: 120;
}

body #activity_menu_button.closed {
  background-image: url('../img/white/menu/menu.svg');
  background-size: 35px;
}

body #activity_menu_button.open {
  background-image: url('../img/white/interact/clear.svg');
  background-size: 45px;
}

body #activity_menu {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  color: white;
}

body #activity_menu.closed {
  display: none;
}

body #activity_menu.open {
  display: block;
}

body #activity_menu .activity_menu_header {
  font-size: 2em;
  height: 60px;
  margin: 0 60px;
  line-height: 60px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

body #activity_menu #activity_menu_list {
  text-align: left;
  margin: 0 10px 0 60px;
  height: calc(100vh - 70px);
  width: calc(100vw - 70px);
}

body #activity_menu #activity_menu_list.open {
  display: block;
}

body #activity_menu #activity_menu_list.closed {
  display: none;
}


body #activity_menu_list .activity_menu_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 60px;
  margin: 10px 0;
  cursor: pointer;
}

body #activity_menu_list .activity_menu_item .menu_item_title {
  font-size: 1.5em;
  font-weight: 700;
}

body #activity_menu_list .activity_menu_item .menu_item_icon {
  height: 60px;
  width: 60px;
  background-position: center center;
  background-color: black;
  background-size: 35px;
  background-repeat: no-repeat;
}

body #activity_menu_list #activity_menu_accessibility .menu_item_icon {
  background-image: url('../img/white/menu/accessibility.svg');
}

body #activity_menu_list #activity_menu_introduction .menu_item_icon {
  background-image: url('../img/white/media/play.svg');
}

body #activity_menu_list #activity_menu_information .menu_item_icon {
  background-image: url('../img/white/menu/info.svg');
}

body #activity_menu_list #activity_menu_acknowledgement .menu_item_icon {
  background-image: url('../img/white/menu/acknowledge.svg');
}

body #activity_menu_list #activity_menu_attribution .menu_item_icon {
  background-image: url('../img/white/menu/attribution.svg');
}

body #activity_menu_list #activity_menu_help .menu_item_icon {
  background-image: url('../img/white/menu/about.svg');
}

body #activity_menu #activity_menu_back {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-color: black;
  background-repeat: no-repeat;
  background-image: url('../img/white/arrow/left.svg');
  background-size: 45px;
  position: absolute;
  top: 0;
  left: 0px;
  cursor: pointer;
  z-index: 120;
}

body #activity_menu #activity_menu_back.closed {
  display: none;
}

body #activity_menu #activity_menu_subcontent {
  color: white;
  height: calc(100vh - 60px);
  width: 100vw;
}

body #activity_menu #activity_menu_subcontent.closed {
  display: none;
}

body #activity_menu #activity_menu_subcontent.open {
  display: block;
}

#activity_video {
  height: calc(100vh - 60px);
  display: flex; 
  flex-direction: column; 
  text-align: center; 
  font-size: 1.5em; 
  justify-content: center; 
  align-items: center;
}

#activity_video .video-js .vjs-big-play-button {
  height: 100px;
  width: 100px;
  left:  50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  line-height: 100px;
  background-color: transparent;
  border: none;
}

#activity_video  .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  content: "";
  display:block;
  height:100px;
  width:100px;
  background-size: 100px;
  background-image: url('../img/white/media/play.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

#activity_menu #activity_menu_description {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 2em;
  line-height: 1.5em;
}

#activity_menu #activity_menu_description .description_wrapper {
  padding: 0 50px;
}

#activity_menu #activity_help_content {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 2em;
  line-height: 1.5em;
}

#activity_menu #activity_help_content .description_wrapper {
  padding: 0 50px;
}

#activity_menu #acknowledgement_list {
  font-size: 1.25em;
  text-align: center;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 2em;
  line-height: 1.5em;
}

#activity_menu #acknowledgement_list .acknowledgement_container {
  margin: 50px;
}

#activity_menu #acknowledgement_list .acknowledgement {
  margin: 35px 0 15px 0;
  padding: 0 0 25px 0;
  border-color: white;
  border-style: solid;
  border-width: 0 0 1px 0;
}

#activity_menu #attribution_list {
  font-size: 1.25em;
  text-align: center;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 2em;
  line-height: 1.5em;
}

#activity_menu #attribution_list .attribution_container {
  margin: 50px;
}

#activity_menu #attribution_list .attribution {
  margin: 35px 0 15px 0;
  padding: 0 0 25px 0;
  border-color: white;
  border-style: solid;
  border-width: 0 0 1px 0;
}



/* Scroll bar */

#activity_menu .mCSB_scrollTools .mCSB_draggerContainer {
  background-color: black;
  margin: 60px 0;
  height: calc(100% - 120px);
}

#activity_menu .mCS_no_scrollbar .mCSB_buttonUp,
#activity_menu .mCS_no_scrollbar .mCSB_buttonDown {
  background-color: #262626 !important;
}

#activity_menu .mCSB_scrollTools_vertical {
  background-color: transparent;
}

#activity_menu .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #262626;
  border-radius: 999px;

}

#activity_menu .mCSB_scrollTools .mCSB_dragger_bar {
  background-color: white;
  border-radius: 999px;
  background-image: url('../img/black/interact/drag.svg');
}

#activity_menu .mCSB_scrollTools .mCSB_buttonUp,
#activity_menu .mCSB_scrollTools .mCSB_buttonDown {
  background-color:  white;
  border-radius: 999px;
}

#activity_menu .mCSB_scrollTools .mCSB_buttonUp {
  background-image: url('../img/black/chevron/up.svg');
}

#activity_menu .mCSB_scrollTools .mCSB_buttonDown {
  background-image: url('../img/black/chevron/down.svg');
}




#activity_menu #activity_accessibility {
  font-size: 1.25em;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
}

#activity_accessibility .accessibility_wrapper {
  padding: 0 50px;
}

#activity_accessibility .accessibility {
  width: calc(100% - 10px);
  min-height: 100px;
  position: relative;
  margin: 0 0 5px 0;
  padding: 0 5px;
  user-select: none;
  display: flex;
  background-color: rgba(255,255,255,0.15);
  max-width: 815px;
  border-radius: 5px;
}

#activity_accessibility .accessibility:last-child {
  margin: 0;
  }

#activity_accessibility .accessibility .icon {
  width: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 10px 0 0;
}

#activity_accessibility .accessibility .icon .image {
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  background-color: rgba(255,255,255,0.15);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 25px;
}

#activity_accessibility .accessibility .content .accessibility_header {
  width: 100%;
  height: 50px;
  padding: 10px 0;
  user-select: none;
  cursor: pointer;
}

#activity_accessibility .accessibility .content .accessibility_header .title {
  font-size: 1.25em;
  font-weight: 900;
  height: 50px;
  width: 100%;
  line-height: 55px;
}

#activity_accessibility .accessibility .accessibility_description {
  width: 100%;
  padding: 0 0 10px 0;
  user-select: none;
}

#activity_accessibility .accessibility .accessibility_controls {
  padding: 0 0 10px 0;
}

#activity_accessibility .accessibility .accessibility_controls .small_button {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: rgba(255,255,255,0.15);
  font-weight: 900;
}

#activity_accessibility .accessibility .accessibility_controls .small_button.notext {
  text-indent: -9999px
}

#activity_accessibility .accessibility .accessibility_controls .large_button {
  width: 400px;
  height: 35px;
  line-height: 35px;
  background-color: white;
  font-weight: 900;
  text-align: center;
  outline: 0;
  border: 0;
  padding: 0;
  border-radius: 999px;
}

#activity_accessibility .accessibility .accessibility_controls button:focus,
#activity_accessibility .accessibility .accessibility_controls button:active {
  outline: 0;
  border: 0;
}

#activity_accessibility .accessibility .setting_controls {
  padding: 0 0 10px 0;
}

#activity_accessibility .accessibility .setting_controls .small_button {
  width: 35px;
  height: 35px;
  line-height: 40px;
  border-radius: 5px;
  font-weight: 900;
  padding: 0;
  border: 0;
  outline: 0;
}

#activity_accessibility .accessibility .setting_controls .small_button.unselected {
  background-color: rgba(255,255,255,0.15);
  color: white;
  }

  #activity_accessibility .accessibility .setting_controls .small_button.selected {
  background-color: rgba(255,255,255,0.85);
  color: black;
  }

#activity_accessibility .accessibility .setting_controls .small_button.notext {
  text-indent: -9999px
}


#activity_accessibility .accessibility .setting_controls button:focus,
#activity_accessibility .accessibility .setting_controls button:active {
  outline: 0;
  border: 0;
  padding: 0;
}

#activity_accessibility .select2-container {
  background-color: white;
  border-radius: 999px;
}

#activity_accessibility .select2-container--default .select2-selection--single {
  border-radius: 999px;
}