/* Don't forget your activity container! */
#activity_content #cards {
	width: 100%;
	height: 100%;
	display: flex;
}

/* Style the left and right card sections. */
#cards .card_section {
	flex: 1;
	border-color: black;
	border-style: solid;
	display: flex;
	flex-wrap: wrap;
}

#cards #left_cards {
	border-width: 0 2px 0 0;
}

#cards #right_cards {
	border-width: 0 0 0 2px;
}

/* Individual flash card styling */
#cards .card_section .card {
	width: calc(50% - 30px);
	height: calc(50% - 30px);
	margin: 15px;
	background-color: rgba(0,0,0,0.15);
	display: flex;
	flex-direction: column;
	font-size: 1.25em;
	border-radius: 5px;
	transition: opacity 0.25s;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#cards .card_section .card .card_title {
	height: 50px;
	line-height: 55px;
	font-weight: 900;
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.45);
	border-radius: 5px;
}

#cards .card_section .card .card_title.hide_title {
	display: none !important;
}

#cards .card_section .card .card_info {
	flex: 6;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5px;
}

#cards .card_section .card .card_info span {
	flex: 1;
}

/* Response pop-up styling */
#card_message {
	width: 100%;
	height: 100%;
	color: white;
	background-color: black;
}

#card_message .card_wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#card_message .card_message_header {
	width: 700px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-size: 1.5em;
	font-weight: 900;
	border-radius: 5px;
}

#card_message.correct .card_message_header {
	background-color: #238823 !important;
}

#card_message.incorrect .card_message_header {
	background-color: #D2222D !important;
}

#card_message .card_message_content {
	width: 600px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#card_message .card_message_toolbar {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#card_message button.next {
	width: 100px;
    height: 70px;
    border-radius: 5px;
    background-color: gray;
    background-size: 35px;
    background-position: center calc(50% - 10px);
    background-repeat: no-repeat;
    background-image: url(../img/black/arrow/right.svg);
    border: 0;
    line-height: 105px;
}

#card_message button.done {
	width: 100px;
    height: 70px;
    border-radius: 5px;
    background-color: gray;
    background-size: 35px;
    background-position: center calc(50% - 10px);
    background-repeat: no-repeat;
    background-image: url(../img/black/interact/check.svg);
    border: 0;
    line-height: 105px;
}

#card_message button.try_again {
	width: 100px;
    height: 70px;
    border-radius: 5px;
    background-color: gray;
    background-size: 35px;
    background-position: center calc(50% - 10px);
    background-repeat: no-repeat;
    background-image: url(../img/black/media/replay.svg);
    border: 0;
    line-height: 105px;
    margin: 0 10px 0 0;
}

#card_message .next:focus,
#card_message .try_again:focus,
#card_message .home:focus {
	outline: 0;
}

/* Card display options */
#cards .card_section.selected .card {
	opacity: 0.25;
}

#cards .card_section.selected .card.selected {
	opacity: 1;
}

#cards .card_section .card.selected {
	width: calc(50% - 10px);
	height: calc(50% - 10px);
	margin: 5px;
}

#cards .card_section .card.disabled {
	width: calc(50% - 30px);
	height: calc(50% - 30px);
	margin: 15px;
	opacity: 0.25;
}