/* accessibility_contrast_mode_greenonblack.css */
/* Contains layout overrides for the green text on black background accessibility contrast mode. */

/* ==========================================================================
   Rich Text Styles
   ========================================================================== */

.accessibility_contrast_mode_greenonblack blockquote {
  background-color: lightgray !important;
  border-color: black !important;
}

/* ==========================================================================
   Interface Styles
   ========================================================================== */
/* Header styles */
.accessibility_contrast_mode_greenonblack #header {
  background-color: #1e1e1e !important;
  color: #66ff66 !important;
}

.accessibility_contrast_mode_greenonblack #header .title_bar .title {
  color: #66ff66 !important;
}

.accessibility_contrast_mode_greenonblack #header .title_bar .title span {
  color: #66ff66 !important;
}

/* Scroll Bar */
body.accessibility_contrast_mode_greenonblack .mCustomScrollBox .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #1e1e1e !important;
}

/* Menu styles */
.accessibility_contrast_mode_greenonblack #menu_content_wrapper {
  background-color: black !important;
  color: white;
  background-image: unset !important;
}

.accessibility_contrast_mode_greenonblack #menu .bumper {
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack #menu.full_menu #home_button span {
  color: #66ff66 !important;
}

body.accessibility_contrast_mode_greenonblack #menu .menu_button span {
  color: #66ff66 !important;
}

body.accessibility_contrast_mode_greenonblack #menu.full_menu #home_button {
    background-color: #1e1e1e !important;
    background-image: url(../../img/green/menu/exhibit_mode.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #menu #facilitation_button {
      background-image: url(../../img/green/menu/facilitation.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #menu #program_button {
      background-image: url(../../img/green/menu/activities.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #menu #settings_button {
      background-image: url(../../img/green/menu/settings.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #menu #accessibility_button {
      background-image: url(../../img/green/menu/accessibility.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #menu #about_button {
      background-image: url(../../img/green/menu/about.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #menu #home_button {
  background-image: url(../../img/green/menu/exhibit_mode.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #menu #home_button, 
body.accessibility_contrast_mode_greenonblack #menu #settings_button.selected, 
body.accessibility_contrast_mode_greenonblack #menu #accessibility_button.selected, 
body.accessibility_contrast_mode_greenonblack #menu #lessons_button.selected, 
body.accessibility_contrast_mode_greenonblack #menu #about_button.selected, 
body.accessibility_contrast_mode_greenonblack #menu #program_button.selected, 
body.accessibility_contrast_mode_greenonblack #menu #facilitation_button.selected {
  background-color: #333333 !important;
}

body.accessibility_contrast_mode_greenonblack #menu_header {
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack #page_title {

  color: #66ff66 !important;
}

body.accessibility_contrast_mode_greenonblack #menu_breadcrumbs .button {
  background-color: #1e1e1e !important;
  background-image: url(../../img/green/arrow/left.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #menu.collapsed .bumper {
  background-color: #333333 !important;
}

body.accessibility_contrast_mode_greenonblack #menu.minimal .menu_accessibility_header {
  color: #66ff66 !important;
}

/* Lightbox */
body.accessibility_contrast_mode_greenonblack .fancybox-bg {
  background: #333333 !important;
}

body.accessibility_contrast_mode_greenonblack .fancybox-toolbar {
  background: #333333 !important;
}

body.accessibility_contrast_mode_greenonblack .fancybox-button {
  background-color: #333333 !important;
}

body.accessibility_contrast_mode_greenonblack .fancybox-button--close {
  background-image: url('../../img/green/interact/cancel.svg') !important;
}

body.accessibility_contrast_mode_greenonblack .fancybox-button--play {
  background-image: url('../../img/green/media/play-nocircle.svg') !important;
}

body.accessibility_contrast_mode_greenonblack .fancybox-button--zoom {
  background-image: url('../../img/green/interact/zoom_in.svg') !important;
}

body.accessibility_contrast_mode_greenonblack .fancybox-container.fancybox-can-pan .fancybox-button--zoom {
  background-image: url('../../img/green/interact/zoom_out.svg') !important;
}

body.accessibility_contrast_mode_greenonblack .fancybox-caption__body {
  color: #66ff66 !important;
}

body.accessibility_contrast_mode_greenonblack .fancybox-caption {
  background: linear-gradient(to top, 
    rgba(0, 0, 0, .85) 0%, 
    rgba(0, 0, 0, .3) 50%, 
    rgba(0, 0, 0, .15) 65%, 
    rgba(0, 0, 0, .075) 75.5%, 
    rgba(0, 0, 0, .037) 82.85%, 
    rgba(0, 0, 0, .019) 88%, 
    rgba(0, 0, 0, 0) 100%) !important;
}

body.accessibility_contrast_mode_greenonblack  .fancybox-button--arrow_left div {
  background-image: url('../../img/black/chevron/left.svg') !important;
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack  .fancybox-button--arrow_right div {
  background-image: url('../../img/black/chevron/right.svg') !important;
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack  .fancybox-infobar {
  color: #66ff66 !important;
}

/* Informational Pop-Up */
body.accessibility_contrast_mode_greenonblack #message {
  background: #333333 !important;
  color: #66ff66 !important;
}

body.accessibility_contrast_mode_greenonblack #message button#activity_close {
  background-color: #66ff66 !important;
  background-image: url(../../img/black/interact/check.svg);
  color: black !important;
}

/* Carousel */
body.accessibility_contrast_mode_greenonblack .owl-theme .owl-dots .owl-dot span {
  background-color: #333333 !important;
}

body.accessibility_contrast_mode_greenonblack .owl-theme .owl-dots .owl-dot.active span {
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack .owl-carousel .owl-nav .owl-prev {
  background-color: #1e1e1e !important;
  background-image: url(../../img/black/chevron/left.svg) !important;

}

body.accessibility_contrast_mode_greenonblack .owl-carousel .owl-nav .owl-next {
  background-color: #1e1e1e !important;
  background-image: url(../../img/black/chevron/right.svg) !important;
}

/* Content Styles*/
.accessibility_contrast_mode_greenonblack #content_wrapper {
  background-color: black !important;
  color: white;
}

/* Media Playbar */
.accessibility_contrast_mode_greenonblack #jp-control-bar.jp-state-playing .jp-play {
  background-image: url('../../img/green/media/pause.svg') !important;
}

.accessibility_contrast_mode_greenonblack #jp-control-bar .jp-play {
  background-image: url('../../img/green/media/play.svg') !important;
}

.accessibility_contrast_mode_greenonblack #jp-control-bar .jp-rewind {
  background-image: url('../../img/green/media/replay_10.svg') !important;
}

.accessibility_contrast_mode_greenonblack #jp-control-bar .jp-seek-bar {
  background-color: rgba(255,255,255,0.15);
}

.accessibility_contrast_mode_greenonblack #jp-control-bar .jp-seek-bar .jp-play-bar {
  background-color: rgba(255,255,255,1);
}

.accessibility_contrast_mode_greenonblack #jp-control-bar #volume {
  background-image: url('../../img/green/media/volume_up.svg') !important;
}

.accessibility_contrast_mode_greenonblack #jp-control-bar .volume-current .volume-level {
  background-color: rgba(255,255,255,0.15);
}

.accessibility_contrast_mode_greenonblack #jp-control-bar .volume-current .volume-level.selected {
  background-color: rgba(255,255,255,1.0);
}

body.accessibility_contrast_mode_greenonblack #jp-control-bar.white {
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack #jp-control-bar.white .jp-audio-controls .volume-current .volume-level {
  background-color: #272727 !important;
}

body.accessibility_contrast_mode_greenonblack #jp-control-bar.white .jp-progress .jp-seek-bar {
  background-color: #272727 !important;
}

body.accessibility_contrast_mode_greenonblack #jp-control-bar.white .jp-audio-controls #volume.muted {
  background-image: url(../../img/green/media/volume_off.svg) !important;
}


/* Scrollbar Styles */
body.accessibility_contrast_mode_greenonblack .mCustomScrollBox .mCSB_scrollTools .mCSB_buttonUp,
body.accessibility_contrast_mode_greenonblack .mCustomScrollBox .mCSB_scrollTools .mCSB_buttonDown {
  background-color:  #333333 !important;
}

body.accessibility_contrast_mode_greenonblack .mCustomScrollBox .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #2c2c2c !important;
  background-image: url(../../img/green/interact/drag.svg) !important;
}

body.accessibility_contrast_mode_greenonblack .mCustomScrollBox .mCSB_scrollTools .mCSB_buttonUp {
  background-image: url('../../img/green/chevron/up.svg') !important;
}

body.accessibility_contrast_mode_greenonblack .mCustomScrollBox .mCSB_scrollTools .mCSB_buttonDown {
  background-image: url('../../img/green/chevron/down.svg') !important;
}

/* Drowdown Menu Styles*/
.accessibility_contrast_mode_greenonblack .select2-selection--single {
  background-color: #272727 !important;
  border-color: lightgray !important;
}

.accessibility_contrast_mode_greenonblack .select2-selection--single .select2-selection__rendered {
  color: #66ff66 !important;
}

.accessibility_contrast_mode_greenonblack .select2-selection--single .select2-selection__arrow b {
  border-color: #66ff66 transparent transparent transparent !important;
}

.accessibility_contrast_mode_greenonblack .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {  
  border-color: transparent transparent #66ff66 transparent !important;
}

.accessibility_contrast_mode_greenonblack .select2-results {
  color: #66ff66;
}
.accessibility_contrast_mode_greenonblack .select2-dropdown {
  background-color: #232323 !important;
}

.accessibility_contrast_mode_greenonblack .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #333333 !important;
}

.accessibility_contrast_mode_greenonblack .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #333333 !important;
  color: #66ff66 !important;
}

.accessibility_contrast_mode_greenonblack .select2-dropdown {
  border: 1px solid #333333 !important;
}

/* ==========================================================================
   Homescreen (Exhibit menu)
   ========================================================================== */

.accessibility_contrast_mode_greenonblack #desktop {
  background-color: black !important;
  background-image: unset !important;
  color: #66ff66;
}

body.homescreen.accessibility_contrast_mode_greenonblack #desktop .setup_container #setup_header {
  background-image: unset !important;
  text-indent: 0px !important;
}

.accessibility_contrast_mode_greenonblack #desktop #add_activity {
  background-color: #232323 !important;
  background-image: url('../../img/green/interact/add.svg') !important;
  color: #66ff66;
}

.accessibility_contrast_mode_greenonblack #desktop #reload_exhibit {
  background-color: #232323 !important;
  color: #66ff66 !important;
  background-image: url('../../img/green/interact/restore.svg') !important;
}

.accessibility_contrast_mode_greenonblack #desktop #clear_exhibit {
  background-color: #232323 !important;
  color: #66ff66 !important;
}

.accessibility_contrast_mode_greenonblack #desktop #exhibit_disclaimer {
  background-color: #232323 !important;
  color: #66ff66 !important;
  background-image: url('../../img/green/media/play.svg') !important;
}


body.homescreen.accessibility_contrast_mode_greenonblack #desktop .setup_container.empty #setup_toolbar #exhibit_disclaimer {
  background-color: #1e1e1e !important;
  opacity: 0.5 !important;
}

body.homescreen.accessibility_contrast_mode_greenonblack #desktop .setup_container.empty #setup_toolbar #clear_exhibit {
  background-color: #1e1e1e !important;
  opacity: 0.5 !important;
}

/* ==========================================================================
   Facilitation Menu
   ========================================================================== */
.accessibility_contrast_mode_greenonblack .highlight_box {
  background-color: #1e1e1e !important;
  color: #66ff66;
}

.accessibility_contrast_mode_greenonblack #facilitation_menu {
  color: #66ff66;
}

.accessibility_contrast_mode_greenonblack #facilitation_menu .facilitation_section {
  background-color: #1e1e1e !important;
}

.accessibility_contrast_mode_greenonblack #facilitation_menu .facilitation_header {
  background-color: #232323 !important;
}

.accessibility_contrast_mode_greenonblack #facilitation_menu .facilitation_header .arrow {
  background-color: #272727 !important;
  background-image: url('../../img/green/chevron/right.svg') !important;
}

.accessibility_contrast_mode_greenonblack #facilitation_menu .facilitation_header.open .arrow {
  background-image: url('../../img/green/chevron/down.svg') !important;
}

.accessibility_contrast_mode_greenonblack #facilitation_menu .facilitation_subsection .icon .image {
  background-color: #272727 !important;
}

.accessibility_contrast_mode_greenonblack #facilitation_menu .discussion {
  background-color: rgba(0,0,0,0.15) !important;
}

.accessibility_contrast_mode_greenonblack #facilitation_menu .discussion .image {
  background-color: rgba(0,0,0,0.25) !important;
  background-image: url('../../img/green/interact/discussion.svg') !important;
}

.accessibility_contrast_mode_greenonblack #facilitation_menu .discussion .discussion_link {
  background-color: rgba(0,0,0,0.25) !important;
  background-image: url('../../img/green/arrow/right.svg') !important;
}

body.accessibility_contrast_mode_greenonblack #facilitation_menu .facilitation_subsection.introduction .icon .image {
  background-image: url(../../img/green/menu/facilitation.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #facilitation_menu .facilitation_subsection.instructions .icon .image {
  background-image: url(../../img/green/menu/feedback.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #facilitation_title {
  background-image: unset !important;
  text-indent: 0px !important;
}

/* ==========================================================================
   Activity Menu
   ========================================================================== */

.accessibility_contrast_mode_greenonblack #activity_sort {
  background-color: #1e1e1e !important;
}

.accessibility_contrast_mode_greenonblack .activity {
  background-color: #1e1e1e !important;
}

.accessibility_contrast_mode_greenonblack .activity .activity_link {
  background-color: #232323 !important;
  background-image: url('../../img/green/arrow/right.svg') !important;
}

/* ==========================================================================
   Settings Menu
   ========================================================================== */

.accessibility_contrast_mode_greenonblack .setting {
  border-color: black !important;
  background-color: #1e1e1e !important;
}

.accessibility_contrast_mode_greenonblack .setting .setting_header {
  color: #66ff66 !important;
}

.accessibility_contrast_mode_greenonblack .setting .setting_description {
  color: #66ff66 !important;
}

.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_settings .setting.setting_reset button {
  color: #66ff66 !important;
  background-color: #232323 !important;
}

.accessibility_contrast_mode_greenonblack #settings_menu .setting .setting_controls .small_button.selected {
  background-color: #66ff66 !important;
  color: black !important;
}

.accessibility_contrast_mode_greenonblack #settings_menu .setting .setting_controls .small_button.unselected {
  background-color: #272727 !important;
  color: #66ff66 !important;
}


.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_settings .setting .image {
  background-color: #272727 !important;
}

/* Menu section icons */
.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_settings .setting.setting_brightness .image {
  background-image: url('../../img/green/settings/brightness.svg') !important;
}

.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_settings .setting.setting_default_program .image {
  background-image: url('../../img/green/settings/default_program.svg') !important;
}

.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_settings .setting.setting_reset .image {
  background-image: url('../../img/green/settings/reset.svg') !important;
}

body.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_settings .setting_contrast_override .image {
  background-image: url(../../img/green/settings/invert.svg) !important;
}
body.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_settings .setting_activity_timeout .image {
  background-image: url(../../img/green/settings/delay-empty.svg) !important;
}
body.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_settings .setting_slide_duration .image {
  background-image: url(../../img/green/settings/speed.svg) !important;
}


/* ==========================================================================
   Accessibility Menu
   ========================================================================== */

.accessibility_contrast_mode_greenonblack .accessibility {
  border-color: black !important;
  background-color: #1e1e1e !important;
  color: #66ff66;
}

.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_accessibility .accessibility.accessibility_reset button {
  color: #66ff66 !important;
  background-color: #232323 !important;
}

.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_accessibility .accessibility .image {
  background-color: #272727 !important;
}

/* Menu section icons*/
.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_accessibility .accessibility.accessibility_contrast .image {
  background-image: url('../../img/green/settings/contrast.svg') !important;
}

.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_accessibility .accessibility.accessibility_readability .image {
  background-image: url('../../img/green/settings/readability.svg') !important;
}

.accessibility_contrast_mode_greenonblack #menu_content_wrapper.menu_accessibility .accessibility.accessibility_reset .image {
  background-image: url('../../img/green/settings/reset.svg') !important;
}

/* ==========================================================================
   Activity Menu
   ========================================================================== */
body.accessibility_contrast_mode_greenonblack .activity {
  color: #66ff66;
}

.accessibility_contrast_mode_greenonblack #activity_sort .activity_view .sort_button.selected {
  background-color: #272727 !important;
}

/* Checkboxes */
#main.accessibility_contrast_mode_greenonblack .activity .controls .checkbox.unselected, 
.accessibility_contrast_mode_greenonblack #activities .activity .controls .checkbox.unselected {
  background-color: #272727 !important;
  background-image: url('../../img/green/interact/add.svg') !important;
}

#main.accessibility_contrast_mode_greenonblack .activity .controls .checkbox.selected, 
.accessibility_contrast_mode_greenonblack #activities .activity .controls .checkbox.selected {
  background-color: rgba(0,0,0,0.25) !important;
  background-image: url('../../img/green/interact/check-box.svg')!important;
}

/* Activity Sorting */
body.accessibility_contrast_mode_greenonblack #activity_sort {
  color: #66ff66;
}

body.accessibility_contrast_mode_greenonblack #activity_details {
  background-image: url(../../img/green/interact/details.svg);
}

body.accessibility_contrast_mode_greenonblack #activity_list {
  background-image: url(../../img/green/interact/list.svg);
}

body.accessibility_contrast_mode_greenonblack .view_details .activity .content .activity_header .grouping, 
body.accessibility_contrast_mode_greenonblack #activities.view_details .activity .content .activity_header .grouping {
  border-color: #66ff66 !important;
}

body.homescreen.accessibility_contrast_mode_greenonblack #desktop .setup_container #setup_toolbar #clear_exhibit {
  background-image: url(../../img/green/interact/delete_all.svg) !important;
}

body.homescreen.accessibility_contrast_mode_greenonblack #desktop .setup_container #setup_toolbar #reload_exhibit {
  background-image: url(../../img/green/interact/restore.svg) !important;
}

body.homescreen.accessibility_contrast_mode_greenonblack #desktop .setup_container #setup_toolbar #exhibit_disclaimer {
  background-image: url(../../img/green/media/play.svg) !important;
}

#main.accessibility_contrast_mode_greenonblack .view_details .activity .content .info .help, 
body.accessibility_contrast_mode_greenonblack #activities.view_details .activity .content .info .help {
  background-image: url(../../img/green/menu/about.svg) !important;
}

#main.accessibility_contrast_mode_greenonblack .view_details .activity .content .activity_header .grouping .arrow, 
body.accessibility_contrast_mode_greenonblack #activities.view_details .activity .content .activity_header .grouping .arrow {
  background-image: url(../../img/green/chevron/right.svg) !important;
}

/* Facilitator Mode activity add */
body.accessibility_contrast_mode_greenonblack.facilitator #facilitator_add {
  background-color: #333333 !important;
  background-image: url(../../img/green/interact/add_circle.svg) !important;
}

body.accessibility_contrast_mode_greenonblack.facilitator #facilitator_add.selected {
  background-image: url(../../img/green/interact/check-box.svg) !important;
}

/* ==========================================================================
   Help Menu
   ========================================================================== */

.accessibility_contrast_mode_greenonblack #info_menu .help_section {
  background-color: #1e1e1e !important;
  color: #66ff66;
}

.accessibility_contrast_mode_greenonblack #info_menu .help_section .image {
  background-color: #272727 !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .setup_button .image {
  background-image: url('../../img/green/settings/guides.svg') !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .acknowledgement_button .image {
  background-image: url('../../img/green/settings/acknowledgement.svg') !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .help_section .about_link {
  background-color: #232323 !important;
  background-image: url('../../img/green/arrow/right.svg') !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .help_header {
  background-color: #232323 !important;
  color: #66ff66;
}

.accessibility_contrast_mode_greenonblack #info_menu .help_header .arrow {
  background-color: #272727 !important;
  background-image: url(../../img/green/chevron/right.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .help_header.open .arrow {
  background-color: #272727 !important;
  background-image: url(../../img/green/chevron/down.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .info_section {
  background-color: #1e1e1e !important;
}
.accessibility_contrast_mode_greenonblack #info_menu .info_subsection {
  color: #66ff66;
}

.accessibility_contrast_mode_greenonblack #info_menu .info_subsection .icon .image {
  background-color: #272727 !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .location .icon .image {
  background-image: url(../../img/green/menu/no_location.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .power .icon .image {
  background-image: url(../../img/green/menu/power.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .startup .icon .image {
  background-image: url(../../img/green/settings/startup.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .exhibition .icon .image {
  background-image: url(../../img/green/menu/exhibit_mode.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .facilitation .icon .image {
  background-image: url(../../img/green/menu/facilitation.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .activities .icon .image {
  background-image: url(../../img/green/menu/activities.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .settings .icon .image {
  background-image: url(../../img/green/menu/settings.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .accessibility .icon .image {
  background-image: url(../../img/green/menu/accessibility.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .navigating .icon .image {
  background-image: url(../../img/green/settings/navigation.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .customization .icon .image {
  background-image: url(../../img/green/settings/edit.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .types .icon .image {
  background-image: url(../../img/green/settings/apps.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .audiences .icon .image {
  background-image: url(../../img/green/settings/audience.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .exhibit_mode .icon .image {
  background-image: url(../../img/green/media/play.svg) !important;
}

.accessibility_contrast_mode_greenonblack #info_menu .note .icon .image {
  background-image: url(../../img/green/interact/error.svg) !important;
}

/* ==========================================================================
   Activity Types
   ========================================================================== */

/* Home Button */
body.accessibility_contrast_mode_greenonblack #return_home {
  background-color: #333333 !important;
  background-image: url(../../img/green/menu/home.svg) !important;
}

/* General */
.accessibility_contrast_mode_greenonblack #content_subheader {
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack #content_wrapper {
  background-image: unset !important;
}

/* Activity Info Icon */
body.user.accessibility_contrast_mode_greenonblack #activity_info {
  background-color: #333333 !important;
  background-image: url('../../img/green/menu/info.svg') !important;

}

/* Annotated Image and Comparison */
.accessibility_contrast_mode_greenonblack #activity_content #twentytwenty_image1 .title,
.accessibility_contrast_mode_greenonblack #activity_content #twentytwenty_image2 .title {
  background-color: rgba(0,0,0,0.15) !important;
}

.accessibility_contrast_mode_greenonblack #activity_content .tooltip.hint {
    background-color: #1e1e1e !important;
    border: solid 2px #333333 !important;
}

body.accessibility_contrast_mode_greenonblack #tooltip_toggle {
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack #tooltip_toggle.visible {
  background-image: url(../../img/green/interact/visibility-on.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #tooltip_toggle.hide {
  background-image: url(../../img/green/interact/visibility-off.svg) !important;
}

/* Timeline */
.accessibility_contrast_mode_greenonblack #timeline,
.accessibility_contrast_mode_greenonblack #dates a, 
.accessibility_contrast_mode_greenonblack #dates a:hover, 
.accessibility_contrast_mode_greenonblack #dates a.selected  {
  color: #66ff66 !important;
}

.accessibility_contrast_mode_greenonblack #timeline .timeline_content .tl_image {
  border-color: black !important;
}

.accessibility_contrast_mode_greenonblack #time_next {
  background-image: url('../../img/black/chevron/right.svg') !important;
  background-color: #1e1e1e !important;
}

.accessibility_contrast_mode_greenonblack #time_prev {
  background-image: url('../../img/black/chevron/left.svg') !important;
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack #dates_background {
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack #timeline .timeline_content .tl_image .tl_expand {
  background-color: #1e1e1e !important;
    background-image: url('../../img/green/interact/zoom_in.svg') !important;

}

/* Flash Cards */
.accessibility_contrast_mode_greenonblack #cards .card_section {
  border-color: #333333 !important;
}

.accessibility_contrast_mode_greenonblack #cards .card_section .card {
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack #activity_content #flash_cards .card .front {
  background-color: #1e1e1e !important;
  
}

body.accessibility_contrast_mode_greenonblack #activity_content #flash_cards .card .front .description {
  color: #66ff66 !important;
}

body.accessibility_contrast_mode_greenonblack #activity_content #flash_cards .card .back .description.background {
  background-color: rgba(51,51,51,0.5);
  color: #66ff66 !important;
}

body.accessibility_contrast_mode_greenonblack #activity_content #flash_cards .card .front.open .card_more {
  background-color: #333333;
  background-image: url('../../img/green/interact/zoom_in.svg') !important;

}

body.accessibility_contrast_mode_greenonblack #card_message .fancybox-button {
  display: none;
}


body.accessibility_contrast_mode_greenonblack #card_message.correct .card_message_header {
  background-color: #1e1e1e !important;
  color: black !important;
}

body.accessibility_contrast_mode_greenonblack #card_message.incorrect .card_message_header {
  background-color: #1e1e1e !important;
  color: black !important;
}

body.accessibility_contrast_mode_greenonblack #card_message button.next {
  background-color: #1e1e1e !important;
  color: black !important;
  background-image: url(../../img/black/arrow/right.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #card_message button.try_again {
  background-color: #1e1e1e !important;
  color: black !important;
  background-image: url(../../img/black/media/replay.svg) !important;
}

/* Slideshow */
.accessibility_contrast_mode_greenonblack #slideshow.reveal .controls .navigate-left {
  background-color: rgba(0,0,0,0.15) !important;
  background-image: url('../../img/green/chevron/left.svg') !important;
}

.accessibility_contrast_mode_greenonblack #slideshow.reveal .controls .navigate-right {
  background-color: rgba(0,0,0,0.15) !important;
  background-image: url('../../img/green/chevron/right.svg') !important;
}

.accessibility_contrast_mode_greenonblack #slideshow.reveal .controls .navigate-up {
  background-color: rgba(0,0,0,0.15) !important;
  background-image: url('../../img/green/chevron/up.svg') !important;
}

.accessibility_contrast_mode_greenonblack #slideshow.reveal .controls .navigate-down {
  background-color: rgba(0,0,0,0.15) !important;
  background-image: url('../../img/green/chevron/down.svg') !important;
}

.accessibility_contrast_mode_greenonblack.type_slideshow #content_wrapper {
  color: unset !important;
}

body.accessibility_contrast_mode_greenonblack #toggle_overview {
  background-color: #1e1e1e !important;
  background-image: url(../../img/green/settings/apps.svg) !important;
}

.accessibility_contrast_mode_greenonblack #slideshow.reveal .controls .navigate-left {
  background-color: #1e1e1e !important;
  background-image: url('../../img/green/chevron/left.svg') !important;
}

.accessibility_contrast_mode_greenonblack #slideshow.reveal .controls .navigate-right {
  background-color: #1e1e1e !important;
  background-image: url('../../img/green/chevron/right.svg') !important;
}

.accessibility_contrast_mode_greenonblack #slideshow.reveal .controls .navigate-up {
  background-color: #1e1e1e !important;
  background-image: url('../../img/green/chevron/up.svg') !important;
}

.accessibility_contrast_mode_greenonblack #slideshow.reveal .controls .navigate-down {
  background-color: #1e1e1e !important;
  background-image: url('../../img/green/chevron/down.svg') !important;
}

/* Meta Activity */
body.accessibility_contrast_mode_greenonblack #meta_back {
  background-color: #333333 !important;
  background-image: url(../../img/green/arrow/left.svg) !important;
}

/* Image Gallery */
body.accessibility_contrast_mode_greenonblack #images .gallery_image .ig_expand {
  background-image: url('../../img/green/interact/zoom_in.svg') !important;
}

body.accessibility_contrast_mode_greenonblack #images .gallery_image .ig_expand {
  background-image: url('../../img/green/interact/zoom_in.svg') !important;
  background-color: #1e1e1e;
}

/* True or False Quiz */
body.accessibility_contrast_mode_greenonblack button.affirmative {
  background-color: #1e1e1e !important;
  color: black !important;
}

body.accessibility_contrast_mode_greenonblack button.negative {
  background-color: #1e1e1e !important;
  color: black !important;
}

body.accessibility_contrast_mode_greenonblack #true_or_false .question .text {
  background-color: #1e1e1e !important;
}

/* Visual Thinking */
body.accessibility_contrast_mode_greenonblack #visual_thinking .details .title {
  background-color: #272727 !important;
  color: #66ff66 !important;
}

body.accessibility_contrast_mode_greenonblack #visual_thinking .details .bullet {
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack #visual_thinking .details .bullet .button {
  background-color: #232323 !important;
  background-image: url(../../img/green/chevron/right.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #visual_thinking .details .bullet.open .button {
  background-image: url(../../img/green/chevron/down.svg) !important;
}

body.accessibility_contrast_mode_greenonblack #visual_thinking .details .bullet .description {
  background-color: #1e1e1e !important;
}

body.accessibility_contrast_mode_greenonblack #visual_thinking .vt_image .vt_expand {
  background-image: url('../../img/green/interact/zoom_in.svg') !important;
  background-color: #1e1e1e !important;
}

/* ==========================================================================
   Exhibit Mode
   ========================================================================== */

body.accessibility_contrast_mode_greenonblack #exhibit {
  background-color: #1e1e1e !important;
  background-image: unset !important;
}

body.accessibility_contrast_mode_greenonblack #exhibit .exhibit_header{
  background-image: unset !important;
  text-indent: 0px !important;
  color: #66ff66 !important;
}

body.user.accessibility_contrast_mode_greenonblack #exhibit .owl-carousel .owl-nav .owl-prev {
  background-color: #333333 !important;
  background-image: url('../../img/green/chevron/left.svg') !important;
}

body.user.accessibility_contrast_mode_greenonblack #exhibit .owl-carousel .owl-nav .owl-next {
  background-color: #333333 !important;
  background-image: url('../../img/green/chevron/right.svg') !important;
}

body.user.accessibility_contrast_mode_greenonblack #exhibit .owl-carousel .activity_card .details {
  background-color: #333333 !important;
  color: #66ff66 !important;
}

body.user.accessibility_contrast_mode_greenonblack #exhibit .owl-carousel .activity_card .details .info {
  background-image: url('../../img/green/menu/info.svg') !important;
}

body.user.accessibility_contrast_mode_greenonblack #exhibit .owl-carousel .activity_card .touch {
  background-image: url('../../img/green/interact/touch_app.svg') !important;
}

body.user.accessibility_contrast_mode_greenonblack #exhibit .owl-carousel .activity_card .image .overlay {
  background-color: #272727 !important;
  color: #66ff66 !important;
}