/* accessibility_contrast_mode_blackonwhite.css */
/* Contains layout overrides for the white text on black background accessibility contrast mode. */

/* ==========================================================================
   Rich Text Styles
   ========================================================================== */

.accessibility_contrast_mode_blackonwhite blockquote {
  background-color: lightgray !important;
  border-color: black !important;
}

/* ==========================================================================
   Interface Styles
   ========================================================================== */

/* Header styles */
.accessibility_contrast_mode_blackonwhite #header {
  background-color: #f2f2f2 !important;
  color: black !important;
}

.accessibility_contrast_mode_blackonwhite #header .title_bar .title {
  color: black !important;
}

.accessibility_contrast_mode_blackonwhite #header .title_bar .title span {
  color: black !important;
}

/* Menu styles */
.accessibility_contrast_mode_blackonwhite #menu_content_wrapper {
  background-color: white !important;
  color: black;
  background-image: unset !important;
}

.accessibility_contrast_mode_blackonwhite #menu .bumper {
  background-color: #f2f2f2 !important;
}

body.accessibility_contrast_mode_blackonwhite #menu.full_menu #home_button span {
  color: black !important;
}

body.accessibility_contrast_mode_blackonwhite #menu .menu_button span {
  color: black !important;
}

body.accessibility_contrast_mode_blackonwhite #menu.full_menu #home_button {
    background-color: #f2f2f2 !important;
    background-image: url(../../img/black/menu/exhibit_mode.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #menu #facilitation_button {
      background-image: url(../../img/black/menu/facilitation.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #menu #program_button {
      background-image: url(../../img/black/menu/activities.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #menu #settings_button {
      background-image: url(../../img/black/menu/settings.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #menu #accessibility_button {
      background-image: url(../../img/black/menu/accessibility.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #menu #about_button {
      background-image: url(../../img/black/menu/about.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #menu #home_button, 
body.accessibility_contrast_mode_blackonwhite #menu #settings_button.selected, 
body.accessibility_contrast_mode_blackonwhite #menu #accessibility_button.selected, 
body.accessibility_contrast_mode_blackonwhite #menu #lessons_button.selected, 
body.accessibility_contrast_mode_blackonwhite #menu #about_button.selected, 
body.accessibility_contrast_mode_blackonwhite #menu #program_button.selected, 
body.accessibility_contrast_mode_blackonwhite #menu #facilitation_button.selected {
  background-color: #dbdbdb !important;
}

body.accessibility_contrast_mode_blackonwhite #menu_header {
  background-color: #f2f2f2 !important;
}

body.accessibility_contrast_mode_blackonwhite #menu.collapsed .bumper {
  background-color: #dbdbdb !important;
}

body.accessibility_contrast_mode_blackonwhite #menu.minimal .menu_accessibility_header {
  color: black !important;
}

/* Menu Subtitle */
body.accessibility_contrast_mode_blackonwhite #page_title {
  color: black !important;
}

/* Breadcrumb Button */
body.accessibility_contrast_mode_blackonwhite #menu_breadcrumbs .button {
  background-color: #f2f2f2 !important;
  background-image: url(../../img/black/arrow/left.svg) !important;
}

/* Content styles */
.accessibility_contrast_mode_blackonwhite #content_wrapper {
  background-color: white !important;
  color: black;
}

body.accessibility_contrast_mode_blackonwhite #content_wrapper {
  background-image: unset !important;
}

/* Scrollbar styles */
body.accessibility_contrast_mode_blackonwhite .mCustomScrollBox .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f2f2f2 !important;
}

body.accessibility_contrast_mode_blackonwhite .mCustomScrollBox .mCSB_scrollTools .mCSB_buttonUp,
body.accessibility_contrast_mode_blackonwhite .mCustomScrollBox .mCSB_scrollTools .mCSB_buttonDown {
  background-color:  #dbdbdb !important;
}

body.accessibility_contrast_mode_blackonwhite .mCustomScrollBox .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #e3e3e3 !important;
  background-image: url(../../img/black/interact/drag.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite .mCustomScrollBox .mCSB_scrollTools .mCSB_buttonUp {
  background-image: url('../../img/black/chevron/up.svg') !important;
}

body.accessibility_contrast_mode_blackonwhite .mCustomScrollBox .mCSB_scrollTools .mCSB_buttonDown {
  background-image: url('../../img/black/chevron/down.svg') !important;
}


body.accessibility_contrast_mode_blackonwhite #activity_menu .mCustomScrollBox .mCSB_scrollTools .mCSB_buttonUp,
body.accessibility_contrast_mode_blackonwhite #activity_menu .mCustomScrollBox .mCSB_scrollTools .mCSB_buttonDown {
  background-color:  #bfbfbf !important;
}

body.accessibility_contrast_mode_blackonwhite #activity_menu .mCustomScrollBox .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #bfbfbf !important;
}

body.accessibility_contrast_mode_blackonwhite #activity_menu .mCSB_scrollTools .mCSB_draggerContainer {
  background-color: #dbdbdb;
}





/* Lightbox */
body.accessibility_contrast_mode_blackonwhite .fancybox-bg {
  background: #dbdbdb !important;
}

body.accessibility_contrast_mode_blackonwhite .fancybox-button--close {
  background-image: url(../../img/black/interact/cancel.svg);
}

body.accessibility_contrast_mode_blackonwhite .lookcloser {
  background: #dbdbdb !important;
}

body.accessibility_contrast_mode_blackonwhite .lookcloser .lookcloser_acknowledge {
  background-color: #98BD98 !important;
}

body.accessibility_contrast_mode_blackonwhite .lookcloser .header {
  color: black !important;  
}

body.accessibility_contrast_mode_blackonwhite .lookcloser #lookcloser_content {
  color: black !important;  
}

body.accessibility_contrast_mode_blackonwhite .fancybox-toolbar {
  background: #dbdbdb !important;
}

body.accessibility_contrast_mode_blackonwhite .fancybox-button {
  background-color: #dbdbdb !important;
}

body.accessibility_contrast_mode_blackonwhite .fancybox-button--close {
  background-image: url('../../img/black/interact/cancel.svg') !important;
}

body.accessibility_contrast_mode_blackonwhite .fancybox-button--play {
  background-image: url('../../img/black/media/play-nocircle.svg') !important;
}

body.accessibility_contrast_mode_blackonwhite .fancybox-button--zoom {
  background-image: url('../../img/black/interact/zoom_in.svg') !important;
}

body.accessibility_contrast_mode_blackonwhite .fancybox-container.fancybox-can-pan .fancybox-button--zoom {
  background-image: url('../../img/black/interact/zoom_out.svg') !important;
}

body.accessibility_contrast_mode_blackonwhite .fancybox-caption__body {
  color: black !important;
}

body.accessibility_contrast_mode_blackonwhite .fancybox-caption {
  background: linear-gradient(to top, 
    rgba(219, 219, 219, .85) 0%, 
    rgba(219, 219, 219, .3) 50%, 
    rgba(219, 219, 219, .15) 65%, 
    rgba(219, 219, 219, .075) 75.5%, 
    rgba(219, 219, 219, .037) 82.85%, 
    rgba(219, 219, 219, .019) 88%, 
    rgba(219, 219, 219, 0) 100%) !important;
}

/* Informational Pop-Up (lightbox) */
body.accessibility_contrast_mode_blackonwhite #message {
  background: #dbdbdb !important;
  color: black !important;
}

body.accessibility_contrast_mode_blackonwhite #message button#activity_close {
  background-color: black !important;
  background-image: url(../../img/white/interact/check.svg);
  color: white !important;
}

/* Carousel */
body.accessibility_contrast_mode_blackonwhite .owl-theme .owl-dots .owl-dot span {
  background-color: #dbdbdb !important;
}

body.accessibility_contrast_mode_blackonwhite .owl-theme .owl-dots .owl-dot.active span {
  background-color: black !important;
}

body.accessibility_contrast_mode_blackonwhite .owl-carousel .owl-nav .owl-prev {
  background-color: black !important;
  background-image: url(../../img/white/chevron/left.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite .owl-carousel .owl-nav .owl-next {
  background-color: black !important;
  background-image: url(../../img/white/chevron/right.svg) !important;
}

/* Media Playbar */
.accessibility_contrast_mode_blackonwhite #jp-control-bar.jp-state-playing .jp-play {
  background-image: url('../../img/black/media/pause.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #jp-control-bar .jp-play {
  background-image: url('../../img/black/media/play.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #jp-control-bar .jp-rewind {
  background-image: url('../../img/black/media/replay_10.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #jp-control-bar .jp-seek-bar {
  background-color: #e8e8e8 !important;
}

.accessibility_contrast_mode_blackonwhite #jp-control-bar .jp-seek-bar .jp-play-bar {
  background-color: black !important;
}

.accessibility_contrast_mode_blackonwhite #jp-control-bar #volume {
  background-image: url('../../img/black/media/volume_up.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #jp-control-bar .volume-current .volume-level {
  background-color: rgba(255,255,255,0.15);
}

.accessibility_contrast_mode_blackonwhite #jp-control-bar .volume-current .volume-level.selected {
  background-color: rgba(255,255,255,1.0);
}

body.accessibility_contrast_mode_blackonwhite #jp-control-bar.white {
  background-color: #f2f2f2 !important;
}

body.accessibility_contrast_mode_blackonwhite #jp-control-bar.white .jp-audio-controls .volume-current .volume-level {
  background-color: #e8e8e8 !important;
}

body.accessibility_contrast_mode_blackonwhite #jp-control-bar.white .jp-progress .jp-seek-bar {
  background-color: #e8e8e8 !important;
}

body.accessibility_contrast_mode_blackonwhite #jp-control-bar.black {
  background-color: #f2f2f2 !important;
}

body.accessibility_contrast_mode_blackonwhite #jp-control-bar.black .jp-duration {
  color: black !important;
}

/* Dropdown Menu Styles */
.accessibility_contrast_mode_blackonwhite .select2-selection--single {
  background-color: #e8e8e8 !important;
  border-color: lightgray !important;
}

.accessibility_contrast_mode_blackonwhite .select2-selection--single .select2-selection__rendered {
  color: black !important;
}

.accessibility_contrast_mode_blackonwhite .select2-selection--single .select2-selection__arrow b {
  border-color: black transparent transparent transparent !important;
}

.accessibility_contrast_mode_blackonwhite .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {  
  border-color: transparent transparent black transparent !important;
}

.accessibility_contrast_mode_blackonwhite .select2-results {
  color: black;
}
.accessibility_contrast_mode_blackonwhite .select2-dropdown {
  background-color: #ededed !important;
}

.accessibility_contrast_mode_blackonwhite .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #dbdbdb !important;
}

.accessibility_contrast_mode_blackonwhite .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #dbdbdb !important;
  color: black !important;
}

.accessibility_contrast_mode_blackonwhite .select2-dropdown {
  border: 1px solid #dbdbdb !important;
}

/* ==========================================================================
   Homescreen (Exhibit menu)
   ========================================================================== */

.accessibility_contrast_mode_blackonwhite #desktop {
  background-color: white !important;
  background-image: unset !important;
}

.accessibility_contrast_mode_blackonwhite #desktop #add_activity {
  background-color: #ededed !important;
  background-image: url('../../img/black/interact/add.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #desktop #reload_exhibit {
  background-color: #ededed !important;
  color: black !important;
  background-image: url('../../img/black/interact/restore.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #desktop #clear_exhibit {
  background-color: #ededed !important;
  color: black !important;
}

.accessibility_contrast_mode_blackonwhite #desktop #exhibit_disclaimer {
  background-color: #ededed !important;
  color: black !important;
  background-image: url('../../img/black/media/play.svg') !important;
}

body.homescreen.accessibility_contrast_mode_blackonwhite #desktop .setup_container.empty #setup_toolbar #exhibit_disclaimer {
  background-color: #f2f2f2 !important;
  opacity: 0.5 !important;
}

body.homescreen.accessibility_contrast_mode_blackonwhite #desktop .setup_container.empty #setup_toolbar #clear_exhibit {
  background-color: #f2f2f2 !important;
  opacity: 0.5 !important;
}

body.homescreen.accessibility_contrast_mode_blackonwhite #desktop .setup_container #setup_header {
  background-image: unset !important;
  text-indent: 0px !important;
}

/* ==========================================================================
   Facilitation Menu
   ========================================================================== */
.accessibility_contrast_mode_blackonwhite .highlight_box {
  background-color: #f2f2f2 !important;
}

.accessibility_contrast_mode_blackonwhite #facilitation_menu .facilitation_section {
  background-color: #f2f2f2 !important;
}

.accessibility_contrast_mode_blackonwhite #facilitation_menu .facilitation_header {
  background-color: #ededed !important;
}

.accessibility_contrast_mode_blackonwhite #facilitation_menu .facilitation_header .arrow {
  background-color: #e8e8e8 !important;
}

.accessibility_contrast_mode_blackonwhite #facilitation_menu .facilitation_subsection .icon .image {
  background-color: #e8e8e8 !important;
}

/* Discussions */
.accessibility_contrast_mode_blackonwhite #facilitation_menu .discussion {
  background-color: rgba(0,0,0,0.15) !important;
}

.accessibility_contrast_mode_blackonwhite #facilitation_menu .discussion .image {
  background-color: rgba(0,0,0,0.25) !important;
  background-image: url('../../img/black/interact/discussion.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #facilitation_menu .discussion .discussion_link {
  background-color: rgba(0,0,0,0.25) !important;
  background-image: url('../../img/black/arrow/right.svg') !important;
}

body.accessibility_contrast_mode_blackonwhite #facilitation_title {
  background-image: unset !important;
  text-indent: 0px !important;
}

/* ==========================================================================
   Activity Menu
   ========================================================================== */
.accessibility_contrast_mode_blackonwhite #activity_sort {
  background-color: #f2f2f2 !important;
}

.accessibility_contrast_mode_blackonwhite #activity_sort .activity_view .sort_button.selected {
  background-color: #e8e8e8 !important;
}

.accessibility_contrast_mode_blackonwhite .activity {
  background-color: #f2f2f2 !important;
}

.accessibility_contrast_mode_blackonwhite .activity .activity_link {
  background-color: #ededed !important;
  background-image: url('../../img/black/arrow/right.svg') !important;
}

/* Checkboxes */
#main.accessibility_contrast_mode_blackonwhite .activity .controls .checkbox.unselected, 
.accessibility_contrast_mode_blackonwhite #activities .activity .controls .checkbox.unselected {
  background-color: #e8e8e8 !important;
  background-image: url('../../img/black/interact/add.svg') !important;
}

#main.accessibility_contrast_mode_blackonwhite .activity .controls .checkbox.selected, 
.accessibility_contrast_mode_blackonwhite #activities .activity .controls .checkbox.selected {
  background-color: rgba(0,0,0,0.25) !important;
  background-image: url('../../img/black/interact/check-box.svg')!important;
}

/* ==========================================================================
   Settings Menu
   ========================================================================== */
.accessibility_contrast_mode_blackonwhite .setting {
  border-color: black !important;
  background-color: #f2f2f2 !important;
}

.accessibility_contrast_mode_blackonwhite #menu_content_wrapper.menu_settings .setting.setting_reset button {
  color: black !important;
  background-color: #ededed !important;
}

/* Setting section icons */
.accessibility_contrast_mode_blackonwhite #menu_content_wrapper.menu_settings .setting.setting_brightness .image {
  background-image: url('../../img/black/settings/brightness.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #menu_content_wrapper.menu_settings .setting.setting_default_program .image {
  background-image: url('../../img/black/settings/default_program.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #menu_content_wrapper.menu_settings .setting.setting_reset .image {
  background-image: url('../../img/black/settings/reset.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #menu_content_wrapper.menu_settings .setting .image {
  background-color: #e8e8e8 !important;
}

/* ==========================================================================
   Accessibility Menu
   ========================================================================== */

.accessibility_contrast_mode_blackonwhite .accessibility {
  border-color: black !important;
  background-color: #f2f2f2 !important;
}

.accessibility_contrast_mode_blackonwhite #menu_content_wrapper.menu_accessibility .accessibility.accessibility_reset button {
  color: black !important;
  background-color: #ededed !important;
}

.accessibility_contrast_mode_blackonwhite #menu_content_wrapper.menu_accessibility .accessibility .image {
  background-color: #e8e8e8 !important;
}

.accessibility_contrast_mode_blackonwhite #settings_menu .setting .setting_controls .small_button.selected {
  background-color: black !important;
  color: white !important;
}

.accessibility_contrast_mode_blackonwhite #settings_menu .setting .setting_controls .small_button.unselected {
  background-color: #e8e8e8 !important;
  color: black !important;
}

/* Accessibility section icons */
.accessibility_contrast_mode_blackonwhite #menu_content_wrapper.menu_accessibility .accessibility.accessibility_contrast .image {
  background-image: url('../../img/black/settings/contrast.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #menu_content_wrapper.menu_accessibility .accessibility.accessibility_readability .image {
  background-image: url('../../img/black/settings/readability.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #menu_content_wrapper.menu_accessibility .accessibility.accessibility_reset .image {
  background-image: url('../../img/black/settings/reset.svg') !important;
}

/* ==========================================================================
   Help Menu
   ========================================================================== */

.accessibility_contrast_mode_blackonwhite #info_menu .help_section {
  background-color: #f2f2f2 !important;
}

.accessibility_contrast_mode_blackonwhite #info_menu .help_section .image {
  background-color: #e8e8e8 !important;
}

/* Help section icons */
.accessibility_contrast_mode_blackonwhite #info_menu .setup_button .image {
  background-image: url('../../img/black/settings/guides.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #info_menu .acknowledgement_button .image {
  background-image: url('../../img/black/settings/acknowledgement.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #info_menu .help_section .about_link {
  background-color: #ededed !important;
  background-image: url('../../img/black/arrow/right.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #info_menu .help_header {
  background-color: #ededed !important;
}

.accessibility_contrast_mode_blackonwhite #info_menu .help_header .arrow {
  background-color: #e8e8e8 !important;
}

.accessibility_contrast_mode_blackonwhite #info_menu .info_section {
  background-color: #f2f2f2 !important;
}

.accessibility_contrast_mode_blackonwhite #info_menu .info_subsection .icon .image {
  background-color: #e8e8e8 !important;
}

/* ==========================================================================
   Activity Types
   ========================================================================== */

/* General */
.accessibility_contrast_mode_blackonwhite #content_subheader {
  background-color: #f2f2f2 !important;
}

/* Home button */
body.accessibility_contrast_mode_blackonwhite #return_home {
  background-color: #dbdbdb !important;
  background-image: url(../../img/black/menu/home.svg) !important;
}

/* Facilitator Mode add button */
body.accessibility_contrast_mode_blackonwhite.facilitator #facilitator_add {
  background-color: #dbdbdb !important;
  background-image: url(../../img/black/interact/add_circle.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite.facilitator #facilitator_add.selected {
  background-image: url(../../img/black/interact/check-box.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #activity_menu_button {
  background-color: #dbdbdb !important;
  background-image: url(../../img/black/menu/menu.svg) !important;
}

/* Annotated Image and Comparison */
.accessibility_contrast_mode_blackonwhite #activity_content #twentytwenty_image1 .title,
.accessibility_contrast_mode_blackonwhite #activity_content #twentytwenty_image2 .title {
  background-color: rgba(0,0,0,0.15) !important;
}

.accessibility_contrast_mode_blackonwhite #activity_content .tooltip.hint {
    background-color: rgba(255,255,255,0.15) !important;
    border: solid 2px rgba(255,255,255,0.5) !important;
}

/* Timeline */
.accessibility_contrast_mode_blackonwhite #timeline,
.accessibility_contrast_mode_blackonwhite #dates a, 
.accessibility_contrast_mode_blackonwhite #dates a:hover, 
.accessibility_contrast_mode_blackonwhite #dates a.selected  {
  color: black !important;
}

.accessibility_contrast_mode_blackonwhite #timeline .timeline_content .tl_image {
  border-color: #f2f2f2 !important;
}

body.accessibility_contrast_mode_blackonwhite #dates_background {
  background-color: #f2f2f2 !important;
}

body.accessibility_contrast_mode_blackonwhite #time_next {
  background-color: black !important;
  background-image: url(../../img/white/chevron/right.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #time_prev {
  background-color: black !important;
  background-image: url(../../img/white/chevron/left.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #timeline .timeline_content .tl_image .tl_expand {
  background-color: #f2f2f2 !important;
    background-image: url('../../img/black/interact/zoom_in.svg') !important;

}

/* Flashcards */
.accessibility_contrast_mode_blackonwhite #cards .card_section .card {
  background-color: rgba(0,0,0,0.15) !important;
}

body.accessibility_contrast_mode_blackonwhite #activity_content #flash_cards .card .front {
  background-color: #f2f2f2 !important;
  
}

body.accessibility_contrast_mode_blackonwhite #activity_content #flash_cards .card .front .description {
  color: black !important;
}

body.accessibility_contrast_mode_blackonwhite #card_message {
  background-color: #dbdbdb !important;
  color: black !important;
}

body.accessibility_contrast_mode_blackonwhite #card_message .fancybox-button {
  display: none;
}

body.accessibility_contrast_mode_blackonwhite #card_message.correct .card_message_header {
  background-color: #dbdbdb !important;
  color: black;
}

body.accessibility_contrast_mode_blackonwhite #card_message.incorrect .card_message_header {
  background-color: black !important;
}

body.accessibility_contrast_mode_blackonwhite #card_message button.next {
  background-color: black !important;
  color: white !important;
  background-image: url(../../img/white/arrow/right.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #card_message button.try_again {
  background-color: black !important;
  color: white !important;
  background-image: url(../../img/white/media/replay.svg) !important;
}

/* Slideshow */
.accessibility_contrast_mode_blackonwhite #slideshow.reveal .controls .navigate-left {
  background-color: #f2f2f2 !important;
  background-image: url('../../img/black/chevron/left.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #slideshow.reveal .controls .navigate-right {
  background-color: #f2f2f2 !important;
  background-image: url('../../img/black/chevron/right.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #slideshow.reveal .controls .navigate-up {
  background-color: #f2f2f2 !important;
  background-image: url('../../img/black/chevron/up.svg') !important;
}

.accessibility_contrast_mode_blackonwhite #slideshow.reveal .controls .navigate-down {
  background-color: #f2f2f2 !important;
  background-image: url('../../img/black/chevron/down.svg') !important;
}

.accessibility_contrast_mode_blackonwhite.type_slideshow #content_wrapper {
  color: unset !important;
}

/* Meta Activity */
body.accessibility_contrast_mode_blackonwhite #meta_back {
  background-color: #dbdbdb !important;
  background-image: url(../../img/black/arrow/left.svg) !important;
}

/* Image Gallery */
body.accessibility_contrast_mode_blackonwhite #images .gallery_image .ig_expand {
  background-image: url('../../img/black/interact/zoom_in.svg') !important;
  background-color: #f2f2f2;
}

/* Slideshow */
body.accessibility_contrast_mode_blackonwhite #toggle_overview {
  background-color: #f2f2f2 !important;
  background-image: url(../../img/black/settings/apps.svg) !important;
}

/* True or False Quiz */
body.accessibility_contrast_mode_blackonwhite button.affirmative {
  background-color: black !important;
  color: white !important;
}

body.accessibility_contrast_mode_blackonwhite button.negative {
  background-color: black !important;
  color: white !important;
}

body.accessibility_contrast_mode_blackonwhite #true_or_false .question .text {
  background-color: #f2f2f2 !important;
}

/* Visual Thinking */
body.accessibility_contrast_mode_blackonwhite #visual_thinking .details .title {
  background-color: #e8e8e8 !important;
  color: black !important;
}

body.accessibility_contrast_mode_blackonwhite #visual_thinking .details .bullet {
  background-color: #f2f2f2 !important;
}

body.accessibility_contrast_mode_blackonwhite #visual_thinking .details .bullet .button {
  background-color: #ededed !important;
  background-image: url(../../img/black/chevron/right.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #visual_thinking .details .bullet.open .button {
  background-image: url(../../img/black/chevron/down.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #visual_thinking .vt_image .vt_expand {
  background-image: url('../../img/black/interact/zoom_in.svg') !important;
  background-color: #f2f2f2 !important;
}

/* ==========================================================================
   Exhibit Mode
   ========================================================================== */
/* Exhibit Mode Homescreen */
body.accessibility_contrast_mode_blackonwhite #exhibit {
  background-color: #f2f2f2 !important;
  background-image: unset !important;
}

body.accessibility_contrast_mode_blackonwhite #exhibit .exhibit_header {
  background-image: unset !important;
  text-indent: 0px !important;
  color: black !important;
}

body.user.accessibility_contrast_mode_blackonwhite #exhibit .owl-carousel .owl-nav .owl-prev {
  background-color: #dbdbdb !important;
  background-image: url('../../img/black/chevron/left.svg') !important;
}

body.user.accessibility_contrast_mode_blackonwhite #exhibit .owl-carousel .owl-nav .owl-next {
  background-color: #dbdbdb !important;
  background-image: url('../../img/black/chevron/right.svg') !important;
}

body.user.accessibility_contrast_mode_blackonwhite #exhibit .owl-carousel .activity_card .details {
  background-color: #dbdbdb !important;
  color: black !important;
}

body.user.accessibility_contrast_mode_blackonwhite #exhibit .owl-carousel .activity_card .details .info {
  background-image: url('../../img/black/menu/info.svg') !important;
}

body.user.accessibility_contrast_mode_blackonwhite #exhibit .owl-carousel .activity_card .touch {
  background-image: url('../../img/black/interact/touch_app.svg') !important;
}

body.user.accessibility_contrast_mode_blackonwhite #exhibit .owl-carousel .activity_card .image .overlay {
  background-color: #e8e8e8 !important;
  color: black !important;
}

/* Activity Info button */
body.user.accessibility_contrast_mode_blackonwhite #activity_info {
  background-color: #dbdbdb !important;
  background-image: url('../../img/black/menu/info.svg') !important;
}







body.accessibility_contrast_mode_blackonwhite #activity_menu_button.closed {
  background-color: #dbdbdb !important;
  background-image: url(../../img/black/menu/menu.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #activity_menu_button.open {
  background-color: #dbdbdb !important;
  background-image: url(../../img/black/interact/clear.svg) !important;
}

body.accessibility_contrast_mode_blackonwhite #activity_menu {
  background: #dbdbdb !important;
  color: black;
}

body.accessibility_contrast_mode_blackonwhite #activity_menu_list .activity_menu_item .menu_item_icon {
    background-color: #dbdbdb !important;
}

body.accessibility_contrast_mode_blackonwhite #activity_menu_list #activity_menu_information .menu_item_icon {
    background-image: url(../../img/black/menu/info.svg);
}

body.accessibility_contrast_mode_blackonwhite #activity_menu_list #activity_menu_introduction .menu_item_icon {
    background-image: url(../../img/black/media/play.svg);
}

body.accessibility_contrast_mode_blackonwhite #activity_menu_list #activity_menu_accessibility .menu_item_icon {
    background-image: url(../../img/black/menu/accessibility.svg);
}

body.accessibility_contrast_mode_blackonwhite #activity_menu_list #activity_menu_acknowledgement .menu_item_icon {
    background-image: url(../../img/black/menu/acknowledge.svg);
}

body.accessibility_contrast_mode_blackonwhite #activity_menu_list #activity_menu_attribution .menu_item_icon {
    background-image: url(../../img/black/menu/attribution.svg);
}

body.accessibility_contrast_mode_blackonwhite #activity_menu_list #activity_menu_help .menu_item_icon {
    background-image: url(../../img/black/menu/about.svg);
}