<div id="cards">
	<div class="card_section_wrapper left">
		<div class="title"></div>
		<div class="card_section_container" id="left_cards"></div>
		<div class="popup">
			<div class="prompt"></div>
			<div class="title"></div>
			<div class="image">
				<div class="close"></div>
				<div class="more_info"></div>
			</div>
		</div>
	</div>
	<div class="card_section_wrapper right disabled">
		<div class="title"></div>
		<div class="card_section_container" id="right_cards"></div>
		<div class="popup">
			<div class="prompt"></div>
			<div class="title"></div>
			<div class="image">
				<div class="close"></div>
				<div class="more_info"></div>
			</div>
		</div>
	</div>
	<div class="check_match pulsate-fwd">
		<span>Check Your Answer</span>
	</div>
</div>
