/* theme_land.css */
/* Contains classes used by activities when the Land theme is selected. */

/* Activity content */
body.theme_land #content_wrapper {
  background-color: #cbd18d;
}

/* Activity header */
.theme_land #header {
  background-color: #656b27;
  color: white;
}

/* Activity subheader */
.theme_land #content_subheader {
  background-color: #a9b241;
}

/* Content Styles */
.theme_land blockquote {
    border-color: #656b27;
    background-color: #cbd18d;
}

.theme_land.highlight_box {
  background-color: #cbd18d !important;
}

/* Scroll bar */
.theme_land .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #a9b241;
}

.theme_land .mCSB_scrollTools .mCSB_dragger_bar {
  background-color: #656b27;
}

.theme_land .mCSB_scrollTools .mCSB_buttonUp,
.theme_land .mCSB_scrollTools .mCSB_buttonDown {
  background-color:  #656b27;
}

.theme_land .mCSB_scrollTools .mCSB_buttonUp {
  background-image: url('../../img/white/chevron/up.svg');
}

.theme_land .mCSB_scrollTools .mCSB_buttonDown {
  background-image: url('../../img/white/chevron/down.svg');
}

/* Activity Types */
body.theme_land.type_tile_match #content_wrapper {
  background-image: url('../../img/branding/swoop.svg');
  background-size: contain;
  background-position: center 100%;
  background-repeat: no-repeat;
}