/* theme_sun.css */
/* Contains classes used by activities when the Sun theme is selected. */

/* Activity content */
body.theme_sun #content_wrapper {
  background-color: #f0d06f;
}

/* Activity header*/
.theme_sun #header {
  background-color: #8a6a09;
}

.theme_sun #header .title span{
  color: white;
}

/* Activity Subheader */
.theme_sun #content_subheader {
  background-color: #e6b00f;
}

/* Content Styles */
.theme_sun blockquote {
    border-color: #8a6a09;
    background-color: #f0d06f;
}

.theme_sun.highlight_box {
  background-color: #f0d06f !important;
}

/* Scrollbar*/
.theme_sun .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f0d06f;
}

.theme_sun .mCSB_scrollTools .mCSB_dragger_bar {
  background-color: #8a6a09;
}

.theme_sun .mCSB_scrollTools .mCSB_buttonUp,
.theme_sun .mCSB_scrollTools .mCSB_buttonDown {
  background-color:  #8a6a09;
}

.theme_sun .mCSB_scrollTools .mCSB_buttonUp {
  background-image: url('../../img/white/chevron/up.svg');
}

.theme_sun .mCSB_scrollTools .mCSB_buttonDown {
  background-image: url('../../img/white/chevron/down.svg');
}
