/* theme_air.css */
/* Contains classes used by activities when the Default theme is selected. */

/* Activity content */
body.theme_air #content_wrapper {
  background-color: #c6d1da;
}

/* Activity Header */
.theme_air #header {
  background-color: #606b74;
  color: white;
}

/* Activity Subheader */
.theme_air #content_subheader {
  background-color: #a0b3c2;
}

/* Content Styles */
.theme_air blockquote {
    border-color: #606b74;
    background-color: #c6d1da;
}

.theme_air.highlight_box {
  background-color: #c6d1da !important;
}

/* Scroll bar */
.theme_air .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #a0b3c2;
}

.theme_air .mCSB_scrollTools .mCSB_dragger_bar {
  background-color: #606b74;
}

.theme_air .mCSB_scrollTools .mCSB_buttonUp,
.theme_air .mCSB_scrollTools .mCSB_buttonDown {
  background-color:  #606b74;
}

.theme_air .mCSB_scrollTools .mCSB_buttonUp {
  background-image: url('../../img/white/chevron/up.svg');
}

.theme_air .mCSB_scrollTools .mCSB_buttonDown {
  background-image: url('../../img/white/chevron/down.svg');
}