/* theme_desert.css */
/* Contains classes used by activities when the Desert theme is selected. */

/* Activity content */
body.homescreen.theme_desert #content_wrapper {
  background-color: #f58d83;
}

/* Header */
.theme_desert #header {
  background-color: #ef4130;
}

.theme_desert #header .title span{
  color: white;
}

/* Content styles */
.theme_desert blockquote {
    border-color: #8f271d;
    background-color: #f58d83;
}

.theme_desert.highlight_box {
  background-color: #f58d83 !important;
}

/* Scroll bar */
.theme_desert .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f58d83;
}

.theme_desert .mCSB_scrollTools .mCSB_dragger_bar {
  background-color: #8f271d;
}

.theme_desert .mCSB_scrollTools .mCSB_buttonUp,
.theme_desert .mCSB_scrollTools .mCSB_buttonDown {
  background-color:  #8f271d;
}

.theme_desert .mCSB_scrollTools .mCSB_buttonUp {
  background-image: url('../../img/white/chevron/up.svg');
}

.theme_desert .mCSB_scrollTools .mCSB_buttonDown {
  background-image: url('../../img/white/chevron/down.svg');
}