/* theme_animal.css */
/* Contains classes used by activities when the Animal theme is selected. */

/* Activity content */
body.theme_animal #content_wrapper {
  background-color: #a2968c;
}

/* Activity header */
.theme_animal #header {
  background-color: #3c3026;
}

.theme_animal #header .title span{
  color: white;
}

/* Activity subheader */
.theme_animal #content_subheader {
  background-color: #64503f;
  color: white
}

/* Content Styles */
.theme_animal blockquote {
    border-color: #3c3026;
    background-color: #a2968c;
}

.theme_animal.highlight_box {
  background-color: #a2968c !important;
}

/* Scroll Bar */
.theme_animal .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #a2968c;
}

.theme_animal .mCSB_scrollTools .mCSB_dragger_bar {
  background-color: #3c3026;
}

.theme_animal .mCSB_scrollTools .mCSB_buttonUp,
.theme_animal .mCSB_scrollTools .mCSB_buttonDown {
  background-color:  #3c3026;
}

.theme_animal .mCSB_scrollTools .mCSB_buttonUp {
  background-image: url('../../img/white/chevron/up.svg');
}

.theme_animal .mCSB_scrollTools .mCSB_buttonDown {
  background-image: url('../../img/white/chevron/down.svg');
}

/* Activity Types */
body.theme_animal.type_meta #content_wrapper {
  background-image: url('../../img/branding/swoop_animal.svg');
  background-size: contain;
  background-position: center 100%;
  background-repeat: no-repeat;
}

body.theme_animal.type_meta #content_wrapper #activity_content .activity {
  background-color: rgba(100,80,63,0.5);
}

body.theme_animal.type_meta #content_wrapper #activity_content .activity_link {
  background-color: rgba(255,255,255,0.05);
}

.theme_animal #render_sidebar {
  background-color: #a2968c !important;
  background-image: url('../../img/branding/swoop_animal.svg');
  background-size: contain;
  background-position: center 100%;
  background-repeat: no-repeat;
}

.theme_animal #render_sidebar .sidebar_header {
  background-color: rgb(100,80,63) !important;
}

.theme_animal #render_sidebar .object_link {
  background-color: rgba(100,80,63,0.25);
}