/* theme_default.css */
/* Contains classes used by activities when the Default theme is selected. */

/* Activity content */
body.theme_default #content_wrapper {
  background-color: lightgray;
}

/* Activity Header */
.theme_default #header {
  background-color: gray;
}

/* Content */
.theme_default blockquote {
    border-color: #555555;
    background-color: lightgray;
}
