/* theme_sea.css */
/* Contains classes used by activities when the Sea theme is selected. */

/* Activity content */
body.theme_sea #content_wrapper {
  background-color: #889dab;
}

/* Activity header */
.theme_sea #header {
  background-color: #223745;
  color: white;
}

.theme_sea #header .title span {
  color: white;
}

/* Activity subheader */
.theme_sea #content_subheader {
  background-color: #3b5c73;
  color: white;
}

/* Content styles */
.theme_sea blockquote {
    border-color: #223745;
    background-color: #889dab;
}

.theme_sea.highlight_box {
  background-color: #889dab !important;
}

/* Scroll bar */
.theme_sea .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #889dab;
}

.theme_sea .mCSB_scrollTools .mCSB_dragger_bar {
  background-color: #223745;
}

.theme_sea .mCSB_scrollTools .mCSB_buttonUp,
.theme_sea .mCSB_scrollTools .mCSB_buttonDown {
  background-color:  #223745;
}

.theme_sea .mCSB_scrollTools .mCSB_buttonUp {
  background-image: url('../../img/white/chevron/up.svg');
}

.theme_sea .mCSB_scrollTools .mCSB_buttonDown {
  background-image: url('../../img/white/chevron/down.svg');
}

/*Activity types */
body.theme_sea.type_meta #content_wrapper {
  background-image: url('../../img/branding/swoop_sea.svg');
  background-size: contain;
  background-position: center 100%;
  background-repeat: no-repeat;
}

body.theme_sea.type_slideshow #content_wrapper {
  background-image: url('../../img/branding/swoop_sea.svg');
  background-size: contain;
  background-position: center 100%;
  background-repeat: no-repeat;
}

body.theme_sea.type_meta #content_wrapper #activity_content .activity {
  background-color: rgba(59,92,115,0.5);
}

body.theme_sea.type_meta #content_wrapper #activity_content .activity_link {
  background-color: rgba(255,255,255,0.05);
}