/* theme_slater.css */
/* Contains classes used by activities when the Slater theme is selected. */

/* Activity header*/
.theme_forest #header {
  background-color: #00492c;
}

.theme_forest #header .title span {
  color: white;
}

/* Activity content */
body.theme_forest #content_wrapper {
	background-color: #67963a;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}