
@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 300;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: italic;
font-weight: 300;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-LightOblique.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 500;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: italic;
font-weight: 500;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-MediumOblique.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 700;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-Heavy.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: italic;
font-weight: 700;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-HeavyOblique.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 900;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-Black.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: italic;
font-weight: 900;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-BlackOblique.woff') format('woff');
}

#main.accessibility_font_face_default {
    font-family: 'Avenir LT' !important;
}

#desktop {
	background-color: #a9b341;
	background-image:url('./@Media/background_light.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#menu_content_wrapper {
	background-color: #a9b341;
	background-image:url('./@Media/background_light.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}



body #setup_header {
	text-indent: -9999px;
	background-image: url('./@Media/logo_black.png');
	background-position: center center;
	background-size: 35%;
	background-repeat: no-repeat;
}

body #facilitation_title {
	text-indent: -9999px;
	background-image: url('./@Media/logo_black.png');
	background-position: center center;
	background-size: 25%;
	background-repeat: no-repeat;
	width: 100%;
}

body.user #exhibit {
	background-image: url('./@Media/background.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

body.user #exhibit .owl-carousel .owl-nav .owl-next {
	background-color: #00492c;
}
body.user #exhibit .owl-carousel .owl-nav .owl-prev {
	background-color: #00492c;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #00492c;
}


body.user #exhibit .exhibit_header {
	text-indent: -9999px;
	background-image: url('./@Media/logo_green.png');
	background-position: center center;
	background-size: 25%;
	background-repeat: no-repeat;
}

body.user #exhibit .owl-carousel .activity_card .details {
	background-color: #00492c;
	color: white;
}

#content_wrapper {
	background-image: url('./@Media/background_light.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

body.homescreen .mCSB_scrollTools .mCSB_draggerRail {
	background-color: rgba(114,128,138,0.25) !important;
}

body.homescreen .mCSB_scrollTools .mCSB_dragger_bar {
	background-color: #72808a !important;
	background-image: url('../../img/black/drag.svg');
}

body.homescreen .mCSB_scrollTools .mCSB_buttonUp,
body.homescreen .mCSB_scrollTools .mCSB_buttonDown {
  background-color:  #72808a !important;
}

body.homescreen .mCSB_scrollTools .mCSB_buttonUp {
  background-image: url('../../img/black/chevron/up.svg');
}

body.homescreen .mCSB_scrollTools .mCSB_buttonDown {
  background-image: url('../../img/black/chevron/down.svg');
}