/* Don't forget your activity container! */
#activity_content #related_objects {
	width: calc(100vw - 5px);
	height: calc(100vh - 70px);
	margin: 5px 0;
}

/* Container for all of the objects. */
#related_objects #objects {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#related_objects #objects a {
	color: black;
	display: block;
			margin: 0 0 5px 5px;
}

/* Individual collections object styling. */
#activity_content .object {
	width: 100%;
	height: 300px;
	background-color: rgba(0,0,0,0.15);
	display: flex;
	flex-direction: column;
		border-radius: 5px;
		max-width: 800px;
		min-width: 735px;
}

/* Wrapper for all the content within an individual collections object. */
#activity_content .object .relatedobject_wrapper {
	display: flex;
	flex-direction: row;
}

#activity_content .object .image {
	width: 250px;
	background-color: darkgray;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-width: 200px;
	border-bottom-left-radius: 5px;
	height: 250px;
}

#activity_content .object .details {
	flex: 1;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

#activity_content .object .details .content_wrapper {
 	flex: 1;
 	justify-content: center;
 	display: flex;
 	flex-direction: column;
}

#activity_content .object .title {
 	font-size: 1.75em;
 	font-weight: 900;
 	line-height: 60px;
 	height: 50px;
 	text-align: center;
 	background-color: rgba(0,0,0,0.15);
 	border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

#activity_content .object .details .location {
	font-size: 1.25em;
 	font-weight: 700;
}

#activity_content .object .details .description {
	margin: 5px 0 0 0;
}

#activity_content .object .view_more {
	width: 50px;
	background-color: rgba(0,0,0,0.05);
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../../../../img/black/interact/zoom_in.svg');
	border-bottom-right-radius: 5px;
}
