/* Don't forget your activity container! */
#activity_content #tfquiz {
	height: 100%;
	width: 100%;
}

/* An individual question for the quiz */
#tfquiz .question {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 65px);
	width: calc(100vw - 10px);
	margin: 0 5px;
}

/* Image gallery wrapper*/
#tfquiz .question .content_wrapper {
	flex: 1;
	display: flex;
	align-items: top;
	justify-content: center;
	background-color: rgba(0,0,0,0.25);
	margin: 5px 5px 0 0;
	border-radius: 5px;
}

#tfquiz .question .content_wrapper .question_description {
	margin: 0 10px;
	font-size: 1.25em;
}

#tfquiz .question .question_image {
	width: calc(100% - 5px);
	height: 355px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
}

#tfquiz .question .question_image .tf_expand{
	width: 50px;
	height: 50px;
	background-color: black;
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
    background-image: url('../../../../img/white/interact/zoom_in.svg');
	position: absolute;
	bottom: 0;
	right: 0;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Question text wrapper */
#tfquiz .question .text_wrapper {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 5px 0 0 0;
}

#tfquiz .question .text {
	width: calc(100% - 20px);
    text-align: center;
    font-weight: 700;
    background-color: rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1.25em;
    line-height: 1.5em;
    flex: 1;
    padding: 0 10px;
}

/* User response wrapper */
#tfquiz .question .response {
	width: 100%;
	height: 50px;
	display: flex;
	margin: 5px 0 0 0;
}

/* Affirmative button */
#tfquiz .question .response .true {
	flex: 1;
	display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}

button.affirmative {
	height: 100%;
	width: calc(100% - 2.5px);
	background-color: #238823;
	border-radius: 5px;
	font-size: 1.75em;
    text-transform: uppercase;
    font-weight: 900;
    padding: 2.5px 0 0 0;
    outline: 0;
    line-height: 50px;
    border: 0;
}

/* Negative button */
#tfquiz .question .response .false {
	flex: 1;
	display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
}

button.negative {
	height: 100%;
	width: calc(100% - 2.5px);
	background-color: #D2222D;
	border-radius: 5px;
	font-size: 1.75em;
    text-transform: uppercase;
    font-weight: 900;
    padding: 2.5px 0 0 0;
    outline: 0;
    line-height: 50px;
    border: 0;
}

button.negative:focus,
button.affirmative:focus {
	outline: 0;
}