#desktop {
	background-color: #F3F2F0;
	background-image:url('./@Media/main_bg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#menu_content_wrapper {
	background-color: #F3F2F0;
	background-image:url('./@Media/main_bg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}



body.homescreen.facilitator #desktop .setup_container .activities .facilitator_activity.unselected {
	background-color: #a9b341 !important;
}

body.homescreen.facilitator #desktop .setup_container .activities .facilitator_activity.unselected .activity_image,
body.homescreen.facilitator #desktop .setup_container .activities .facilitator_activity.unselected .activity_link {
	background-color: #656b27 !important;
}

body.homescreen #desktop .setup_container .activities .facilitator_activity .activity_link {
	background-image: url('../../img/black/chevron/right.svg');
}

body.user #exhibit {
	background-image: url('../../img/branding/swoop.svg');
	background-position: bottom center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #cbd18d;
}
body.user #exhibit .owl-carousel .owl-nav .owl-next {
	background-color: #656b27;
}
body.user #exhibit .owl-carousel .owl-nav .owl-prev {
	background-color: #656b27;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #656b27;
}

body.user #exhibit .owl-carousel .activity_card .image .overlay {
	background-color: #a9b341;
	color: #656b27;
}

body.user #exhibit .exhibit_header {
	text-indent: -9999px;
	background-image: url('./@Media/nic_header.png');
	background-position: center center;
	background-size: 65%;
	background-repeat: no-repeat;
}

body.user #exhibit .owl-carousel .activity_card .details {
	background-color: #656b27;
	color: white;
}

body.facilitator #setup_header {
	text-indent: -9999px;
	background-image: url('./@Media/nic_header.png');
	background-position: center center;
	background-size: 50%;
	background-repeat: no-repeat;
	height: 60px !important;
}

body.facilitator #facilitation_title {
	text-indent: -9999px;
	background-image: url('./@Media/nic_header.png');
	background-position: center center;
	background-size: 50%;
	background-repeat: no-repeat;
	height: 60px !important;
	width: 100%;
}

#activity_content .twentytwenty-wrapper{
	background-image: url('./@Media/AnnotatedImageBackground.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
