#desktop {
	background-color: #aebbd8;
	
}

#menu_content_wrapper {
	background-color: #aebbd8;
}

body.homescreen.facilitator #desktop .setup_container .activities .facilitator_activity.unselected {
	background-color: #a9b241 !important;
}

body.homescreen.facilitator #desktop .setup_container .activities .facilitator_activity.unselected .activity_image,
body.homescreen.facilitator #desktop .setup_container .activities .facilitator_activity.unselected .activity_link {
	background-color: #424752 !important;
}

body.homescreen #desktop .setup_container .activities .facilitator_activity .activity_link {
	background-image: url('../img/green/chevron/right.svg');
}

body.user #exhibit {
	background-position: bottom center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #424752;
}
body.user #exhibit .owl-carousel .owl-nav .owl-next {
	background-color: #1f2227 !important;
	background-image: url('../../img/green/chevron/right.svg');
}
body.user #exhibit .owl-carousel .owl-nav .owl-prev {
	background-color: #1f2227 !important;
	background-image: url('../../img/green/chevron/left.svg');
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #1f2227 !important;
}

body.user #exhibit .owl-carousel .activity_card .image .overlay {
	background-color: #66ff66;
	color: #424752;
}

body.user #exhibit .exhibit_header {
	text-indent: -9999px;
	background-image: url('../../img/branding/clio_notv.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100px;
	margin: 10px 0;

}

body.user #exhibit .owl-carousel {
    height: calc(100vh - 120px) !important;
}

body.user #exhibit .owl-carousel .activity_card {
    height: calc(100vh - 170px) !important;
}

body.user #exhibit .owl-carousel .activity_card .details {
	background-color: #1f2227;
	color: #66ff66;
}

body.user #exhibit .owl-carousel .activity_card .details .info {
	background-image: url('../../img/green/menu/info.svg');

}
