/* Don't forget your activity container! */
#activity_content #pathfinder {
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	position: relative;
}

#pathfinder .question_area {
	height: 60px;
	width: 80vw;
	margin: 0 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 2;
}

#pathfinder .path_area {
	flex: 1;
	display: flex;
	z-index: 2;
}

#pathfinder .path_area .origin {
	width: 20vw;
	height: calc(100% - 25px);
	min-width: 120px;
	margin: 25px 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pathfinder .path_area .origin .badge_wrapper {
	width: 160px;
	height: 160px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pathfinder .path_area .origin .badge_wrapper #badge_origin {
	width: 145px;
	height: 145px;
	border-radius: 35px;
	background-color: rgba(0,0,0,0.25);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border: 2.5px solid black;
	position: relative;
	cursor:  pointer;
}

#pathfinder .path_area .origin .badge_wrapper .info_button {
	width: 35px;
	height: 35px;
	background-image: url("../../../../img/white/menu/info.svg");
	background-size: 35px;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 999px;
	cursor: pointer;
}






#pathfinder .path_area .destination {
	width: 20vw;
	height: calc(100% - 25px);
	min-width: 120px;
	margin: 25px 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pathfinder .path_area .destination .badge_wrapper {
	width: 160px;
	height: 160px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pathfinder .path_area .destination .badge_wrapper #badge_destination {
	width: 145px;
	height: 145px;
	border-radius: 35px;
	background-color: rgba(0,0,0,0.25);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border: 2.5px solid black;
	position: relative;
	cursor:  pointer;
}

#pathfinder .path_area .destination .badge_wrapper .info_button {
	width: 35px;
	height: 35px;
	background-image: url("../../../../img/white/menu/info.svg");
	background-size: 35px;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 999px;
	cursor: pointer;
}





#pathfinder .path_area .path {
	flex: 1;
	display: flex;
	margin: 0 20px 0 0;
}

#pathfinder .path_area .path .column {
	height: 100%;
	width: 25%;
	display: flex;
	flex-direction: column;
	flex: 1;
}

#pathfinder .path_area .path .column .column_header {
	height: 25px;
	width: 100%;
	text-align: center;
	line-height: 25px;
}

#pathfinder .path_area .path .column .column_header.disabled {
	opacity: 0.5;
}

#pathfinder .path_area .path .column .column_header.enabled {
	font-weight: 900;
}

#pathfinder .path_area .path .column .row {
	height: 100%;
	width: 100%;
	flex: 1;
	justify-content: center;
	align-items: center;
	display: flex;
}

#pathfinder .path_area .path .column .options {
	display: flex;
	flex-direction: column;
	height: calc(100% - 25px);
}

/* Default button state */
#pathfinder .path_area .path .column .row .button_wrapper {
	position: relative;
}

#pathfinder .path_area .path .column .row .button_wrapper .button {
	height: 50px;
	width: 50px;
	margin: 10px;
	border-radius: 50px;
	background-color: rgba(0,0,0,0.15);
	position: relative;
}
#pathfinder .path_area .path .column .row .button_wrapper.enabled .button {
	cursor: pointer;
}

#pathfinder.question1 .path_area .path .column .row .button_wrapper .title {
	display: none;
	text-align: center;
}

#pathfinder.question1 .path_area .path .column .row .button_wrapper .info_button {
	display: none;
}


/* Correct button state */
#pathfinder .path_area .path .column .row .button_wrapper.correct .button {
	height: 60px;
	width: 60px;
	background-color: #238823;
	background-image: url("../../../../img/white/content/flag.svg");
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: center center;
}

#pathfinder .path_area .path .column .row .button_wrapper.correct .button .title {
	display: none;
}

#pathfinder .path_area .path .column .row .button_wrapper.correct .info_button {
	display: block !important;
	width: 60px;
	height: 60px;
	z-index: 2;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

/* Incorrect button state */
#pathfinder .path_area .path .column .row .button_wrapper.incorrect .button {
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0.25);
	background-image: url("../../../../img/black/interact/clear.svg");
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.15;
}

#pathfinder .path_area .path .column .row .button_wrapper.incorrect .button .title {
	display: none;
}
#pathfinder .path_area .path .column .row .button_wrapper.incorrect .info_button {
	display: none;
}

/* Disabled button state */
#pathfinder .path_area .path .column .row .button_wrapper.disabled .button {
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0.25);
	background-image: url("../../../../img/black/interact/lock-closed.svg");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.15;
}

#pathfinder .path_area .path .column .row .button_wrapper.disabled .button .title {
	display: none;
}
#pathfinder .path_area .path .column .row .button_wrapper.disabled .info_button {
	display: none;
}

/* Selected button state */
#pathfinder .path_area .path .column .row .button_wrapper.selected .button {
	height: calc(100% - 10px) !important;
	width: calc(100% - 10px) !important;
	background-color: #238823;
}

#pathfinder .path_area .path .column .row .button_wrapper.selected .button {
	font-size: 1.25em;
	color: white;
	font-weight: 900;
}


#pathfinder .path_area .path .column .row .button_wrapper.selected .info_button {
	display: block !important;
}

/* Unselected button state */

#pathfinder .path_area .path .column .row .button_wrapper.unselected .button {
	height: calc(100% - 20px) !important;
	width: calc(100% - 20px) !important;
	background-color: rgba(0,0,0,0.25);
	opacity: 0.5;
}
#pathfinder .path_area .path .column .row .button_wrapper.unselected .info_button {
	display: none !important;
}


/* Question based states */

#pathfinder.question1 .path_area .path #column1,
#pathfinder.question2 .path_area .path #column2,
#pathfinder.question3 .path_area .path #column3,
#pathfinder.question4 .path_area .path #column4,
#pathfinder.question5 .path_area .path #column5    {
	flex: 5;
}

#pathfinder.question1 .path_area .path #column1 .row .button_wrapper,
#pathfinder.question2 .path_area .path #column2 .row .button_wrapper,
#pathfinder.question3 .path_area .path #column3 .row .button_wrapper,
#pathfinder.question4 .path_area .path #column4 .row .button_wrapper,
#pathfinder.question5 .path_area .path #column5 .row .button_wrapper   {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

#pathfinder.question1 .path_area .path #column1 .row .button_wrapper .button,
#pathfinder.question2 .path_area .path #column2 .row .button_wrapper .button,
#pathfinder.question3 .path_area .path #column3 .row .button_wrapper .button,
#pathfinder.question4 .path_area .path #column4 .row .button_wrapper .button,
#pathfinder.question5 .path_area .path #column5 .row .button_wrapper .button   {
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	display: flex;
	justify-content: center;
	align-items: center;
}

#pathfinder.question1 .path_area .path #column1 .row .button_wrapper .info_button,
#pathfinder.question2 .path_area .path #column2 .row .button_wrapper .info_button,
#pathfinder.question3 .path_area .path #column3 .row .button_wrapper .info_button,
#pathfinder.question4 .path_area .path #column4 .row .button_wrapper .info_button,
#pathfinder.question5 .path_area .path #column5 .row .button_wrapper .info_button {
	display: block;
	width: 35px;
	height: 35px;
	background-image: url("../../../../img/white/interact/zoom_in.svg");
	background-size: 25px;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	bottom: 5px;
	right: 5px;
	border-radius: 999px;
	cursor: pointer;
}

#pathfinder.question1 .path_area .path #column1 .row .button_wrapper .title,
#pathfinder.question2 .path_area .path #column2 .row .button_wrapper .title,
#pathfinder.question3 .path_area .path #column3 .row .button_wrapper .title,
#pathfinder.question4 .path_area .path #column4 .row .button_wrapper .title,
#pathfinder.question5 .path_area .path #column5 .row .button_wrapper .title {
	display: block;
}




#pathfinder .button_bar {
	height: 60px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
}

#pathfinder #reset_path {
	margin: 5px 0 5px 5px;
	width: 300px;
	height: 50px;
	border-radius: 5px;
	background-color: #D2222D;
	background-position: calc(100% - 10px) center;
	background-size: 35px;
	background-image: url(../../../../img/white/settings/reset.svg);
	background-repeat: no-repeat;
	font-weight: 900;
	line-height: 50px;
	text-align: center;
	cursor:  pointer;
	color:  white;
}

#pathfinder #confirm_path {
	margin: 5px;
	width: 300px;
	height: 50px;
	border-radius: 5px;
	font-weight: 900;
	line-height: 50px;
	text-align: center;
	cursor:  pointer;
}

#pathfinder #confirm_path.disabled {
	background-color: rgba(0,0,0,0.25);
	background-position: center right;
	background-size: 35px;
	background-image: url(../../../../img/black/arrow/right.svg);
	background-repeat: no-repeat;
	color: black;
	opacity: 0.35;
}

#pathfinder #confirm_path.enabled {
	background-color: #238823;
	background-position: center right;
	background-size: 35px;
	background-image: url(../../../../img/white/arrow/right.svg);
	background-repeat: no-repeat;
	color: white;
}

#pathfinder #learn_more {
	margin: 5px;
	width: 300px;
	height: 50px;
	border-radius: 5px;
	font-weight: 900;
	line-height: 50px;
	text-align: center;
	background-color: #238823;
	background-position: calc(100% - 10px) center;
	background-size: 30px;
	background-image: url(../../../../img/white/interact/launch.svg);
	background-repeat: no-repeat;
	color: white;
	cursor:  pointer;
}

#pathfinder #line_area {
	width: 100%;
	height: calc(100vh - 60px);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}