/* Don't forget your activity container! */
#activity_content #tile_buckets {
	width: calc(100vw - 5px);
	height: calc(100vh - 60px);
	display: flex;
}
#tiles_container {
	border-color: black;
	border-style: solid;
	border-width: 0 1px 0 0;
	flex: 2;
}
#tile_buckets #tiles {
	height: calc(100vh - 70px);
	margin: 5px 0;
	text-align: center;
}

#buckets_container {
	flex: 3;
	border-color: black;
	border-style: solid;
	border-width: 0 0 0 1px;
}

#tile_buckets #buckets {
	height: calc(100vh - 70px);
	margin: 5px 0;
	text-align: center;
}

#buckets .bucket {
	width: calc(33vw - 140px);
    position: relative;
    min-width: 320px;
    margin: 0 5px 5px 5px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.15);
}

#tiles .tile {
	width: 120px;
    height: 120px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.15);
    position: absolute;
    top: 0;
    left: 0;
}

#tiles .tile_slot {
	width: 120px;
	height: 120px;
	background-color: rgba(0,0,0,0.05);
	margin: 5px;
	border-radius: 5px;
	position: relative;
}

#buckets .title {
	width: 100%;
	height: 25px;
	font-weight: 900;
	font-size: 1.25em;
	text-align: center;
	margin: 5px 0 0 0;
}

#buckets .tile_slots {
	width: 100%;
	height: calc(100% - 30px);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 5px 0;
}

#buckets .tile_slots .tile_slot {
	width: 120px;
	height: 120px;
	background-color: rgba(0,0,0,0.15);
	margin: 5px;
	border-radius: 5px;
}

#buckets .tile {
	width: 120px;
    height: 120px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.15);
}

.draggable-mirror {
	position: relative;
	z-index: 500;
}