#desktop {
	
}

#menu_content_wrapper {

}

#activity_content {
	background-image: url('./@Media/background.png');
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}