/* Don't forget your activity container! */
#activity_content #richtext_audio {
	width: 100%;
	height: calc(100vh - 110px);
	margin: 5px 0;
	display: flex;
	flex-direction: column
}

/* If this activity is configured to play audio, make the container smaller so we have room for the play bar. */
#activity_content #richtext_audio.audio_player {
	height: calc(100vh - 160px);
}

/* The container for rich text content that is used for the mCustomScrollbar library. */
#richtext_content {
	height: calc(100vh - 110px);
	width: calc(100vw - 5px);
}

#richtext_audio.audio_player #richtext_content {
	height: calc(100vh - 160px);
	}

/* The wrapper for all of the rich text content.*/
#activity_content #richtext_audio #richtext{
	flex:1;
	margin: 0 0 0 5px;
}

/* The container for the audio control bar. */
#activity_content #richtext_audio #audio{
	height: 50px;
	width: 100%;
}