/* Don't forget your activity container! */
#activity_content #timeline {
	height: calc(100% - 60px);
	width: 100%;
}

/* Background to display beneath the date bar. */
#dates_background {
	width: 100vw;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.15)
}

/* Styling for each individual timeline slide. */
#timeline .timeline_content {
	width: calc(100vw - 140px);
	height: calc(100vh - 130px);
	margin: 10px 70px;
	display: flex;
}

#timeline .timeline_content .tl_image {
	flex: 1;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border: solid 3px;
	border-color: black;
	position: relative;
	border-radius: 5px;
}

#timeline .timeline_content .tl_image .tl_expand{
	width: 50px;
	height: 50px;
	position:absolute;
	bottom: 0;
	right: 0;
	background-color: black;
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../../../../img/white/interact/zoom_in.svg');
	    border-top-left-radius: 5px;
	}

#timeline .timeline_content .content {
	flex: 1;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Previous slide button */
#time_prev {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 5px;
	margin: -25px 0 0 0;
	background-color: rgba(0,0,0,0.25);
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../../../../img/white/chevron/left.svg');
	border-radius: 999px;
}

/* Next slide button */
#time_next {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	right: 5px;
	margin: -25px 0 0 0;
	background-color:  rgba(0,0,0,0.25);
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../../../../img/white/chevron/right.svg');
	border-radius: 999px;
}