

a {
  color: rgba(0,0,0,0.25);
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
  a:hover,
  a.selected {
    color: black;
  }



  #timeline {
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: hidden;
    position: absolute;
    color: black;
  }
    #dates {
      min-width: 100vw;
      height: 50px;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      margin: 0;
      padding: 0;
    }
      #dates li {
        list-style: none;
        float: left;
        height: 50px;
        width: 200px;
        font-size: 1.25em;
        text-align: center;
        background: url('../../images/biggerdot.png') center bottom no-repeat;
      }
        #dates a {
          line-height: 55px;
          padding-bottom: 10px;
        }
        #dates .selected {
              font-size: 2em;
              line-height: 60px !important;
        }
    
    #issues {
      width: 800px;
      height: calc(100vh - 110px);
      overflow: hidden;
      margin: 0;
      padding: 0;
    } 
      #issues li {
        width: 100vw;
        height: calc(100vh - 110px);
        list-style: none;
        margin: 0 !important;
        float: left;
      }
        #issues li.selected img {
          -webkit-transform: scale(1.1,1.1);
          transform: scale(1.1,1.1);
        }
        #issues li img {
          float: left;
          margin: 10px 30px 10px 50px;
          background: transparent;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
          zoom: 1;
          -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
          -webkit-transform: scale(0.7,0.7);
          transform: scale(0.7,0.7);
        }
        #issues li h1 {
          color: #ffcc00;
          font-size: 48px;
          margin: 20px 0;
        }
        #issues li p {
          font-size: 14px;
          font-weight: normal;
          line-height: 22px;
        }
    
    #grad_left,
    #grad_right {
      width: 100px;
      height: 350px;
      position: absolute;
      top: 0;
    }
      #grad_left {
            left: 0;
            background: url('../../images/grad_left.png') repeat-y;
      }
      #grad_right {
            right: 0;
            background: url('../../images/grad_right.png') repeat-y;
      }
    
    #next,
    #prev {
      position: absolute;
      top: 0;
      font-size: 70px;
      top: 170px;
      width: 22px;
      height: 38px;
      background-position: 0 0;
      background-repeat: no-repeat;
      text-indent: -9999px;
      overflow: hidden;
    }
      #next:hover,
      #prev:hover {
        background-position: 0 -76px;
      }
      #next {
        right: 0;
        background-image: url('../../images/next.png');
      }
      #prev {
        left: 0;
        background-image: url('../../images/prev.png');
      }
        #next.disabled,
        #prev.disabled {
          opacity: 0.2;
        }
