/* Don't forget your activity container! */
#activity_content #cards {
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
}


/* Style the left and right card sections. */
#cards .card_section_wrapper {
	flex: 1;
	height: calc(100vh - 60px);
	border-color: black;
	border-style: solid;
}

#cards .card_section_wrapper.left {
	border-width: 0 2px 0 0;
}

#cards .card_section_wrapper.right {
	border-width: 0 0 0 2px;
}

#cards .card_section_wrapper > .title {
	height: 40px;
	width: 100%;
	font-size: 1.25em;
	font-weight: 700;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cards .card_section_wrapper.hide_title .card_section_container {
	height: calc(100vh - 70px);
}

#cards .card_section_wrapper.hide_title .title {
	display: none;
}

#cards .card_section_wrapper .popup {
	display: none;
}

#cards .card_section_wrapper .popup .image {
	min-width: 300px;
	min-height: 300px;
	border-radius: 75px;
	background-color: rgba(255,255,255,0.25);
	margin: 10px 0;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 50%;
}

#cards .card_section_wrapper .popup .image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#cards .card_section_wrapper .popup .info_bar {
	width: 100%;
	min-height: 50px;
	display: flex;
	margin: 10px 0;
}

#cards .card_section_wrapper .popup .title {
	width: calc(100% - 120px);
	min-width: 250px;
	min-height: 50px;
	border-radius: 999px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	position: absolute;
	top: 5px;
}

#cards .card_section_wrapper .popup .title.full_title {
	height: calc(100vh - 70px);
}

#cards .card_section_wrapper .popup .more_info {
	width: 50px;
	height: 50px;
	background-image: url("../../../../img/white/interact/zoom_in.svg");
	background-size: 35px;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 999px;
	cursor: pointer;
}

#cards .card_section_wrapper .popup .close {
	width: 50px;
	height: 50px;
	background-image: url("../../../../img/white/interact/cancel.svg");
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 10px 0 0 ;
	background-color: rgba(0,0,0,0.75);
	border-radius: 999px;
	cursor: pointer;
	position: absolute;
}

#cards .card_section_wrapper.selected .popup {
	display: flex;
	position: absolute;
	top: 60px;
	height: calc(100vh - 60px);
	width: 50vw;
	background-color: rgba(0,0,0,0.85);
	z-index: 100;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#cards .card_section_wrapper.selected.right .popup .prompt {
	display: none;
}

#cards .card_section_wrapper.selected.left .popup .prompt {
	width: 100%;
	font-size: 1.25em;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 5px;
	min-height: 50px;
}

#cards.check .card_section_wrapper.selected.left .popup .prompt {
	display: none !important;
}

#cards .card_section_wrapper.selected.left .popup {
	left: 0;
}

#cards .card_section_wrapper.selected.right .popup {
	right: 0;
}

#cards .card_section_wrapper.selected > .title {
	opacity: 0.25;
}

#cards .card_section_wrapper.selected .card_section_container {
	opacity: 0.25;
}

#cards .card_section_wrapper.disabled .popup {
	display: flex;
	position: absolute;
	top: 60px;
	height: calc(100vh - 60px);
	width: 50vw;
	background-color: rgba(0,0,0,0.90);
	z-index: 100;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#cards .card_section_wrapper.disabled .popup .prompt {
	text-align: center;
	width: 100%;
	font-size: 1.25em;
	color: white;
}

#cards .card_section_wrapper.disabled .popup .title, 
#cards .card_section_wrapper.disabled .popup .image {
	display: none;
}


#cards .card_section_container {
	flex: 1;
	padding: 5px;
	height: calc(100vh - 110px);
}

#cards .card_section_container .card_section {
	text-align: center;
}

#cards .card_section_container .mCSB_container {
	text-align: center;
}

#cards .card {
	width: calc(25vw - 140px);
    height: calc(25vw - 140px);
    position: relative;
    display: inline-block;
    min-width: 100px;
    min-height: 100px;
    margin: 5px;
}

#cards .card.disabled {
	opacity: 0.25;
}

#cards .card.hide_title .title {
	display: none !important;
}

#cards .card.selected {
	margin: auto auto 40px auto;
}

#cards .card .back {
	width: calc(25vw - 140px);
    height: calc(25vw - 140px);
    min-width: 100px;
    min-height: 100px;
    border-radius: 999px;
    background-color: rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#cards .card .back .title {
	font-size: 0.75em;
}

#cards .card.selected .back {
	width: calc(25vw - 100px);
    height: calc(25vw - 100px);
    min-width: 100px;
    min-height: 100px;
    border-radius: 999px;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    background-color: rgba(0,0,0,0.35);
    margin: 0px;
    display: flex;
    justify-content: center;
}

#cards .check_match {
	display: none;
}

#cards.check .check_match {
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	background-color: green;
	position: absolute;
	top: calc(50vh - 50px);
	left: 50vw;
	margin: 0 0 -75px -75px;
	z-index: 101;
	background-image: url("../../../../img/white/menu/about.svg");
	background-size: 75px;
	background-repeat: no-repeat;
	background-position: center 15px;

}

#cards.check .check_match span {
	position: absolute;
	bottom: 10px;
	text-align: center;
	color: white;
	font-size: 1.25em;
	font-weight: 700;
	width: 100%;
	cursor: pointer;
}

#cards .card_section_container .mCS_no_scrollbar_y {
	
}