#desktop {
	background-color: #cbd18d;
	
}

#menu_content_wrapper {
	background-color: #cbd18d;
}

body.homescreen.facilitator #desktop .setup_container .activities .facilitator_activity.unselected {
	background-color: #a9b241 !important;
}

body.homescreen.facilitator #desktop .setup_container .activities .facilitator_activity.unselected .activity_image,
body.homescreen.facilitator #desktop .setup_container .activities .facilitator_activity.unselected .activity_link {
	background-color: #656b27 !important;
}

body.homescreen #desktop .setup_container .activities .facilitator_activity .activity_link {
	background-image: url('../../img/black/chevron/right.svg');
}

body.user #exhibit {
	background-image: url('../../img/branding/swoop.svg');
	background-position: bottom center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #cbd18d;
}
body.user #exhibit .owl-carousel .owl-nav .owl-next {
	background-color: #656b27 !important;
}
body.user #exhibit .owl-carousel .owl-nav .owl-prev {
	background-color: #656b27 !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #656b27 !important;
}

body.user #exhibit .owl-carousel .activity_card .image .overlay {
	background-color: #a9b241;
}

body.user #exhibit .exhibit_header {
	text-indent: -9999px;
	background-image: url('../../img/branding/naturesnetworks.png');
	background-position: center center;
	background-size: 65%;
	background-repeat: no-repeat;
}

body.user #exhibit .owl-carousel .activity_card .details {
	background-color: #656b27;
	color: white;
}

/* Discover */

/* Discover Homescreen*/
/*.facilitator_activity.type_image_match {
	background-color: #a0b3c2 !important;
} 

.facilitator_activity.type_image_match .activity_image,
.facilitator_activity.type_image_match .activity_link {
	background-color: #606b74 !important;
} 

.facilitator_activity.type_image_match .activity_image {
	background-image: url('../img/branding/discover_elephant.png') !important;
	background-position: top right !important;
	background-size: 125% !important;
}*/


/* Examine */

/* Examine Homescreen*/
/*.facilitator_activity.type_richtext {
	background-color: #f0d06f !important;
} 

.facilitator_activity.type_richtext .activity_image,
.facilitator_activity.type_richtext .activity_link {
	background-color: #8a6a09 !important;
} 

.facilitator_activity.type_richtext .activity_image {
	background-image: url('../img/branding/examine_beetle.png') !important;
	background-position: top left !important;
	background-size: 125% !important;
}*/


/* Notice */

/* Notice Homescreen*/
/*.facilitator_activity.type_question_cards {
	background-color: #a2968f !important;
} 

.facilitator_activity.type_question_cards .activity_image,
.facilitator_activity.type_question_cards .activity_link {
	background-color: #64503f !important;
} 

.facilitator_activity.type_question_cards .activity_image {
	background-image: url('../img/branding/notice_lizard.png') !important;
	background-position: top center !important;
	background-size: 150% !important;
}*/


/* Seek */

/* Seek Homescreen*/
/*.facilitator_activity.type_visual_thinking {
	background-color: #cbd18d !important;
} 

.facilitator_activity.type_visual_thinking .activity_image,
.facilitator_activity.type_visual_thinking .activity_link {
	background-color: #656b27 !important;
} 

.facilitator_activity.type_visual_thinking .activity_image {
	background-image: url('../img/branding/seek_whale.png') !important;
	background-position: top right !important;
	background-size: 100% !important;
	
}*/


/* Uncover */

/* Uncover Homescreen*/
/*.facilitator_activity.type_related_objects {
	background-color: #889dab !important;
} 

.facilitator_activity.type_related_objects .activity_image,
.facilitator_activity.type_related_objects .activity_link {
	background-color: #3b5c73 !important;
} 

.facilitator_activity.type_related_objects .activity_image {
	background-image: url('../img/branding/uncover_pot.png') !important;
	background-position: top center !important;
	background-size: 115% !important;
}*/
