/* Don't forget your activity container! */
#activity_content #annotated_image {
	height: 420px;
	width: 800px;
	position: relative;
}



#activity_content #annotated_image {
	width: 100vw;
    height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

#activity_content #annotated_image .content_wrapper {

}

#annotated_image .image {
	position: absolute;
	top: 0;
	left: 0;
}

#annotated_image .annotation {
	position: absolute;
	top: 0;
	left: 0;
}

/* Information button for the "under" image, displayed at the bottom left. */
#activity_content #twentytwenty_image1 {
	position: absolute;
	bottom: 5px;
	left: 5px;
	height: 40px;
	min-width: 40px;
	display: flex;
	z-index: 100;
}

#activity_content #twentytwenty_image1 .button {
	height: 40px;
	width: 40px;
	background-color: black;
	background-image: url('../../../../img/white/menu/info.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 35px;
	border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

#activity_content #twentytwenty_image1 .title {
	background-color: rgba(0,0,0,0.5);
	line-height: 45px;
	font-size: 1.25em;
	font-weight: 900;
	padding: 0 20px;
	color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Information button for the "over" image, displayed at the bottom right. */
#activity_content #twentytwenty_image2 {
	position: absolute;
	bottom: 5px;
	right: 5px;
	height: 40px;
	min-width: 40px;
	display: flex;
	z-index: 100;
}

#activity_content #twentytwenty_image2 .button {
	height: 40px;
	width: 40px;
	background-color: black;
	background-image: url('../../../../img/white/menu/info.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 35px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#activity_content #twentytwenty_image2 .title {
	background-color: rgba(0,0,0,0.5);
	color: white;
	line-height: 45px;
	font-size: 1.25em;
	font-weight: 900;
	padding: 0 20px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* Overlay button used to toggle the visibility of tooltips.  */
#tooltip_toggle {
	width: 50px;
	height: 50px;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 35px;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 100;
	border-radius: 5px;
}

#tooltip_toggle.visible {
	background-image: url('../../../../img/white/interact/visibility-on.svg');
}

#tooltip_toggle.hide {
	background-image: url('../../../../img/white/interact/visibility-off.svg');
}

/* Tooltip configuration, including the different types and combinations.  */
#activity_content .tooltip {
	position: absolute;
	border-radius: 1000px;
	z-index: 950;
	background-color: rgba(0,0,0,0.75);
	background-repeat: no-repeat;
	background-position: center center;
}

#activity_content .tooltip.secret {
	background-color: rgba(0,0,0,0) !important;
}

#activity_content .tooltip.hint {
	background-color: rgba(255,255,255,0.15) !important;
	border: solid 2px rgba(255,255,255,0.5);
}

#activity_content .tooltip.fixed.hint {
	background-color: rgba(0,0,0,0.75) !important;
	border: 0 !important;
}

#activity_content .tooltip.fixed {
	position: absolute;
	width: 40px !important;
	height: 40px !important;
	background-image: url('../../../../img/white/interact/zoom_in.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 35px;
	border-radius: 25px;
	z-index: 950;
	margin: -20px 0 0 -20px;
}

#activity_content .tooltip.fixed.secret {
	background-image: unset !important;
}

#tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
  }