<div id="pathfinder" class="question1" data-current_question="1">
	<div class="question_area">
		
	</div>
	<div class="path_area">
		<div class="origin">
			<div class="badge_wrapper">
				<div id="badge_origin">
					<div class="info_button"></div>
				</div>
				
			</div>
		</div>
		<div class="path">
			<div class="column" id="column1" data-qid="1">
				<div class="column_header enabled"></div>
				<div class="options">
					<div class="row" id="row1_1">
						<div class="button_wrapper enabled">
							<div class="button" data-oid="1">
								<div class="title"></div>
							</div>
							
							<div class="info_button"></div>
						</div>
					</div>
					<div class="row" id="row1_2">
						<div class="button_wrapper enabled">
							<div class="button" data-oid="2">
								<div class="title"></div>
							</div>
							<div class="info_button"></div>
						</div>
					</div>
					<div class="row" id="row1_3">
						<div class="button_wrapper enabled">
							<div class="button" data-oid="3">
								<div class="title"></div>
							</div>
							<div class="info_button"></div>
						</div>
					</div>
					<div class="row" id="row1_4">
						<div class="button_wrapper enabled">
							<div class="button" data-oid="4">
								<div class="title"></div>
							</div>
							<div class="info_button"></div>
						</div>
					</div>
				</div>
					
			</div>
			<div class="column" id="column2" data-qid="2">
				<div class="column_header disabled"></div>
				<div class="options">
					<div class="row" id="row2_1">
						<div class="button_wrapper disabled">
							<div class="button" data-oid="1">
								<div class="title"></div>
							</div>
							<div class="info_button"></div>
						</div>
					</div>
					<div class="row" id="row2_2">
						<div class="button_wrapper  disabled">
							<div class="button" data-oid="2">
								<div class="title"></div>
							</div>
							<div class="info_button"></div>
						</div>
					</div>
					<div class="row" id="row2_3">
						<div class="button_wrapper disabled">
							<div class="button" data-oid="3">
								<div class="title"></div>
							</div>
							<div class="info_button"></div>
						</div>
					</div>
					<div class="row" id="row2_4">
						<div class="button_wrapper disabled">
							<div class="button" data-oid="4">
								<div class="title"></div>
							</div>
							<div class="info_button"></div>
						</div>
					</div>
				</div>
					
			</div>
			<div class="column" id="column3" data-qid="3">
				<div class="column_header disabled"></div>
				<div class="options">
					<div class="row" id="row3_1">
						<div class="button_wrapper disabled">
							<div class="button" data-oid="1">
								<div class="title"></div>
							</div>
							<div class="info_button"></div>
						</div>
					</div>
					<div class="row" id="row3_2">
						<div class="button_wrapper disabled">
							<div class="button" data-oid="2">
								<div class="title"></div>
							</div>
							<div class="info_button"></div>
						</div>
					</div>
					<div class="row" id="row3_3">
						<div class="button_wrapper disabled">
							<div class="button" data-oid="3">
								<div class="title"></div>
							</div>
							<div class="info_button"></div>
						</div>
					</div>
					<div class="row" id="row3_4">
						<div class="button_wrapper disabled">
							<div class="button" data-oid="4">
								<div class="title"></div>
							</div>
							<div class="info_button"></div>
						</div>
					</div>
				</div>
					
			</div>
			
		
		</div>
		<div class="destination">
			<div class="badge_wrapper">
				<div id="badge_destination">
					<div class="info_button"></div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="button_bar">
		<div id="reset_path" style="display: none;">Start Again</div>
		<div id="confirm_path" class="disabled">Check Your Answer</div>
	</div>
	<div id="line_area">

	</div>
</div>
