<div id="tile_buckets">
	<div id="tiles_container" class="dropzone_container">
		<div id="tiles">
			<div class="tiles_wrapper"></div>
		</div>
	</div>
	<div id="buckets_container" class="dropzone_container">
		<div id="buckets">
			<div class="buckets_wrapper"></div>
		</div>
	</div>
</div>