<div id="iframe">
	<iframe name="frame" frameborder="0" vspace="0" hspace="0" webkitallowfullscreen="" mozallowfullscreen="" sandbox="allow-same-origin allow-scripts" allowfullscreen="" scrolling="auto" src="">Iframe</iframe>
</div>