/* Don't forget your activity container! */
#activity_content #visual_thinking {
	height: calc(100vh - 70px);
	width: calc(100vw - 5px);
	display: flex;
	margin: 5px 0;
}

/* Image Gallery */
#visual_thinking .vt_image {
	flex: 1;
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#visual_thinking .vt_image .vt_expand {
	width: 50px;
	height: 50px;
	background-color: black;
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../../../../img/white/interact/zoom_in.svg');
	position: absolute;
	bottom: 0;
	right: 0;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* List of bullet points. */
#visual_thinking .details {
	flex: 1;
	margin: 0 0 0 5px;
}

#visual_thinking .details .bullet {
	width: 100%;
	height: 50px;
	background-color: darkgray;
	margin: 0 0 5px 0;
	border-radius: 5px;
}
#visual_thinking .details .title {
	width: calc(100% - 20px);
	background-color: gray;
	text-align: center;
	font-weight: 900;
	color: white;
	margin: 0 0 5px 0;
	border-radius: 5px;
	line-height: 2em;
	padding: 10px;
	font-size: 1.25em;
}

#visual_thinking .details .bullet.open {
	height: auto !important;
}

#visual_thinking .details .bullet .header {
	font-weight: 900;
	font-size: 1.25em;
	line-height: 55px;
	display: flex;
}

#visual_thinking .details .bullet .header .button {
	width: 50px;
	height: 50px;
	display: block;
	background-color: gray;
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../../../../img/white/chevron/right.svg');
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#visual_thinking .details .bullet.open .header .button {
	background-image: url('../../../../img/white/chevron/down.svg') !important;
}

#visual_thinking .details .bullet .header span {
	flex: 1;
	display: block;
	padding: 0 0 0 10px;
	height: 50px;
}

#visual_thinking .details .bullet .description {
	height: 0px;
	display: none;
	overflow: hidden;
	background-color: rgba(255,255,255,0.15);
	padding: 10px;
}

#visual_thinking .details .bullet.open .description {
	height: auto;
	display: block;
}
