/* Don't forget your activity container! */
#activity_content #dichotomous_key {
	width: 100%;
	height: calc(100vh - 60px);
	
}

#dichotomous_key .content_wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

#dichotomous_key .questions {
	flex: 1;
	border-color: black;
	border-style: solid;
	border-width: 0 2px 0 0;
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

#dichotomous_key .questions .prompt {
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 1.25em;
	flex-grow: 1;
}

#dichotomous_key .questions .options {
	padding: 0 5px;
	display: flex;
	flex-direction: column;
	flex-grow: 3;
	justify-content: center;
	align-items: center;
}

#dichotomous_key .questions .options .option {
	width: 100%;
	min-height: 100px;
	border-radius: 10px;
	cursor: pointer;
	margin: 5px 0;
	display: flex;
	flex-direction: row;
}

#dichotomous_key .questions .options .option.unselected {
	background-color: rgba(0,0,0,0.25);
	color: black;
}

#dichotomous_key .questions .options .option.selected {
	background-color: rgba(0,128,0,0.90);
	color: white;
}

#dichotomous_key .questions .options .option .bullet {
	width: 50px;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	flex-shrink: 0;
}

#dichotomous_key .questions .options .option.unselected .bullet {
	background-image: url(../../../../img/black/settings/dot.svg);
		background-size: 10px;

}

#dichotomous_key .questions .options .option.selected .bullet {
	background-image: url(../../../../img/white/interact/check.svg);
	background-size: 50px;

}

#dichotomous_key .questions .options .option .text {
	flex-grow: 1;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 10px 35px 10px 0;
}

#dichotomous_key .questions .button_bar {
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
}

#dichotomous_key .questions .button_bar .button {
	height: 50px;
	border-radius: 5px;
	background-size: 25px;
	background-repeat: no-repeat;
	text-align: center;
	line-height: 50px;
	font-weight: 700;
	color: white;
	
}

#dk_back {
	width: 132px;
	background-color: #d2222d;
	background-image: url(../../../../img/white/arrow/left.svg);
	background-position: 10px center;
	margin: 0 5px 0 0;
	cursor: pointer;
}

#dk_back.disabled {
	background-color: rgba(0,0,0,0.25);
	color: black !important;
	background-image: url(../../../../img/black/arrow/left.svg);
	opacity: 0.5;
	cursor: default;
}

#dk_next {
	width: 250px;
	background-color: #008000;
	background-image: url(../../../../img/white/arrow/right.svg);
	background-position: calc(100% - 10px) center;
	cursor: pointer;
	margin: 0 5px 0 0;
}

#dk_next.disabled {
	background-color: rgba(0,0,0,0.25);
	color: black !important;
		background-image: url(../../../../img/black/arrow/right.svg);
		opacity: 0.5;
		cursor: default;

}

#dichotomous_key .media {
	flex: 1;
	border-color: black;
	border-style: solid;
	border-width: 0 0 0 2px;
	display: flex;
	height: calc(100vh - 60px);
}

#dichotomous_key .media .media_wrapper {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	display: flex;
	text-align: center;
	margin: 5px;
}

#dichotomous_key .media .media_wrapper .media_button {
	width: 320px;
	height: 320px;
	display: inline-block;
	cursor: pointer;
	margin: 5px 10px;
}

#dichotomous_key .media .media_wrapper .media_button .image {
	width: 320px;
	height: 320px;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

#dichotomous_key .media .media_wrapper .media_button .image .more_info {
	width: 50px;
	height: 50px;
	background-color: black;
	background-image: url('../../../../img/white/interact/launch.svg');
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	bottom: 0;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#dichotomous_key .overlay_wrapper {
	width: 100vw;
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 60px;
	right: 0;
	background-color: rgba(0,0,0,0.90);
	justify-content: center;
	align-items: center;
	color: white;
	z-index: 99;
}

#dichotomous_key .overlay_wrapper .confirm_selection {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#dichotomous_key .overlay_wrapper .confirm_selection .check_match {
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	background-color: green;
	position: relative;
	z-index: 101;
	background-image: url("../../../../img/white/menu/about.svg");
	background-size: 75px;
	background-repeat: no-repeat;
	background-position: center 15px;

}

#dichotomous_key .overlay_wrapper .confirm_selection .check_match span {
	position: absolute;
	bottom: 10px;
	text-align: center;
	color: white;
	font-size: 1.25em;
	font-weight: 700;
	width: 100%;
}
#dichotomous_key .overlay_wrapper .confirm_selection .top_text,
#dichotomous_key .overlay_wrapper .confirm_selection .bottom_text {
	font-size: 1.25em;
	font-weight: 700;
	margin: 20px 0;
}

#dichotomous_key .overlay_wrapper .answer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#dichotomous_key .overlay_wrapper .answer .user_answer {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#dichotomous_key .overlay_wrapper .answer .correct_answer {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#dichotomous_key .overlay_wrapper .answer .header {
	min-width: 250px;
	min-height: 50px;
	border-radius: 999px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	margin: 10px 0 0 0;
	font-weight: 900;
}

#dichotomous_key .overlay_wrapper .user_answer .header {
	background-color: black;
}

#dichotomous_key .overlay_wrapper .correct_answer .header {
	background-color: #008000;
}

#dichotomous_key .overlay_wrapper .answer .image {
	width: 250px;
	height: 250px;
	border-radius: 75px;
	background-color: rgba(255,255,255,0.25);
	margin: 10px 0;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#dichotomous_key .overlay_wrapper .answer .image .more_info {
	width: 50px;
	height: 50px;
	background-image: url("../../../../img/white/menu/info.svg");
	background-size: 50px;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 999px;
}

#dichotomous_key .overlay_wrapper .answer .title {
	min-width: 250px;
	min-height: 40px;
	border-radius: 999px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
}

#action_button {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin: 0 0 -50px -50px;
	background-position: center 25px;
	background-repeat: no-repeat;
	background-size: 35px;
	border-radius: 5px;
}

#action_button.correct {
	background-color: #008000;
	background-image: url('../../../../img/white/interact/check.svg');
}

#action_button.incorrect {
	background-color: #d2222d;
	background-image: url('../../../../img/white/settings/reset.svg');
	cursor: pointer;
}

#action_button span {
	position: relative;
	width: 100%;
	text-align: center;
	display: block;
	top: 60px;

}