<div id="jquery_jplayer_1"></div>
<div id="replay" style="display:none;"></div>
<div id="jp-control-bar" class="black"><div class="jp-controls"><button class="jp-play" role="button" tabindex="0"></button><button class="jp-rewind" role="button" tabindex="1"></button></div><div class="jp-progress"><div class="jp-seek-bar"><div class="jp-play-bar"></div></div></div><div class="jp-duration">-99:99</div><div class="jp-audio-controls"><div id="volume"></div><div class="volume-current"><div class="first volume-level selected" id="vol_25"></div><div class="volume-level" id="vol_50"></div><div class="volume-level" id="vol_75"></div><div class="last volume-level" id="vol_100"></div></div></div>
