/* Don't forget your activity container! */
#activity_content #image_gallery {
	width: calc(100vw - 5px);
	height: calc(100vh - 70px);
	margin: 5px 0;
}

/* Container for all of the image blocks. */
#image_gallery #images {
	width: calc(100vw - 60px);
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Individual gallery image styling. */
#activity_content .gallery_image {
	display: block;
	background-color: lightgray;
	margin: 0 0 5px 5px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	border-radius: 5px;
}

#activity_content .gallery_image .ig_expand {
	position: absolute;
	background-color: black;
	width: 40px;
	height: 40px;
	right: 0;
	bottom: 0;
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../../../../img/white/interact/zoom_in.svg');
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}