/* Don't forget your activity container! */
#activity_content #true_or_false {
	height: 100%;
	width: 100%;
}

/* An individual question for the quiz */
#true_or_false .question {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 65px);
	width: calc(100vw - 10px);
	margin: 0 5px;
}

/* Image gallery wrapper*/
#true_or_false .question .image_wrapper {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

#true_or_false .question .question_image {
	width: calc(100% - 5px);
	height: 355px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
}

#true_or_false .question .question_image .tf_expand{
	width: 50px;
	height: 50px;
	background-color: black;
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
    background-image: url('../../../../img/white/interact/zoom_in.svg');
	position: absolute;
	bottom: 0;
	right: 0;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Question text wrapper */
#true_or_false .question .text_wrapper {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#true_or_false .question .text {
	height: 300px;
	width: 100%;
    text-align: center;
    font-weight: 700;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1.75em;
    line-height: 1.5em;
}

/* User response wrapper */
#true_or_false .question .response {
	width: 100%;
	height: 50px;
	display: flex;
	margin: 5px 0 0 0;
}

/* Affirmative button */
#true_or_false .question .response .true {
	flex: 1;
	display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}

button.affirmative {
	height: 100%;
	width: calc(100% - 2.5px);
	background-color: #238823;
	border-radius: 5px;
	font-size: 1.75em;
    text-transform: uppercase;
    font-weight: 900;
    padding: 2.5px 0 0 0;
    outline: 0;
    line-height: 50px;
    border: 0;
}

/* Negative button */
#true_or_false .question .response .false {
	flex: 1;
	display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
}

button.negative {
	height: 100%;
	width: calc(100% - 2.5px);
	background-color: #D2222D;
	border-radius: 5px;
	font-size: 1.75em;
    text-transform: uppercase;
    font-weight: 900;
    padding: 2.5px 0 0 0;
    outline: 0;
    line-height: 50px;
    border: 0;
}

button.negative:focus,
button.affirmative:focus {
	outline: 0;
}

/* Response pop-up */
#tf_message {
	width: 100%;
	height: 100%;
	color: white;
	background-color: black;
}

#tf_message .response {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

}

#tf_message .text {
	flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tf_message .interaction {
	display: flex;
	height: 70px;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
}

#tf_message button.next_tf {
	width: 100px;
    height: 70px;
    border-radius: 5px;
    background-color: gray;
    background-size: 35px;
    background-position: center calc(50% - 10px);
    background-repeat: no-repeat;
    background-image: url(../../../../img/black/arrow/right.svg);
    border: 0;
    line-height: 105px;
}
#tf_message button.done_tf {
	width: 100px;
    height: 70px;
    border-radius: 5px;
    background-color: gray;
    background-size: 35px;
    background-position: center calc(50% - 10px);
    background-repeat: no-repeat;
    background-image: url(../../../../img/black/interact/check.svg);
    border: 0;
    line-height: 105px;
    margin: 0 10px 0 0;
}
#tf_message button.retry_tf {
	width: 100px;
    height: 70px;
    border-radius: 5px;
    background-color: gray;
    background-size: 35px;
    background-position: center calc(50% - 10px);
    background-repeat: no-repeat;
    background-image: url(../../../../img/black/media/replay.svg);
    border: 0;
    line-height: 105px;
    margin: 0 10px 0 0;
}

#tf_message button.restart_tf {
	width: 100px;
    height: 70px;
    border-radius: 5px;
    background-color: gray;
    background-size: 35px;
    background-position: center calc(50% - 10px);
    background-repeat: no-repeat;
    background-image: url(../../../../img/black/menu/home.svg);
    border: 0;
    line-height: 105px;
}

#tf_message .next_tf:focus,
#tf_message .retry_tf:focus,
#tf_message .restart_tf:focus {
	outline: 0;
}