/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    
  .owl-theme .owl-nav .disabled {
    opacity: 0.1;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100vw;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    height: 50px;
    line-height: 50px;
    font-size: 1.25em;
    padding: 0 15px;
    background-color: transparent;
    *display: inline; }
  .owl-theme .owl-dots .owl-dot.active {
    font-weight: 900;
  } 
  .owl-theme .owl-dots .owl-dot:focus {
    outline: 0;
  } 
    .owl-theme .owl-dots .owl-dot span {
      width: 35px;
      height: 35px;
      margin: 5px 7px;
      background: rgba(0,0,0,0.25);
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: black; }


.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 5px;
  top: 50%;
  margin: -25px 0 0 0;
  height: 50px;
  width: 50px;
  border-radius: 999px;
  background-color: black;
  display: block;
  text-indent: -9999px;
  background-size: 35px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../img/white/chevron/left.svg');
  z-index: 5;
}

.owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 5px;
  top: 50%;
  margin: -25px 0 0 0;
  height: 50px;
  width: 50px;
  border-radius: 999px;
  background-color: black;
  display: block;
  text-indent: -9999px;
  background-size: 35px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../img/white/chevron/right.svg');
  z-index: 5;
}

.owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-next:focus {
  outline: 0;
  border: 0;
}
