/* Don't forget your activity container! */
#activity_content #flash_cards {
	width: calc(100vw - 5px);
	height: calc(100vh - 70px);
	margin: 5px 0;
}

/* Container for all of the flash cards. */
#flash_cards #cards {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}

/* Individual flash card styling. */
#activity_content #flash_cards .card {
	width: calc(100vw - 120px);
	height: calc(100vh - 115px);
	margin: 0 60px;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

#activity_content #flash_cards .card .front {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 10;
	background-color: gray;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

#activity_content #flash_cards .card .front.open {
	width: 100%;
}

#activity_content #flash_cards .card .front.closed {
	width: 10px;
	text-indent: -99999px;
}

#activity_content #flash_cards .card .back {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.15);
	    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#activity_content #flash_cards .card .back .description {
	display: block;
	width: 100%;
	text-align: center;
	line-height: 2.5em;
	font-weight: 900;
	font-size: 3em;
}

#activity_content #flash_cards .card .back .description.background {
	margin: 50px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.75);

	}

#activity_content #flash_cards .card .front .description .description_header {
	font-weight: 900;
	font-size: 1.25em;
	height: 50px;
	line-height: 50px;
}

#activity_content #flash_cards .card .front .description .description_content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#activity_content #flash_cards .card .front .description {
	display: block;
	height: 100%;
	width: calc(100% - 20px);
	margin: 0 10px;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
}

#activity_content #flash_cards .card .front.open .card_more {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 15;
	background-color: black;
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../../../../img/white/interact/zoom_in.svg');
	border-top-left-radius: 5px;
}

/* Custom configuration for Owl Carousel JS library.*/
body.type_question_cards .owl-carousel .owl-nav .owl-prev {
	top: calc(50vh - 60px);
	}

body.type_question_cards .owl-carousel .owl-nav .owl-next {
	top: calc(50vh - 60px);
	}

body.type_question_cards .owl-theme .owl-dots .owl-dot.active span, 
body.type_question_cards .owl-theme .owl-dots .owl-dot:hover span {
	background-color: black !important;
}