/* Don't forget your activity container. */
#activity_content #meta_activities {
	padding: 5px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}

/* Back arrow that brings the user back to the full list of Meta activities. */
#meta_back {
  height: 60px;
  width: 60px;
  background-image: url('../../../../img/white/arrow/left.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 35px;
  background-color: black;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  cursor: pointer;

}

/* Container that the selected activity will load into. */
#meta_content {
	width: 100vw;
    height: calc(100vh - 60px);
}

/* Individual activity styles - List */
#meta_activities .activity {
  width: calc(100% - 5px);
  min-height: 150px;
  position: relative;
  margin: 0 0 5px 0;
  padding: 0 5px 0 0;
  user-select: none;
  display: flex;
  max-width: 790px;
  border-radius: 5px;
  min-width: 730px;
  cursor: pointer;

}

#meta_activities .activity:last-child{
  margin: 0;
}
  
#meta_activities .activity .image{
  padding: 0 0 0 10px;
  width: 165px;
  height: 175px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#meta_activities .activity .content{
  flex: 1;
    padding: 0 0 0 10px;
    margin: 0 50px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#meta_activities .activity .content .activity_header {
  width: 100%;
  height: 40px;
  padding: 10px 0;
  user-select: none;
}

#meta_activities .activity .content .activity_header .title {
  font-size: 1.5em;
  font-weight: 900;
  height: 50px;
  width: 100%;
  line-height: 55px;
}

#meta_activities .activity .content .activity_header .grouping {
  height: 30px;
  width: calc(100% - 30px);
  font-size: 1em;
  font-weight: 500;
  line-height: 35px;
  font-weight: 900;
  border-color: black;
    border-style: solid;
    border-width: 1px 0 0 0;
}

#meta_activities .activity .content .activity_header .grouping .group {
  float: left;
}

#meta_activities .activity .content .activity_header .grouping .arrow {
  height: 30px;
  width: 15px;
  float: left;
  background-image: url('../../../../img/black/chevron/right.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
}

#meta_activities .activity .content .activity_description {
  width: 100%;
  padding: 10px 0;
  user-select: none;
}

#meta_activities .activity .content .info {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0 0 5px 0;
  user-select: none;
  font-size: 1em;
}

#meta_activities .activity .content .info span {
  margin: 0 10px;

}

#meta_activities .activity .content .info span:first-child {
  margin: 0 10px 0 0;
}

#meta_activities .activity .activity_link {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('../../../../img/black/arrow/right.svg');
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#meta_activities .activity .activity_link a {
  width: 50px;
  height: 100%;
  display: block;
}