<!-- Help Menu-->
<div id="info_menu"> 

	<!-- Getting Started Section Link -->
	<div class="help_section setup_button">
      <div class="icon">
        <div class="image" style="background-image: url('./img/black/settings/guides.svg');"></div>
      </div>
      <div class="content">
        

        <div class="about_header">
          <div class="title">
            Getting Started
          </div>
          
        </div>

        <div class="about_description">
          Get help with selecting activities and getting into Exhibit Mode. 
        </div>

      </div>
      <div class="about_link">
      	
      </div>
    </div>

    <!-- Information Section Link -->
    <div class="help_section clio_button">
      <div class="icon">
        <div class="image" style="background-image: url('./img/black/menu/info.svg');"></div>
      </div>
      <div class="content">
        
        <div class="about_header">
          <div class="title">
            Information
          </div>
          
        </div>

        <div class="about_description">
          Learn about our CLIO toolkit and the amazing open source technologies that went into making this kiosk. 
        </div>

      </div>
      <div class="about_link">
      	
      </div>
    </div>

</div>