<!-- Accessibility Menu -->
    <div id="accessibility_menu">
     
    <!-- Screen Brightness Section -->  
    <div id="user_brightness" class="accessibility accessibility_brightness">
      <div class="icon">
        <div class="image" style="background-image: url('./img/black/settings/brightness.svg');"></div>
      </div>
      <div class="content">

        <div class="accessibility_header">
          <div class="title">
            Brightness
          </div>
          
        </div>
        <div class="setting_controls">
          <button class="brightness_control unselected small_button" id="accessibility_brightness1">1</button>
          <button class="brightness_control unselected small_button notext" id="accessibility_brightness2">2</button>
          <button class="brightness_control unselected small_button notext" id="accessibility_brightness3">3</button>
          <button class="brightness_control unselected small_button notext" id="accessibility_brightness4">4</button>
          <button class="brightness_control unselected small_button notext" id="accessibility_brightness5">5</button>
          <button class="brightness_control unselected small_button notext" id="accessibility_brightness6">6</button>
          <button class="brightness_control unselected small_button notext" id="accessibility_brightness7">7</button>
          <button class="brightness_control unselected small_button notext" id="accessibility_brightness8">8</button>
          <button class="brightness_control unselected small_button notext" id="accessibility_brightness9">9</button>
          <button class="brightness_control unselected small_button" id="accessibility_brightness10">10</button>
        </div>

      </div>
    </div>  

    <!-- Contrast Mode Section -->
    <div class="accessibility accessibility_contrast">
      <div class="icon">
        <div class="image" style="background-image: url('./img/black/settings/contrast.svg');"></div>
      </div>
      <div class="content">
       
        <div class="accessibility_header">
          <div class="title">
            Contrast Mode
          </div>
          
        </div>
        <div class="accessibility_description">
          Increase contrast in the screen by overriding theme colors.
        </div>
        <div class="accessibility_controls">
          <select style="min-width: 400px" id="setting__contrast_mode" class="dropdown" name="setting__contrast">
                <option value="default">Use default themes</option>
                <option value="blackonwhite">Black text on a light background</option>
                <option value="whiteonblack">White text on a dark background</option>
                <option value="greenonblack">Green text on a dark background</option>
              </select>
        </div>

      </div>
    </div>

    <!-- Media Section -->
    <!--<div class="accessibility accessibility_readability">
      <div class="icon">
        <div class="image" style="background-image: url('./img/black/media/play.svg');"></div>
      </div>
      <div class="content">

        <div class="accessibility_header">
          <div class="title">
            Media
          </div>
          
        </div>
        <div class="accessibility_description">
          Allows you to configure media playback settings.
        </div>
        <div class="accessibility_controls">
          
          <div  class="setting_option_group">

              <h4>Autoplay</h4>
              <select style="min-width: 400px" id="setting__autoplay" class="dropdown" name="setting__autoplay">
                <option value="true" selected>Enabled</option>
                <option value="false">Disabled</option>
              </select>

            </div>

        </div>

      </div>
    </div>-->

    <!-- Readability Section -->
    <div class="accessibility accessibility_readability">
      <div class="icon">
        <div class="image" style="background-image: url('./img/black/settings/readability.svg');"></div>
      </div>
      <div class="content">

        <div class="accessibility_header">
          <div class="title">
            Readability
          </div>
          
        </div>
        <div class="accessibility_description">
          Allows you to modify font and paragraph settings.
        </div>
        <div class="accessibility_controls">
          
          <div  class="setting_option_group">
              <h4>Text Size</h4>
              <select style="min-width: 400px" id="setting__font_size" class="dropdown" name="setting__font_size">
                <option value="smallest">Smallest</option>
                <option value="smaller">Smaller</option>
                <option value="default">Default</option>
                <option value="larger">Larger</option>
                <option value="largest">Largest</option>
              </select>
            
              <h4>Font Family</h4>
              <select style="min-width: 400px" id="setting__font_face" class="dropdown" name="setting__font_face">
                <option value="default">Default</option>
                <option value="serif">Serif</option>
                <option value="sansserif">Sans Serif</option>
                <option value="opendyslexic">OpenDyslexic</option>
                <option value="comicneue">Comic Neue</option>
                <option value="monospace">Monospace</option>
              </select>

              <h4>Paragraph Alignment</h4>
              <select  style="min-width: 400px" id="setting__paragraph_alignment"  class="dropdown" name="setting__paragraph_alignment">
                <option value="left">Left</option>
                <option value="justify">Justify</option>
              </select>
            
              <h4>Line Spacing</h4>
              <select style="min-width: 400px" id="setting__paragraph_spacing" class="dropdown" name="setting__paragraph_alignment">
                <option value="less">Less</option>
                <option value="default">Default</option>
                <option value="more">More</option>
              </select>
            </div>

        </div>

      </div>
    </div>

    <!-- Reset Accessibility -->
    <div class="accessibility accessibility_reset">
      <div class="icon">
        <div class="image" style="background-image: url('./img/black/settings/reset.svg');"></div>
      </div>
      <div class="content">
        

        <div class="accessibility_header">
          <div class="title">
            Reset
          </div>
          
        </div>
        <div class="accessibility_description">
          Change all accessibility options back to their defaults.
        </div>
        <div class="accessibility_controls">
          <button id="reset_accessibility" class="large_button">Reset</button>

        </div>

      </div>
    </div>

  </div>