<!-- Facilitation > Discussion Submenu -->
    <div id="discussion_menu">
      
      <div class="highlight_box">
        <div class="highlight_content" id="discussion_description"></div>
      </div>
      <div class="highlight_box">
        <span class="highlight_title">Discussion</span>
      </div>
      <div id="discussion_content">
      	<div class="facilitation_section">
      		
      	</div>
      </div>
    </div>
    