<!-- Facilitation Menu-->
<div id="facilitation_menu"> 
	<div id="facilitation_content">
		
		<!-- Title of Program -->
		<div id="facilitation_title"></div>
		
		<!-- Big Ideas -->
		<div class="highlight_box">
	        
	        <h3>Big Ideas</h3>
	        <div id="big_ideas">
				<ul></ul>
			</div>
	    </div>
		
		<!-- Objectives -->
		<div class="facilitation_header" id="facilitation_objectives"><div class="arrow"></div><div class="title">Objectives</div></div>
		<div class="facilitation_section" id="objectives" style="display: none">
			<ul></ul>
		</div>

		<!-- Plan -->
		<div class="facilitation_header" id="facilitation_plan"><div class="arrow"></div><div class="title">Plan</div></div>
		
		<div class="facilitation_section" id="plan" style="display: none">
			

			<!-- Introductions Subsection -->
			<div class="facilitation_subsection introduction">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/facilitation.svg');">
						
					</div>
				</div>
				<div class="content">
					<div class="facilitation_subheader">
						<div class="title">
							Introductions
						</div>
					</div>
					<div class="subsection_content">
						<div id="introductions">
							<ol></ol>
						</div>
					</div>
				</div>
			</div>

			<!-- Instructions Subsection -->
			<div class="facilitation_subsection instructions">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/feedback.svg');">
						
					</div>
				</div>
				<div class="content">
					<div class="facilitation_subheader">
						<div class="title">
							Instructions
						</div>
					</div>
					<div class="subsection_content">
						<div id="instructions"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Facilitation Discussions -->
		<div class="facilitation_header" id="facilitation_discussions"><div class="arrow"></div><div class="title">Discussions</div></div>
		
		<!-- All discussions are loaded here. -->
		<div class="facilitation_section" id="discussions" style="display: none; background-color: unset; padding: 0; width: calc(100% - 10px); margin: 0;"></div>
	</div>
</div> 



  