<!-- Information Menu-->
<div id="info_menu"> 
	<div id="clio_content">
		
		<!-- Project introduction-->
		<div class="highlight_box">
			<h3>About CLIO</h3>
			<p>Information about the CLIO project.</p>
		</div>

		<!-- Overview section -->
		<div class="help_header" id="section_overview">
			<div class="arrow"></div>
			<div class="title">Overview</div>
		</div>
		<div class="info_section" id="content_overview" style="display: none">
			
			<!-- Location Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							Facilitated Exhibits
						</div>
					</div>
					<div class="subsection_content">
						<p>Lorem Ipsum.</p>
					</div>
				</div>
			</div>

		</div>

		<!-- Team section -->
		<div class="help_header" id="section_team">
			<div class="arrow"></div>
			<div class="title">Team</div>
		</div>
		<div class="info_section" id="content_team" style="display: none">
			
			<!-- Joshua Frechette Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							Joshua Frechette
						</div>
					</div>
					<div class="subsection_content">
						<p>Lorem Ipsum.</p>
					</div>
				</div>
			</div>

			<!-- Dillon Connelly Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							Dillon Connelly
						</div>
					</div>
					<div class="subsection_content">
						<p>Lorem Ipsum.</p>
					</div>
				</div>
			</div>

		</div>

		<!-- Acknowledgements section -->
		<div class="help_header" id="section_acknowledgements">
			<div class="arrow"></div>
			<div class="title">Acknowledgements</div>
		</div>
		<div class="info_section" id="content_acknowledgements" style="display: none">
			
			<!-- Roger Williams Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							Roger Williams Natural History Museum
						</div>
					</div>
					<div class="subsection_content">
						<p>Our first home for an open-source project.</p>
					</div>
				</div>
			</div>

			<!-- Burke Museum Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							Burke Museum of Natural History and Culture
						</div>
					</div>
					<div class="subsection_content">
						<p>Pamela and Katharine.</p>
						<p>Burke Education facilitators.</p>
						<p>SPARKS Volunteers.</p>
					</div>
				</div>
			</div>

			<!-- UW Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							University of Washington Compassion Seed Fund
						</div>
					</div>
					<div class="subsection_content">
						<p>Microgrant.</p>
					</div>
				</div>
			</div>

			<!-- UW Museology Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							University of Washington Museology Program
						</div>
					</div>
					<div class="subsection_content">
						<p>Jessica Luke and Holly Barker.</p>
						<p>Museology Faculty.</p>
						<p>Museology Cohort.</p>
						<p>Paid internship program.</p>
					</div>
				</div>
			</div>

			<!-- Seminar Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							'Lunch and Learn' Webinar Attendants
						</div>
					</div>
					<div class="subsection_content">
						<p>For helping us learn while we taught about a subject very important to us.</p>
					</div>
				</div>
			</div>

			<!-- Seminar Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							The Open-Source Community
						</div>
					</div>
					<div class="subsection_content">
						<p>For the countless hours of development towards the greater package.  For anyone who believes in the Open-Source way.</p>
					</div>
				</div>
			</div>

		</div>



		<!-- Credits section -->
		<div class="help_header" id="section_credits">
			<div class="arrow"></div>
			<div class="title">Credits</div>
		</div>
		<div class="info_section" id="content_credits" style="display: none">
			
			<!-- Introdution Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							Introduction
						</div>
					</div>
					<div class="subsection_content">
						<p>This project was not and could not have been made alone.  The World Wide Web has provided developers ways to share with each other in ways we couldn't before, and the Open-Source community has always led the charge.  These are the libraries, references, designs, files and everything you can imagine that went into making this project a reality.</p>
					</div>
				</div>
			</div>

			<!-- Hardware Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							Hardware
						</div>
					</div>
					<div class="subsection_content">
						<p>Raspberry Pi.</p>
						<p>Adafruit.</p>
						<p>Creality.</p>
					</div>
				</div>
			</div>

			<!-- Software Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							Software
						</div>
					</div>
					<div class="subsection_content">
						<p>DietPi.</p>
						<p>Lighttpd.</p>
						<p>Chromium.</p>
						<p>Unclutter.</p>
						<p>Matchbox Window Manager</p>
					</div>
				</div>
			</div>

			<!-- Libraries Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							Libraries
						</div>
					</div>
					<div class="subsection_content">
						<p>BBCode Parser by Frug</p>
						<p>Fancybox</p>
						<p>mCustomScrollbar</p>
						<p>Alertify</p>
						<p>Select2</p>
						<p>Owl Carousel</p>
						<p>Hammer</p>
						<p>TwentyTwenty</p>
						<p>jPlayer</p>
						<p>Three</p>
						<p>Timelinr</p>
						<p>Reveal</p>
					</div>
				</div>
			</div>

			<!-- Resources Subsection-->
			<div class="info_subsection location">
				<div class="icon">
					<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
				</div>
				<div class="content">
					<div class="info_subheader">
						<div class="title">
							Resources
						</div>
					</div>
					<div class="subsection_content">
						<p>Google Material IO icons.</p>
						<p>HTML5 Boilerplate</p>
					</div>
				</div>
			</div>

		</div>


		
		
	</div>
</div> 



  