<!-- Activity menu -->
<div class="menu_section" id="program_menu">

	<!-- Activity option bar -->      
	<div id="activity_sort">
		<div class="activity_options">

			<!-- Activity Type -->
			<div class="option">
				<div class="option_title">Type:</div>
				<div class="option_select">
					<select style="min-width: 150px !important" id="sort__activity_type" class="dropdown" name="sort__activity_type">
						<option selected value="disabled">– Show All –</option>

					</select>
				</div>
			</div>

			<!-- Activity Audience -->
			<div class="option">
				<div class="option_title">Audience:</div>
				<div class="option_select">
					<select style="min-width: 150px !important" id="sort__audience" class="dropdown" name="sort__audience">
						<option selected value="disabled">– Show All –</option>

					</select>
				</div>
			</div>  
		</div>

		<!-- View options -->
		<div class="activity_view">
			<div class="sort_button" id="activity_details"></div>
			<div class="sort_button" id="activity_list"></div>
		</div>

	</div>

	<!-- Warning when there are no matching results. -->
	<div style="display: none" id="no_results">No activities match these criteria.</div>

</div>
