<!-- Settings Menu -->
<div id="settings_menu">

	<!-- Default Program Section -->
	<div class="setting setting_default_program">
		<div class="icon">
			<div class="image" style="background-image: url('./img/black/settings/default_program.svg');"></div>
		</div>
		<div class="content">

			<div class="setting_header">
				<div class="title">
					Program
				</div>

			</div>
			<div class="setting_description">
				Change which program is loaded into the Activities tab.
			</div>
			<div class="setting_controls">
				<select style="min-width: 400px" id="setting__default_program" class="dropdown" name="setting__default_program"></select>
			</div>

		</div>
	</div>

	


	

	

	<!-- Contrast Mode Theme override section -->
	<div class="setting setting_contrast_override">
		<div class="icon">
			<div class="image" style="background-image: url('./img/black/settings/invert.svg');"></div>
		</div>
		<div class="content">

			<div class="setting_header">
				<div class="title">
					Contrast Mode
				</div>

			</div>
			<div class="setting_description">
				Enable a contrast mode to improve usability in different lighting conditions.  Kiosk users can still temporarily change this under accessibility options.
			</div>
			<div class="setting_controls">
				<select style="min-width: 400px" id="setting__contrast_override" class="dropdown" name="setting__contrast_override">
					<option selected value="disabled">Use default themes</option>
					<option value="blackonwhite">Light Mode</option>
					<option value="whiteonblack">Dark Mode</option>
					<option value="greenonblack">Terminal Mode</option>
				</select>
			</div>

		</div>
	</div>

	<!-- Exhibit Mode -->
	<div class="setting setting_exhibit">
		<div class="icon">
			<div class="image" style="background-image: url('./img/black/menu/exhibit_mode.svg');"></div>
		</div>
		<div class="content">

			<div class="setting_header">
				<div class="title">
					Exhibit Mode
				</div>

			</div>
			<div class="setting_controls">
				<div class="setting_control_section">
					<div class="title">Activity Timeout</div>
					<div class="description">Return to the Exhibit Mode homescreen after the exhibit has been idle.</div>
					<div class="controls">
						<select style="min-width: 400px" id="setting__activity_timeout" class="dropdown" name="setting__activity_timeout">
							<option value="15">15 seconds</option>
							<option value="30">30 seconds</option>
							<option value="60" selected>1 minute</option>
							<option value="300">5 minutes</option>
							<option value="600">10 minutes</option>
							<option value="99999999">Don't return home automatically</option>
						</select>
					</div>
				</div>
				<div class="setting_control_section">
					<div class="title">Slide Duration</div>
					<div class="description">How long to display each slide on the Exhibit Mode homescreen.</div>
					<div class="controls">
						<select style="min-width: 400px" id="setting__slide_duration" class="dropdown" name="setting__slide_duration">
							<option value="5000">5 seconds</option>
							<option value="10000" selected>10 seconds</option>
							<option value="25000">15 seconds</option>
							<option value="30000">30 seconds</option>
							<option value="60000">1 minute</option>
							<option value="120000">2 minutes</option>
							<option value="300000">5 minutes</option>
						</select>
					</div>
				</div>
				<div class="setting_control_section">
					<div class="title">PIN Code</div>
					<div class="description">Used to return to Facilitator Mode from Exhibit Mode.</div>
					<div class="controls">
						<div id="kiosk_pin"><b><span>Updating...</span></div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Power -->
	<div class="setting setting_kiosk">
		<div class="icon">
			<div class="image" style="background-image: url('./img/black/settings/kiosk.svg');"></div>
		</div>
		<div class="content">

			<div class="setting_header">
				<div class="title">
					Kiosk
				</div>

			</div>
			<div class="setting_controls">
				

				<div class="setting_control_section">
					<div class="title">Brightness</div>
					<div class="description">Change the default screen brightness.</div>
					<div class="controls">
						<button class="brightness_control unselected small_button" id="brightness1">1</button>
						<button class="brightness_control unselected small_button notext" id="brightness2">2</button>
						<button class="brightness_control unselected small_button notext" id="brightness3">3</button>
						<button class="brightness_control unselected small_button notext" id="brightness4">4</button>
						<button class="brightness_control unselected small_button notext" id="brightness5">5</button>
						<button class="brightness_control unselected small_button notext" id="brightness6">6</button>
						<button class="brightness_control unselected small_button notext" id="brightness7">7</button>
						<button class="brightness_control unselected small_button notext" id="brightness8">8</button>
						<button class="brightness_control unselected small_button notext" id="brightness9">9</button>
						<button class="brightness_control unselected small_button" id="brightness10">10</button>

					</div>
				</div>

				<div class="setting_control_section">
					<div class="title">Screensaver</div>
					<div class="description">Help prevent screen burn-in by dimming the touchscreen and displaying a moving image after the kiosk has been idle.</div>
					<div class="controls">
						<select style="min-width: 400px" id="setting__screensaver" class="dropdown" name="setting__screensaver">
						<option selected value="enabled">Display screensaver</option>
						<option value="disabled">Do not display a screensaver</option>
					</select>

					</div>
				</div>

				<div class="setting_control_section">
					<div class="title">Orientation</div>
					<div class="description">Rotate the kiosk display by 180&deg;.</div>
					<div class="controls">
						<button id="kiosk_rotate" class="large_button">Rotate Display</button>
					</select>

					</div>
				</div>

				<div class="setting_control_section">
					<div class="title">Hardware</div>
					<div class="description">Inspect the kiosk hardware.</div>
					<div class="controls">
						<div id="kiosk_model"><b>Model: </b><span>Updating...</span></div>
						<div id="kiosk_temperature"><b>Temperature: </b><span>Updating...</span><button id="temperature_update">Update</button></div>
						<div id="kiosk_throttle"><b>Throttled: </b><span>Updating...</span><button id="throttle_update">Update</button></div>
					</div>
				</div>

				<div class="setting_control_section">
					<div class="title">Power</div>
					<div class="description">Control the kiosk hardware.</div>
					<div class="controls">
						<button id="kiosk_poweroff" class="large_button">Shutdown</button>
						<button id="kiosk_restart" class="large_button">Restart</button>
						
						
					</div>
				</div>

				<div class="setting_control_section" id="development_section">
					<div class="title">Developer Environment</div>
					<div class="description">Start the kiosk in a developer environment with access to the desktop environment and wireless connectivity.</div>
					<div class="controls">
						<button id="kiosk_development" class="large_button">Start in Development Environment</button>
						<button id="kiosk_production" class="large_button" style="display:none;">Start in Production Environment</button>
						
						
					</div>
				</div>

				
				
			</div>

		</div>
	</div>

	<!-- Troubleshooting -->
	<div class="setting setting_troubleshooting">
		<div class="icon">
			<div class="image" style="background-image: url('./img/black/settings/reset.svg');"></div>
		</div>
		<div class="content">

			<div class="setting_header">
				<div class="title">
					Troubleshooting
				</div>

			</div>
			<div class="setting_controls">
				<div class="setting_control_section">
					<div class="title">Interface</div>
					<div class="description">Fix minor errors by reloading.</div>
					<div class="controls">
						<button id="kiosk_refresh" class="large_button">Refresh Interface</button>
					</div>
				</div>
				<div class="setting_control_section">
					<div class="title">Reset</div>
					<div class="description">Remove all configured kiosk settings.  This will <b>not</b> affect any content or activities.</div>
					<div class="controls">
						<button id="clear_caches" class="large_button">Reset</button>
					</div>
				</div>
			</div>
				
				

		</div>
	</div>
