<!-- Help > Getting Started Guide Submenu -->
<div id="info_menu"> 
	
	<!-- Project introduction-->
	<div class="highlight_box">
		<h3>Hello!</h3>
		<p>CLIO can create and exhibit digital interactive activities as a part of your interpretation that adapt to your institution's needs.</p>
		<p>This guide will walk you through turning setting up the kiosk and selecting activities to display when it is placed in ‘Exhibit Mode.’</p>  
		
	</div>

	<!-- Requirements section -->
	<div class="help_header" id="section_requirements">
		<div class="arrow"></div>
		<div class="title">Requirements</div>
	</div>
	<div class="info_section" id="content_requirements" style="display: none">
		
		<!-- Location Subsection-->
		<div class="info_subsection location">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/menu/no_location.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Location
					</div>
				</div>
				<div class="subsection_content">
					<p>Find a location that is accessible by children, adults, and wheelchair users.  The kiosk has an articulating arm that allows the display to rotate vertically to adjust the viewing angle.  This can be done by loosening and tightening the thumbscrews.</p>
				</div>
			</div>
		</div>

		<!-- Power Subsection -->
		<div class="info_subsection power">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/settings/power.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Power
					</div>
				</div>
				<div class="subsection_content">
					<p>To operate efficiently, the kiosk requires a 5.1V 3.5A power supply and a high-quality USB-C cable.  When the kiosk is recieiving insufficient power, it will display a lightning bolt in the upper right corner.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Facilitator Mode Section -->
	<div class="help_header" id="section_facilitatormode">
		<div class="arrow"></div>
		<div class="title">Facilitator Mode</div>
	</div>
	<div class="info_section" id="content_facilitatormode" style="display: none">
		
		<!-- Startup Subsection -->
		<div class="info_subsection startup">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/settings/startup.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Startup
					</div>
				</div>
				<div class="subsection_content">
					<p>The kiosk will automatically enter Facilitator Mode when it is turned on.  This allows facilitators to change which Program is loaded, resume the previously used Activities and add additional Activities they may wish to have as part of their exhibit. Facilitator Mode displays a menu bar tab system relating to core functionalities of the kiosk.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Menu Section -->
	<div class="help_header" id="section_menu">
		<div class="arrow"></div>
		<div class="title">Menu</div>
	</div>
	<div class="info_section" id="content_menu" style="display: none">
		
		<!-- Exhibit Subsection -->
		<div class="info_subsection exhibition">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/menu/exhibit_mode.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Exhibit
					</div>
				</div>
				<div class="subsection_content">
					<p>View the currently selected Activities.  Resume the previously loaded activities, or select new ones using ‘Choose an Activity’.  After selecting activities, enter ‘Exhibit Mode’.</p>
				</div>
			</div>
		</div>

		<!-- Facilitation Subsection -->
		<div class="info_subsection facilitation">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/menu/facilitation.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Facilitation
					</div>
				</div>
				<div class="subsection_content">
					<p>Provides facilitators with program information, such as goals, objectives, facilitation instructions and discussion references.</p>
				</div>
			</div>
		</div>

		<!-- Activities Subsection -->
		<div class="info_subsection activities">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/menu/activities.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Activities
					</div>
				</div>
				<div class="subsection_content">
					<p>Preview and select which activities are visible in ‘Exhibit Mode’.  Activities are categorized by type and intended audience.</p>
				</div>
			</div>
		</div>

		<!-- Settings Subsection -->
		<div class="info_subsection settings">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/menu/settings.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Settings
					</div>
				</div>
				<div class="subsection_content">
					<p>Change the display brightness, choose which program is loaded by default on startup and troubleshoot common problems.</p>
				</div>
			</div>
		</div>

		<!-- Accessibility Subsection -->
		<div class="info_subsection accessibility">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/menu/accessibility.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Accessibility
					</div>
				</div>
				<div class="subsection_content">
					<p>Enable contrast modes and change text settings to improve readability.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Activities Section -->
	<div class="help_header" id="section_activity">
		<div class="arrow"></div>
		<div class="title">Activities</div>
	</div>
	<div class="info_section" id="content_activity" style="display: none">
		
		<!-- Navigation Subsection -->
		<div class="info_subsection navigating">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/settings/navigation.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Navigating
					</div>
				</div>
				<div class="subsection_content">
					<p>Use the Activities menu, or tap ‘Choose an Activity’ on the Home page.  Tap on any activity to preview how the activity will appear once the kosk is put into 'Exhibit Mode'.  While on the Activity menu or a preview, tap on the plus to select it and tap again to deselect it.  After selecting at least one activity, return to the Exhibit page and tap ‘Exhibit Mode’. </p>
				</div>
			</div>
		</div>

		<!-- Customization Subsection -->
		<div class="info_subsection customization">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/settings/edit.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Customization
					</div>
				</div>
				<div class="subsection_content">
					<p>Activity content is stored on this kiosk, allowing it to work without an active connection to the internet.  Altering configuration files to update the content of activities requires access to a keyboard and the internal computer.  This should not be done remotely.  There is a guide available concerning the configuration of each activity type. </p>
				</div>
			</div>
		</div>

		<!-- Activity Types Subsection -->
		<div class="info_subsection types">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/settings/apps.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Types
					</div>
				</div>
				<div class="subsection_content">
					<p>This kiosk includes twelve different types of activities, each ranging in complexity and customization options.  These templates build activities that are behave the same but contain variations in their content.</p>
					<p>&nbsp;</p>
					
					<!-- Available activity types are loaded here. -->
					<div id="available_types"></div>
				</div>
			</div>
		</div>

		<!-- Audiences Subsection -->
		<div class="info_subsection audiences">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/settings/audience.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Audiences
					</div>
				</div>
				<div class="subsection_content">
					
					<!-- Available Audiences are loaded here. -->
					<div id="available_audiences"></div>
				</div>
			</div>
		</div>

	</div>

	<!-- Exhibit Mode Section -->
	<div class="help_header" id="section_exhibitmode">
		<div class="arrow"></div>
		<div class="title">Exhibit Mode</div>
	</div>
	<div class="info_section" id="content_exhibitmode" style="display: none">
		
		<!-- Entering Exhibit Mode Subsection -->
		<div class="info_subsection exhibit_mode">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/media/play.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Entering Exhibit Mode
					</div>
				</div>
				<div class="subsection_content">
					<p>After the desired Activities are selected, the facilitator can enter Exhibit Mode to temporarily disable further configuration of the kiosk. Exhibit Mode restricts kiosk users to Activities selected by the facilitator.</p>

					<p>Exhibit Mode displays the Activities selected by the facilitator as a carousel that users can navigate. Tapping on an activity will open it full screen and the user can return home at any time to access other Activities. Additionally, the kiosk will automatically return home after an amount of time without interaction.</p>
				</div>
			</div>
		</div>

		<!-- Returning to Facilitator Mode Subsection -->
		<div class="info_subsection facilitator_mode">
			<div class="icon">
				<div class="image" style="background-image: url('./img/black/menu/facilitation.svg');"></div>
			</div>
			<div class="content">
				<div class="info_subheader">
					<div class="title">
						Returning to Facilitator Mode
					</div>
				</div>
				<div class="subsection_content">
					<p>While the kiosk is in Exhibit Mode, tap the very bottom right corner of the screen three times.  This will temporarily display as small gear icon.  Tapping this icon will prompt you to enter the Facilitator PIN Code, which is viewable in the Settings menu.  Once you enter the PIN, hit confirm to return to Exhibit Mode.</p>
				</div>
			</div>
		</div>

	</div>

</div>