<div id="dichotomous_key">
	<div class="content_wrapper">
			
		<div class="questions">
			<div class="prompt"></div>
			<div class="options">
				
				<div data-qid="" data-goto-type="" data-goto-location="" id="dk_option1" class="option unselected">
					<div class="bullet"></div>
					<div class="text"></div>
				</div>
				<div data-qid="" data-goto-type="" data-goto-location="" id="dk_option2" class="option unselected">
					<div class="bullet"></div>
					<div class="text"></div>
				</div>

			</div>
			<div class="button_bar">
				<div class="button disabled" id="dk_next">Next Question</div>
			</div>
		</div>
		
			
		<div class="media">
			<div class="media_wrapper">
				
			</div>
		</div>
	</div>
	<div class="overlay_wrapper" style="display: none;">
		<div class="confirm_selection">
			<div class="top_text"></div>
			<div class="check_match pulsate-fwd"><span>Check Your Answer</span></div>
			<div class="bottom_text"></div>
		</div>
		<div class="answer" style="display: none;">
			<div class="user_answer">
				<div class="header"></div>
				<div class="image">
					<div class="close"></div>
					<div class="more_info"></div>
				</div>
				<div class="title"></div>
			</div>
			<div class="correct_answer">
				<div class="header"></div>
				<div class="image">
					<div class="close"></div>
					<div class="more_info"></div>
				</div>
				<div class="title"></div>
			</div>
			<div id="action_button"><span></span></div>
		</div>
	</div>
	<div class="content" style="display: none;">
		<div id="activity_questions"></div>
		<div id="activity_answers"></div>
	</div>
</div>
