/* jplayer.default.css */
/* Contains classes for the audio player. */

#jp-control-bar {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}

#jp-control-bar.black {
  background-color: black;
}

#jp-control-bar.white {
  background-color: gray;
}


body.facilitator #jp-control-bar {
  }

#jp-control-bar .jp-controls {
  width: 100px;
  height: 50px;
  float: left;
}

#jp-control-bar .jp-controls button {
  width: 50px;
  height: 50px;
  float: left;
  background-color: transparent;
  border: 0;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 75%;
}

#jp-control-bar .jp-controls button:focus {
  outline: 0;
}

#jp-control-bar.black .jp-controls button.jp-play {
  background-image: url('../../../../img/white/media/play.svg');
}

#jp-control-bar.white .jp-controls button.jp-play {
  background-image: url('../../../../img/black/media/play.svg');
}

#jp-control-bar.black .jp-controls button.jp-rewind {
  background-image: url('../../../../img/white/media/replay_10.svg');
}

#jp-control-bar.white .jp-controls button.jp-rewind {
  background-image: url('../../../../img/black/media/replay_10.svg');
}

#jp-control-bar.black.jp-state-playing .jp-controls button.jp-play {
  background-image: url('../../../../img/white/media/pause.svg');
}

#jp-control-bar.white.jp-state-playing .jp-controls button.jp-play {
  background-image: url('../../../../img/black/media/pause.svg');
}

#jp-control-bar .jp-progress {
  width: calc(100% - 390px);
  height: 50px;
  margin: 0 15px;
  float: left;
}

#jp-control-bar .jp-progress .jp-seek-bar {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  float: left;
  cursor: pointer;
}

#jp-control-bar.black .jp-progress .jp-seek-bar {
  background-color: rgba(255,255,255,0.5);
}

#jp-control-bar.white .jp-progress .jp-seek-bar {
  background-color: rgba(0,0,0,0.5);
}

#jp-control-bar .jp-progress .jp-seek-bar .jp-play-bar {
  height: 30px;
  float: left;
}

#jp-control-bar.black .jp-progress .jp-seek-bar .jp-play-bar {
    background-color: white;

}

#jp-control-bar.white .jp-progress .jp-seek-bar .jp-play-bar {
    background-color: black;

}

#jp-control-bar .jp-duration {
  width: 50px;
  height: 50px;
  float: left;
  line-height: 50px;

  -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

#jp-control-bar.black .jp-duration {
    color: white;

}

#jp-control-bar .jp-audio-controls {
  width: 210px;
  height: 50px;
  float: left;
}

#jp-control-bar .jp-audio-controls #volume {
  width: 50px;
  height: 50px;
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 75%;
}

#jp-control-bar.black .jp-audio-controls #volume {
  background-image: url('../../../../img/white/media/volume_up.svg');
  }

#jp-control-bar.white .jp-audio-controls #volume {
  background-image: url('../../../../img/black/media/volume_up.svg');
  }

#jp-control-bar.black .jp-audio-controls #volume.muted {
  background-image: url('../../../../img/white/media/volume_off.svg') !important;
}

#jp-control-bar.white .jp-audio-controls #volume.muted {
  background-image: url('../../../../img/black/media/volume_off.svg') !important;
}

#jp-control-bar .jp-audio-controls .volume-current {
  width: 150px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

#jp-control-bar .jp-audio-controls .volume-current .volume-level {
  width: 30px;
  height: 30px;
  margin: 10px 5px;
  float: left;
  cursor: pointer;
}

#jp-control-bar.black .jp-audio-controls .volume-current .volume-level {
  background-color: rgba(255,255,255,0.5);
}

#jp-control-bar.white .jp-audio-controls .volume-current .volume-level {
  background-color: rgba(0,0,0,0.5);
}

#jp-control-bar .jp-audio-controls .volume-current .volume-level.first {
  margin: 10px 5px 10px 0;
}

#jp-control-bar .jp-audio-controls .volume-current .volume-level.last {
  margin: 10px 0 10px 5px;
}

#jp-control-bar.black .jp-audio-controls .volume-current .volume-level.selected {
  background-color: rgba(255,255,255,1.0);
}

#jp-control-bar.white .jp-audio-controls .volume-current .volume-level.selected {
  background-color: rgba(0,0,0,1.0);
}


#jquery_jplayer_1 {
  position: relative;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: black;
}

#jquery_jplayer_1 video {
  width: 100% !important;
  height: calc(100vh - 50px) !important;
}


/* @end */
/* @group NO SOLUTION error feedback */
.jp-no-solution {
  padding: 5px;
  font-size: .8em;
  background-color: #eee;
  border: 2px solid #009be3;
  color: #000;
  display: none; }

.jp-no-solution a {
  color: #000; }

.jp-no-solution span {
  font-size: 1em;
  display: block;
  text-align: center;
  font-weight: bold; }

/* @end */
