/* Hide the header and menu when this activity is opened. */
body.type_video #header,
body.type_video #menu  {
	display: none;
}

/* Activity configuration option for when audio is disabled.. */
#jp-control-bar.no-audio .jp-audio-controls {
	display: none;
}

#jp-control-bar.no-audio .jp-progress {
  width: calc(100% - 190px);
}

/* Replay button that is displayed when a video is finished */
#replay {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	background-color: rgba(0,0,0,0.5);
	background-size: 50px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../../../../img/white/media/replay.svg');
}