/* Don't forget your activity container! */
#activity_content #slideshow {
	width: 100%;
	height: 100%;
	display: flex;
}

/* Individual slide styles */
#slideshow .slide_title {
	font-weight: 900;
	font-size: 2em;
}

/* Reveal JS control arrow style overrides */
#slideshow.reveal .controls {
	top: unset !important;
	bottom: unset !important;
	right: unset !important;
	left: unset !important;
	position: unset !important;
}

#slideshow.reveal .controls .navigate-right {
	top: 50% !important;
	right: 5px !important;
	bottom: unset !important;
	position: absolute !important;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 0;
	background-color: rgba(0,0,0,0.5);
	background-image: url('../../../../img/white/chevron/right.svg');
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 25px;
}

#slideshow.reveal .controls .navigate-left {
	top: 50% !important;
	left: 5px !important;
	right: unset !important;
	bottom: unset !important;
	position: absolute !important;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 0;
	background-color: rgba(0,0,0,0.5);
	background-image: url('../../../../img/white/chevron/left.svg');
	background-size: 35px;
	background-position: center center;
	border-radius: 25px;
	background-repeat: no-repeat;
}

#slideshow.reveal .controls .navigate-down {
	bottom: 5px !important;
	left: 50% !important;
	right: unset !important;
	top: unset !important;
	position: absolute !important;
	width: 50px;
	height: 50px;
	margin: 0 0 0 -25px;
	background-color: rgba(0,0,0,0.5);
	background-image: url('../../../../img/white/chevron/down.svg');
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 25px;
}

#slideshow.reveal .controls .navigate-up {
	bottom: unset !important;
	left: 50% !important;
	right: unset !important;
	top: 5px !important;
	position: absolute !important;
	width: 50px;
	height: 50px;
	margin: 0 0 0 -25px;
	background-color: rgba(0,0,0,0.5);
	background-image: url('../../../../img/white/chevron/up.svg');
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 25px;
}

#slideshow.reveal .controls .controls-arrow:before, 
#slideshow.reveal .controls .controls-arrow:after {
	content: none !important;
}

#slideshow.reveal .controls[data-controls-back-arrows="faded"] .navigate-left.enabled, 
#slideshow.reveal .controls[data-controls-back-arrows="faded"] .navigate-up.enabled {
	opacity: 1 !important;
}

#slideshow.reveal .controls .enabled {
	opacity: 1 !important;
}

#slideshow.reveal .slides:not(.overview) > section, 
#slideshow.reveal .slides:not(.overview) > section > section {
	
}

#slideshow.reveal .slides .slide_content {
	padding: 0 100px !important;
	font-size: 1.25em;
}

#slideshow.reveal.overview .slides section.present {
	outline: 10px solid rgba(0, 0, 0, 0.5) !important;
}

/* Button that toggles the slideshow overview */
#toggle_overview {
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 100;
	background-image: url('../../../../img/white/interact/view_module.svg');
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 5px;
}