
@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 300;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: italic;
font-weight: 300;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-LightOblique.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 500;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: italic;
font-weight: 500;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-MediumOblique.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 700;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-Heavy.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: italic;
font-weight: 700;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-HeavyOblique.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: normal;
font-weight: 900;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-Black.woff') format('woff');
}

@font-face {
font-family: 'Avenir LT';
font-style: italic;
font-weight: 900;
src: local('Avenir LT'), url('./@Media/font/AvenirLTStd-BlackOblique.woff') format('woff');
}

#main.accessibility_font_face_default {
    font-family: 'Avenir LT' !important;
}

#desktop {
	background-color: #a9b341;
	background-image:url('./@Media/background.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#menu_content_wrapper {
	background-color: #a9b341;
	background-image:url('./@Media/background.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

body.homescreen #desktop .setup_container .activities .facilitator_activity.unselected {
	background-color: #a9b341 !important;
}

body.homescreen #desktop .setup_container .activities .facilitator_activity.unselected .activity_image,
body.homescreen #desktop .setup_container .activities .facilitator_activity.unselected .activity_link {
	background-color: #656b27 !important;
}

body.homescreen #desktop .setup_container .activities .facilitator_activity .activity_link {
	background-image: url('../../img/black/chevron/right.svg');
}

body.user #exhibit {
	background-image: url('./@Media/swoop.svg');
	background-position: bottom center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #cbd18d;
}
body.user #exhibit .owl-carousel .owl-nav .owl-next {
	background-color: #656b27;
}
body.user #exhibit .owl-carousel .owl-nav .owl-prev {
	background-color: #656b27;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #656b27;
}

body.user #exhibit .owl-carousel .activity_card .image .overlay {
	background-color: #a9b341;
	color: #656b27;
}

body.user #exhibit .exhibit_header {
	text-indent: -9999px;
	background-image: url('./@Media/naturesnetworks.png');
	background-position: center center;
	background-size: 65%;
	background-repeat: no-repeat;
}

body.user #exhibit .owl-carousel .activity_card .details {
	background-color: #656b27;
	color: white;
}

body #setup_header {
	text-indent: -9999px;
	background-image: url('./@Media/naturesnetworks.png');
	background-position: center center;
	background-size: 55%;
	background-repeat: no-repeat;
}

body #facilitation_title {
	text-indent: -9999px;
	background-image: url('./@Media/naturesnetworks.png');
	background-position: center center;
	background-size: 45%;
	background-repeat: no-repeat;
	width: 100%;
}

body.homescreen .mCSB_scrollTools .mCSB_draggerRail {
	background-color: #cbd18d !important;
}

body.homescreen .mCSB_scrollTools .mCSB_dragger_bar {
	background-color: #656b27 !important;
	background-image: url('../../img/black/drag.svg');
}

body.homescreen .mCSB_scrollTools .mCSB_buttonUp,
body.homescreen .mCSB_scrollTools .mCSB_buttonDown {
  background-color:  #656b27 !important;
}

body.homescreen .mCSB_scrollTools .mCSB_buttonUp {
  background-image: url('../../img/black/chevron/up.svg');
}

body.homescreen .mCSB_scrollTools .mCSB_buttonDown {
  background-image: url('../../img/black/chevron/down.svg');
}