/* Don't forget your activity container! */
#activity_content #render {
	height: 100%;
	width: 100%;
}

/* Overlay button  in the top right to open the list of other objects. */
#render_menu {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 65px;
	right: 5px;
	z-index: 110;
	background-color: black;
	background-size: 35px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../../../../img/white/interact/list.svg');
	border-radius: 5px;
}

/* Container for the object render canvas and information button. */
#render_content {
	height: 100%;
	width: 100%;
	display: flex;
}

/* Flex wrapper for the render canvas. */
#render_content .view {
	flex: 1;
	background-color: #2b2b2b;
}

/* Final container for the Three.js Library canvas. */
#render_view {
	width: calc(100vw + 5px);
	height: calc(100vh - 55px);
}

/* Menu that opens when the user interacts with the overlay icon. */
#render_content #render_sidebar {
	width: calc(100vw - 10px);
	padding: 5px;
	position: absolute;
    height: calc(100vh - 70px);
    right: 0;
    display: block;
    background-color: #dedede;
    z-index: 100;
}

#render_content #render_sidebar .sidebar_header {
	height: 50px;
	width: calc(100% - 55px);
	text-align: center;
	font-size: 2em;
	font-weight: 900;
	line-height: 60px;
	margin: 0 0 5px 0;
	background-color: rgba(0,0,0,0.25);
	border-radius: 5px;
}

#render_content #render_sidebar #sidebar_content {
	height: calc(100vh - 125px);
}

#render_sidebar .object_link {
	height: 50px;
	margin: 0 0 5px 0;
	background-color: rgba(0,0,0,0.15);
	display: flex;
	line-height: 55px;
	font-weight: 900;
	font-size: 1.25em;
	text-align: center;
	border-radius: 5px;
}

#render_sidebar .object_link:last-child {
	margin: 0;
}


#render_sidebar .object_link .title {
	flex: 1;
	height: 50px;
}

/* Information button about the object shown at the bottom left of the screen. */
#activity_content #render_info {
	position: absolute;
	bottom: 5px;
	left: 5px;
	height: 40px;
	min-width: 40px;
	display: flex;
	z-index: 100;
}

#activity_content #render_info .button {
	height: 40px;
	width: 40px;
	background-color: black;
	background-image: url('../../../../img/white/menu/info.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 35px;
	border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

#activity_content #render_info .title {
	background-color: rgba(0,0,0,0.5);
	color: white;
	line-height: 45px;
	font-size: 1.25em;
	font-weight: 900;
	padding: 0 20px;
	border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
